description = "新聞內容"
==
<?php
use Morelink\Web\Models\News;
function onStart() {
    $size = $this['size'];
    $menu = $this['select_menu'];
    $locale = $this['locale'];
    $this['more']=\Config::get("morelink.web::language.".$locale.".more");
    $this['newsList'] = News::where("menu_id",$menu->id)->where("status",1)->orderBy('top','desc')->orderBy("start_date","desc")->orderBy("id","desc")->take($size)->get();
    if($this['newsList']->isEmpty()){
         $this['newsList'] = News::whereIn("menu_id",$menu->children()->lists("id"))->where("status",1)->orderBy('top','desc')->orderBy("start_date","desc")->orderBy("id","desc")->take($size)->get();
    }
}
?>
==
{% for news in newsList %}
<div class="news_item dp_table">
    <div class="news_date">
        <span class="news_day">{{news.start_date|date('Y')}}</span>
        <span class="news_month">{{news.start_date|date('m')}}</span>
    </div>
    <div class="news_content">
        <h5><a href="{{news.menu.linkHref~'/'~news.id}}">{{news.title}}</a></h5>
        <span class="news_category">{{news.menu.title}}</span>
    </div>
</div>
{% endfor %}
<a href="{{select_menu.linkHref}}" title="{{more ~ select_menu.title}}" class="news_tab_more">{{more ~ select_menu.title~"..."}}</a>