description = "學院Banner"
==
{% set contact = site.contact_info.0 %}
<header class="clearfix">
    <div class="header_top">
        <div class="top_bar">
            <div class="container">
                <div class="top_contact">
                    <img src='{{"assets/#{style}/images/icon_phone.png" |theme}}' alt="icon_phone">
                    <span>電話 {{contact.telephone}}</span>
                    <span>傳真 {{contact.fax}}</span>
                </div>
                <form action="https://www.google.com/search" rel="noopener noreferre" target="_blank" id="search" method="get">
                    <div class="input-group">
                        <input type="hidden" name="sitesearch" value="url">
                        <input type="text" id="s" class="form-control" name="q" placeholder="請輸入您欲搜尋的關鍵字" onfocus="if(this.value==this.defaultValue)this.value='';" value="請輸入您欲搜尋的關鍵字" onblur="if(this.value=='')this.value=this.defaultValue;" vinput="">
                        <span class="input-group-btn">
                            <button class="btn btn-default search_btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="yellow_line"></div>
        </div>
    </div>
    
    <div class="header_middle">
        {% partial layout_folder ~ '/logo'%}
    </div>
    
    <div class="header_bottom">
        <div class="container relative">
            <div class="header_link clearfix">
                {% if not unit_sites.isEmpty %}
                <div class="lang pull-left">
                    {% for unit_site in unit_sites%}
                        <a href="{{unit_site.rootMenu.linkHref}}" rel="noopener noreferre" target="_blank">{{unit_site.localeName|default('home')}}</a>
                        {% if not loop.last %}
                            　|　
                        {%endif %}
                    {% endfor %}
                </div>
                {% endif %}
                <div class="header_sitemap pull-right">
                    <a href="#">站內搜尋</a>　|　<a href="{{'unit_sitemap'|page({domain:site.domain})}}?lang={{site.locale}}">網站地圖</a>
                </div>
            </div>
        </div>
        <div class="fixed_layout">
            <div class="container">
                <div class="row">
                    {% partial layout_folder ~ '/dropdown_menu'%}
                </div>
            </div>
        </div>
    </div>
    
    {% if current.id == homeMenu.id %}
        {% partial layout_folder ~ '/slider' sliders=site.sliders%}
    {%else%}
        <div class="banner">
            <img src="{{site.inner_banner.path}}" alt="banner">
        </div>    
    {%endif%}
    
    <div class="under_line"></div>
</header>
