description = "學院Banner"
==
{% set contact = site.contact_info.0 %}
<header class="clearfix">
    <div class="header_top">
        <div class="top_bar">
            {% partial 'common_'~locale~'/header_search' contact = site.contact_info.0%}
        </div>
    </div>
    
    <div class="header_middle">
        <div class="container">
            <div class="logo">
                <a href="{{homeMenu.linkHref}}"><img src='{{"assets/#{style}/images/logo.png"|theme}}' alt="logo"></a>
            </div>
            <div class="header_link">
                {% if not unit_sites.isEmpty %}
                <div class="lang pull-left">
                    {% for unit_site in unit_sites%}
                        <a href="{{unit_site.rootMenu.linkHref}}" rel="noopener noreferre" target="_blank">{{unit_site.localeName|default('home')}}</a>
                        {% if not loop.last %}
                            　|　
                        {%endif %}
                    {% endfor %}
                </div>
                {% endif %}
                <div class="header_sitemap pull-right">
                    <a href="#">Search in Site</a>　|　<a href="{{'unit_sitemap'|page({domain:site.domain})}}?lang={{site.locale}}">Sitemap</a>
                </div>
            </div>
            
        </div>
    </div>
    
    <div class="header_bottom">
        <div class="fixed_layout">
            <div class="container">
                <div class="row">
                    {% partial layout_folder ~ '/dropdown_menu'%}
                </div>
            </div>
        </div>
    </div>
    
    {% if current.id == homeMenu.id %}
        {% partial layout_folder ~ '/slider' sliders=site.sliders%}
    {%else%}
        <div class="banner">
            <img src="{{site.inner_banner.path}}" alt="banner">
        </div>    
    {%endif%}
    
    <div class="under_line"></div>
</header>