<h3>必選修科目</h3>

<p>本系課程規劃以培養俄語及俄羅斯區域研究之人才為主。為了配合本校、本院之中、長程發展計畫，及因應社會變遷和學生實際需求，從96學年度開始，系務與所務各自獨立，惟師資仍然互相支援。本系經多次課程改革之後，逐漸發展和增加實用性課程，例如商用俄語課程和翻譯課程，希望可以幫助學生順利進入就業市場並透過文化和文學相關課程，發展學生的國際觀，和熟悉俄國文化、政治現狀。</p>

<p>課程規劃分為語言課程與非語言（文化/文學）課程兩大部分，語言課程又分為基礎課程（大一～大四俄語，大ㄧ～大四會話，語法、實習、聽力練習...)，進階課程（俄語習作、新聞俄語、進修俄語…）、應用課程（俄文翻譯、商用俄語、口譯課程）三大部分。非語言課程除俄國文學史、俄國戲劇之外，全部排在低年級（一、二年級），以中文授課。</p>

<p>不同學年度的課程依據該學年度頒布之必選修科目與學分數為準。</p>