<p>本校有多項校內獎補助辦法，提供學生申請獎助學金，安心就學或善用獎助學金投資培養專業技能，包括校內學業獎學金、驚聲獎學金及本系各項獎助學金。</p>

<p>
	<br>
</p>

<p><strong>校內獎學金</strong></p>

<p>學業獎學金(免申請，由學校直接頒發給系級學業成績第一名學生)、覺生獎學金、驚聲獎學金、淡水出生獎學金、體育獎學金、本校教職員工子女助學金、僑生獎學金、瀛玖紀念甲種獎學金、費氏獎學金、陳步雲先生紀念獎學金、馬惕乾先生紀念獎學金、身心障礙學生獎學金、許詩英先生紀念獎學金、權小衡獎學金、逸璋紀念獎學金、居偉立女士獎學金、友愛獎學金、林壽楨先生紀念獎學金、廣三企業集團曾總裁正仁獎學金、周秋火先生紀念獎學金、何香先生紀念獎學金、夜間校友獎學金、李宏志先生獎學金、研究生獎學金、榮譽教授林雲山先生獎學金等，<strong>請於學生事務處公告時間提出申請。</strong></p>

<p>
	<br>
</p>

<p><strong>本系獎學金</strong></p>

<p>俄文系獎學金、蘇淑燕老師扶助經濟不利學生獎助學金、系友獎學金、急難救助金、境外生獎學金</p>

<p align="center">
	<br>
</p>