<p align="center"><strong>淡江大學俄文系109學年度第2學期學生校外實習甄選公告</strong></p>

<p align="right">
	<br>
</p>

<p align="right">
	<br>
</p>

<p>一、依本系「淡江大學俄國語文學系學生校外實習實施要點」辦理。</p>

<p>二、本次甄選非全時全職校外實習學生，實習資格為本系四年級學生或延修生，第一學期須修畢「商用俄語(二)」或「觀光俄語口譯」課程，並於下學期已加選修「商用俄語(二)」或「經貿俄語口譯」，即可參加甄選。</p>

<p>三、本學期實習時間預計自110年3月29日起至5月31日止，由實習單位和實習生視情況自行調配每週的實習時數實習，惟以每1學分實習32小時以上為原則，總實習時數以64小時為上限。</p>

<p>三、具有下列各款情形之一者，得優先推薦參加校外實習：</p>

<ol>
	<li>凡具備俄語檢定(TORFL)一級(B1)或二級(B2)證照者。</li>
	<li>以居住於鄰近實習機構所在地之學生。</li>
	<li>持低收入戶或具清寒證明者。</li>
</ol>

<p>&nbsp; &nbsp; 實習名額視當學年度校外實習機構提供之名額而定，得列候補若干名。</p>

<p>四、申請參加校外實習之學生請於110年3月12日(星期五)下午4時30分前檢送下列文件至系辦：</p>

<ol>
	<li>&nbsp;歷年成績單。</li>
	<li>履歷表(貼照片)及中文自傳。</li>
	<li>相關證照影本。</li>
	<li>「校外實習志願表」(僅參考，須視面談和廠商需要調整)</li>
</ol>

<p>五、實習甄選日期：110年3月17日(星期三)中午12:00外語大樓FL106外語特區；未出席者視同放棄甄選。</p>