<p align="center"><strong>大三出國留學甄選辦法及流程</strong></p>

<p><strong><u>甄選辦法</u></strong></p>

<p>申請資格：學籍為二年級或三年級之轉學生</p>

<p>審查委員組成：本系專任教師</p>

<p>審查指標：a.大一上、下學期及大二上學期主科須全數及格；</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; b.須參加本系舉辦之「大三出國考試」；</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; c.交換生(公費生)除參加「大三出國考試」之外，另需取得俄語檢定考試A2證書；</p>

<p>錄取資格：a.自費生以「大三出國考試」成績排序為依據；</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; b.交換生(公費生)以「大三出國考試」成績排序為依據外，另需檢附俄語檢定考試A2證書；</p>

<p>審查歷程紀錄及結果：</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; a. 自費生及交換生(公費生)合計共錄取20名為原則；</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; b. 若交換生(公費生)申請人數不足，該缺額則留用至自費生名額。</p>

<p><strong><u>甄選流程</u></strong></p>

<p>甄選方式：依每學年第2學期第一次系務會議之公告。</p>

<p>考試時間：每學年第1學期期末或第2學期期初。</p>

<p>志願填寫時間：約於每年3月中旬前截止，請依系辦公告之時間辦理。</p>

<p>應備文件：一年級上、下學期成績單和二年級上學期成績單(可申請正式成績單，亦可以學校每學期寄發的成績單為證明)。</p>

<p>依審查會議結果公告正取生與備取生名單，並印發相關資料給正取生，請同學們利用春假與家長討論。</p>

<p>春假後(或4月中)一週內請正取生將<strong>報名表</strong>、<strong>家長同意書</strong>、<strong>性向測驗結果表(需家長簽名表示看過)</strong>等連同<strong>保證金新台幣10000元</strong>繳回系辦，始完成報名手續。正取生應於報名截止日期前，繳齊上述文件和保證金予承辦助教；否，則視同放棄，將另由備取生依次遞補。</p>

<p>應屆役男須辦理兵役緩徵才能出國，將由系上統一出具兵役公文至各縣市兵役課辦理。</p>

<p><strong><u>消防講習</u></strong></p>

<p>於每學年第二學期期末考前二週（週一或週五），由外語學院統一安排一小時之消防講習，邀請淡水消防隊人員說明防火防災措施、逃生避難要領等，以加強留學同學的消防常識及應變能力。</p>

<p><strong><u>保險事宜</u></strong></p>

<p>強制規定每位留學生在俄國購買健康醫療險，費用一年約美金100至150元，在俄國就醫時直接出示保險症。另規定學生自行在台灣購買一年期的旅遊平安保險，出國前須將該保險單據影本傳真、郵寄或親自交至系上；未購買保險者，學生和家長須填寫切結書。</p>

<p><strong><u>定期回報機制</u></strong></p>

<p>出國前由學生投票選舉1名學生代表，定期與系上聯繫；助教也定期以電子郵件、網路通訊平台或是即時通與同學們連絡，關心學生在國外之課業及生活狀況。</p>

<p>出國前，助教將提供每位留學生一組系網頁「大三出國留學專區」的登入帳號和密碼，請學生主動定期上留學專區網頁填報(1)安全檢核表、(2)留學生活感言、(3)留學心得和(4)留學生活相片上傳，分享生活點滴、感想及參加活動的情形，也讓本系、院及校內有關單位同步掌握留學生在留學國的相關狀態，在需要時能夠立即提供協助。</p>

<p>如遇緊急事件，同學應立即通知留學國外國學生辦事處主任、老師或相關人員，請求給予協助，另立即與淡江大學系上主任、助教取得聯繫報告事件之情形，必要時也應與當地外交部代表處聯繫，以維護學生自身之權益。</p>

<p><strong><u>成績抵免</u></strong></p>

<p>正取生若放棄資格，備取生<strong>依序遞補</strong>。</p>

<p>大三出國成績抵免說明：赴俄進修所修課程均與在台灣俄文系開設之必修、選修課程相同，分上、下學期共修7門課程24學分，包括體育。</p>

<p>3. &nbsp;大三出國留學成績採認說明：</p>

<p class="oc-text-bordered">(1) &nbsp; &nbsp;出國留學學生應按規定於「大三出國留學計畫」合作學校學系或中心修讀規定課程，修業成績可予以採認為108學年度淡江大學俄文系三年級開課之所有系必修和系選修學分和成績。</p>