<p><span class="fr-video fr-dvb fr-draggable" contenteditable="false" draggable="true"><iframe width="560" height="315" src="https://www.youtube.com/embed/AgT4Xhyc7NA" title="YouTube video player" frameborder="0" allowfullscreen=""></iframe></span>
	<br>
</p>