<h3><strong><span style="font-size:28px">輔修本系之規定</span></strong></h3>

<p><span style="font-size:18px">需修滿下列學分方可取得俄文系輔系：</span></p>

<p><span style="font-size:18px">大一俄語(4/4)、俄語會話(一)(2/2)</span></p>

<p><span style="font-size:18px">大二俄語(4/4)、俄語會話(二)(2/2)</span></p>

<p><span style="font-size:18px">合計：24 學分</span></p>

<p><span style="font-size:20px"><a href="http://oa.tku.edu.tw/Law.nsf/8a19663a9342a6a748256e6b00446781/7c7266df4e2ec406482571780006ce1e?OpenDocument">淡江大學學生修讀輔系辦法</a></span></p>

<p>&nbsp;</p>

<h3><strong><span style="font-size:28px">雙主修本系之規定</span></strong></h3>

<p><span style="font-size:18px">依「淡江大學各學系學生修讀雙主修辦法」第八條規定「修讀雙主修學生，除修滿本學系應修科目學分及加修學系所訂科目40學分以上外，並應修滿加修系全部專業(門)必修科目與學分始可取得雙主修資格。」</span></p>

<p><span style="font-size:18px">97學年度以後入學之學生，雙主修本系之學生除修滿前項規定學分外，亦須通過俄語檢定(TORFL)一級(B1)，始得畢業。</span></p>

<p><span style="font-size:20px"></span><a href="http://oa.tku.edu.tw/Law.nsf/8a19663a9342a6a748256e6b00446781/1cd341483ca0b3674825717800047d6c?OpenDocument"><span style="font-size:20px">淡江大學學生修讀雙主修辦法</span></a></p>