<p>The following credits are required to obtain Minor in Russian.</p>

<p><em>Russian for first year</em> (4/4), <em>Russian Conversation (I)</em> (2/2)</p>

<p><em>Russian for second year</em> (4/4), <em>Russian Conversation (II)</em> (2/2)</p>

<p>Total: 24 credits</p>

<p>&nbsp;</p>

<p>The <em>Article 8 of the</em>
	<em>Tamkang University’s Regulations for the Double Majors&nbsp;</em>stipulates the following<em>:</em> “In addition to completing the full number of credits required for graduation as stipulated by the original department, students taking part in a double major program shall complete 40 credits and all required professional courses stipulated by the double major department”. Moreover, since the year 2008-2009, students must pass the Test of Russian as a Foreign Language (TORFL) B1 to be eligible for graduation.</p>