<p><span style="font-size:20px;"><strong>海外華語教學計畫</strong></span></p>

<p><span style="font-size:14px;">ㄧ、海外華語教學合作學校：依公告</span></p>

<p><span style="font-size:14px;">&nbsp; &nbsp; &nbsp; &nbsp;108學年合作學校為俄羅斯遠東聯邦大學</span></p>

<p><span style="font-size:14px;">二、必備條件</span></p>

<ul>
	<li><span style="font-size:14px;">本系派遣當學年度仍具學籍且有註冊之在學學生</span></li>
	<li><span style="font-size:14px;">須修習俄文相關課程至少三年以上</span></li>
	<li><span style="font-size:14px;">須具有俄語檢定一級(B1)以上證書者</span></li>
	<li><span style="font-size:14px;">須修過或正在修習華語教學學分學程者，或具有華語教學能力證照(教育部「對外華語教學能力認證」、華語教學認證(Teaching of Chinese to Speaker of other languages(TCSOL)或各大學華語師資班結業證書。(擇一)</span></li>
</ul>

<p><span style="font-size:14px;">三、其他加分條件：華語教學實務經驗(須有證明文件)</span></p>

<p><span style="font-size:14px;">四、報名時間：依公告時間辦理</span></p>

<p><span style="font-size:14px;">五、報名文件：</span></p>

<ul>
	<li><span style="font-size:14px;">全學年成績單</span></li>
	<li><span style="font-size:14px;">說明二、說明三指定之相關證明文件</span></li>
	<li><span style="font-size:14px;">華語教學計畫(中文)，須包括前言(目的、自傳、簡歷)、學習過程(行程安排)和預期目標(預計達到的成效)等。</span></li>
</ul>