<p><span style="font-size:20px"><strong><span style="color:#ffffff"><span style="background-color:#0000ff">繁星推薦入學</span></span></strong></span></p>

<p><strong><span style="font-size:20px">招生名額 9</span></strong></p>

<p><span style="font-size:18px">可填志願數 31</span></p>

<p><strong><span style="font-size:20px">外加名額 2</span></strong></p>

<p><span style="font-size:18px">可填志願數22</span></p>

<p>&nbsp;</p>

<h3><strong><span style="font-size:20px">繁星推薦學測、英聽檢定科目標準</span></strong></h3>

<ol>
	<li><span style="font-size:18px">學測英文科級分均標</span></li>
</ol>

<p><span style="font-size:20px"><strong>分發比序項目</strong></span></p>

<ol>
	<li><span style="font-size:18px">在校學業成績全校排名百分比</span></li>
	<li><span style="font-size:18px">學測英文級分</span></li>
	<li><span style="font-size:18px">學測國文級分</span></li>
	<li><span style="font-size:18px">學測國文、英文之級分總和</span></li>
	<li><span style="font-size:18px">英文學業成績總平均全校排名百分比</span></li>
	<li><span style="font-size:18px">國文學業成績總平均全校排名百分比</span></li>
	<li><span style="font-size:18px">歷史學業成績總平均全校排名百分比</span></li>
</ol>