<p>Наш факультет определил образовательные задачи по воспитанию профессионалов в области русистики, обладающих высоким уровнем гуманитарной подготовки. Наряду с обучением в своей профессиональной области, мы уделяем значительное внимание формированию собственного мировоззрения и способности к независимому мышлению, а также многостороннему развитию и пониманию общественных ценностей для повышения способностей учащихся в сфере международной коммуникации. На основе принятой Институтом иностранных языков стратегии «единства в многообразии» по реализации образовательных целей в эпоху глобализации, мы нацелены на всестороннее развитие с учётом межнационального многообразия. Тамканский университет также реализует стратегии «воспитания выдающихся личностей, &nbsp;совершенствования стандартов частного высшего образования, создания первоклассной среды для академических исследований». Образовательная программа нашего факультета учитывает необходимость языкового обучения и формирования практических навыков, в рамках которой студенты не только получают необходимые знания в области аудирования, устной речи, чтения, письма и перевода, но и изучают культуру и историю России, а также знакомятся с международной ситуацией, что позволяет им разбираться в существующем положении дел.&nbsp;</p>

<p>На основании вышеперечисленных задач, образовательных целей и профессиональных тенденций, наш факультет определил следующую стратегию:</p>

<p>1. Создание практических учебных курсов по переводу и русскому языку делового общения, в соответствии с имеющимся спросом на рынке труда, а также для овладения учащимися навыками использования русского языка при деловом общении и ведении переговоров. Это позволит студентам быть более конкурентоспособными. Формирование пороговых требований к выпускникам, которые предполагают участие в экзамене и получение сертификата первого уровня Теста по русскому языку как иностранному.</p>

<p>2. Создание мультиязыкового обучающего интернет-портала для &nbsp;онлайн-образования и удалённого обучения, применения преподавателями вспомогательного портала при обучении, использования цифровых учебных материалов и другой информации в электронном формате, обеспечивая среду изучения русского языка вне зависимости от места нахождения учащегося.</p>

<p>3. Выпускники обязаны успешно сдать Экзамен по русскому языку как иностранному и получить сертификат первого уровня в качестве условия окончания программы бакалавриата.</p>

<p>4. Реализация программы по обучению разговорным навыкам на основе группового деления учащихся, с учётом их особенностей, для более эффективного обучения.</p>

<p>5. Продолжение программы стажировки для учащихся третьего курса, с целью укрепления навыков применения русского языка и формирования способностей к межкультурному взаимодействию и коммуникации.</p>

<p>6. Осуществление обучающей поддержки во внеурочное время, для восполнения пробелов ограниченных учебных часов и обучения в больших группах.&nbsp;</p>

<p>7. Дальнейшее введение курсов по литературоведению и культурологии, для лучшего понимания учащимися русской литературы и культуры, а также расширения международной перспективы и гуманитарных знаний.</p>

<p>8. Развитие системы кураторских занятий, посредством выделения времени &nbsp;для бесед с куратором на тему личного жизненного опыта, для улучшения способности к обучению и воспитанию должного мировоззрения, а также независимого мышления.</p>

<p>◆ Цели административного развития нашего университета</p>

<p>◎ Миссия</p>

<p>Передача традиции от поколения к поколению; формирование новой культуры в обществе; воспитание талантливых людей, стремящихся к духовному совершенствованию</p>

<p>◎ Перспективы</p>

<p>1. Продолжение и развитие идей частного образования</p>

<p>2. Создание превосходной академической среды</p>

<p>◎ Ценности</p>

<p>1. Скромность и твёрдая воля</p>

<p>2. Воспитание добродетелей</p>

<p>3. Академическая свобода</p>

<p>4. Автономия университета</p>

<p>◎ Стратегия</p>

<p>1. Постоянное совершенствование инфраструктуры четырёх кампусов</p>

<p>2. Практическая стратегия воспитания талантливых специалистов</p>

<p>3. Создание успешных образцов для подражания</p>

<p>4. Накопление социальных ресурсов и преимуществ согласно «Эффекту Матфея»</p>

<p>5. Достижение преимуществ конкурентоспособности согласно «Стратегии голубого океана»</p>

<p>◎ Управление образованием</p>

<p>1. Система лидерства</p>

<p>2. Совмещение 4 типов управления</p>

<p>3. Проверка качества на всех этапах</p>

<p>4. Организационная активизация</p>

<p>◆ Цели административного развития Института иностранных языков</p>

<p>◎ Миссия</p>

<p>Воспитание специалистов в области языкознания, литературоведения и культурологии</p>

<p>◎ Перспективы</p>

<p>1. Углубление интернационализации</p>

<p>2. Создание основ всестороннего самообразования в эпоху глобализации</p>

<p>◎ Ценности</p>

<p>1. Просвещение, открытость, этические ценности</p>

<p>2. Обучение учащихся нескольким иностранным языкам</p>

<p>3. Литературоведение и культурологические исследования</p>

<p>◎ Стратегия</p>

<p>1. Интенсивное языковое обучение с целью овладения студентами всеми навыками использования иностранного языка</p>

<p>2. Создание мультиязыкового обучающего интернет-портала для &nbsp;онлайн-образования</p>

<p>3. Разработка специализированных языковых программ&nbsp;</p>

<p>4. Расширение программы стажировки для учащихся третьего курса</p>

<p>5. Проведение сертификации уровня знания иностранного языка с целью повышения конкурентоспособности учащихся на рынке труда</p>