<h2><span style="font-size:20px"><span style="color:#ffffff"><strong><span style="background-color:#ff0000">四技二專甄選入學(一般組)</span></strong></span></span></h2>

<p><strong><span style="color:#000000"><span style="font-size:20px">招生類別/名額：外語群日語類&nbsp; 1名</span></span></strong></p>

<p>&nbsp;</p>

<p><strong><span style="color:#000000"><span style="font-size:20px">招生方式：</span></span></strong></p>

<p><span style="font-size:18px">參加由技專校院招生委員會聯合會辦理之「110學年度科技校院四年制及專科學校二年制甄選入學招生」，每位考生至多可報名一般組3個志願。</span></p>

<p>&nbsp;</p>

<p><strong><span style="font-size:20px">適用對象：</span></strong></p>

<ol>
	<li><span style="font-size:18px">高級中等學校專業群科應屆或非應屆畢業生</span></li>
	<li><span style="font-size:18px">高級中等學校綜合高中應屆或非應屆畢業生（應屆畢業生截至高三上學期需已修畢專門學程科目25學分以上）</span></li>
	<li><span style="font-size:18px">高級中等學校普通科非應屆畢業生</span></li>
	<li><span style="font-size:18px">其他符合報考四技二專同等學力資格之考生</span></li>
</ol>

<p><span style="font-size:18px">*需先參加當學年度四技二專統一入學測驗且不得有2科目為0級分<br />
&nbsp;*普通科應屆畢業生不可報名參加本入學管道</span></p>

<p>&nbsp;</p>

<p><strong><span style="font-size:20px">限制條件：</span></strong></p>

<ol>
	<li><span style="font-size:18px">考生須先參加110學年度四技二專統一入學測驗，且各科成績不得有2科(含)以上為0分。</span></li>
	<li><span style="font-size:18px">考生於本校志願中僅能選擇1個系組參加甄選。</span></li>
</ol>

<p>&nbsp;</p>

<p><strong><span style="font-size:20px">統測成績採計：四技二專統一入學測驗成績</span></strong></p>

<p>&nbsp;</p>

<p><span style="font-size:20px"><strong>採計類別：</strong></span></p>

<p><span style="font-size:20px">外語群日語類（包含「商管外語群(二)」、「商管外語群(三)」、「商管外語群(四)」之跨群類考生）</span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px"><strong>採計方式</strong></span></p>

<ol>
	<li><span style="font-size:18px">甄選第一階段將依照統一入學測驗各科原始級分數（採計國文級分數、英文級分數）進行篩選，通過篩選者可進入第二階段指定項目甄試。</span></li>
	<li><span style="font-size:18px">統一入學測驗各科級分數加權後成績佔甄選總成績40%（採計國文、英文等2科成績）。</span></li>
</ol>

<p>&nbsp;</p>

<p><strong><span style="font-size:20px">第一階段統測成績篩選科目及篩選倍率</span></strong></p>

<table style="font-size:13px">
	<thead>
		<tr>
			<th><span style="font-size:18px">科目</span></th>
			<th><span style="font-size:18px">&nbsp; &nbsp; 篩選倍率</span></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="text-align:center">
			<p><span style="font-size:18px">國文級分數</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="text-align:center">
			<p><span style="font-size:18px">3倍</span></p>

			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="text-align:center">
			<p><span style="font-size:18px">英文級分數</span></p>

			<p>&nbsp;</p>
			</td>
			<td style="text-align:center">
			<p><span style="font-size:18px">2.5倍</span></p>

			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<p><span style="font-size:20px"><strong>成績計算方式</strong></span></p>

<table>
	<thead>
		<tr>
			<th><span style="font-size:18px">採計項目</span></th>
			<th><span style="font-size:18px">說明</span></th>
			<th><span style="font-size:18px">佔總成績比例</span></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="text-align:center"><span style="font-size:18px">統一入學測驗成績</span></td>
			<td style="text-align:center"><span style="font-size:18px">國文&times;1倍<br />
			&nbsp;英文&times;1.5倍</span></td>
			<td style="text-align:center"><span style="font-size:18px">40%</span></td>
		</tr>
		<tr>
			<td style="text-align:center">
			<p>&nbsp;</p>

			<p><span style="font-size:18px">備審資料審查</span></p>
			</td>
			<td style="text-align:center">
			<p>&nbsp;</p>

			<p><span style="font-size:18px">請詳見下方指定項目甄試說明。</span></p>
			</td>
			<td style="text-align:center">
			<p>&nbsp;</p>

			<p><span style="font-size:18px">60%</span></p>
			</td>
		</tr>
		<tr>
			<td colspan="3">
			<p>&nbsp;</p>

			<p><span style="font-size:18px"><span style="color:#0000ff"><span style="background-color:#ffff00">【指定項目甄試說明】</span></span><br />
			備審資料審查評分標準：<br />
			專題製作學習成果20%、專業實習（含實驗、實務）科目學習報告（成果）20%、自傳20%、外語能力證明20%、競賽獲獎或證照證明20%。<br />
			<br />
			<span style="color:#0000ff"><span style="background-color:#ffff00">【備審資料上傳內容】</span></span><br />
			◎專題製作學習成果(必繳)<br />
			◎專業實習〈含實驗、實務〉科目實習報告〈成果〉(必繳)<br />
			◎自傳(必繳)<br />
			◎外語能力證明(必繳)<br />
			◎競賽獲獎或證照證明(必繳)<br />
			<br />
			<span style="color:#0000ff"><span style="background-color:#ffff00">【備審資料上傳說明】</span></span><br />
			&nbsp;專題製作學習成果、專業實習（含實驗、實務）科目學習報告（成果）、自傳、外語能力證明、競賽獲獎或證照證明。</span></p>
			</td>
		</tr>
	</tbody>
</table>

<h2><strong><span style="font-size:20px">其他相關說明</span></strong></h2>

<p><span style="font-size:18px">須通過學校及學系規定之外語能力畢業門檻始得畢業。</span></p>

<p>&nbsp;</p>

<p><strong><span style="font-size:18px"><span style="background-color:#ff0000"><a href="https://techexpo.moe.edu.tw/search/"><span style="color:#ffffff">技訊網2021</span></a></span></span></strong></p>

<p><a href="https://adms.tku.edu.tw/"><strong><span style="color:#ffffff"><span style="font-size:18px"><span style="background-color:#0000ff">淡江大學招生策略中心</span></span></span></strong></a></p>