<p><strong><span style="font-size:18px"><big>2018 歌唱大賽精華版</big></span></strong></p>

<p><big><a href="http://youtu.be/90n9weLikp8">http://youtu.be/90n9weLikp8</a></big></p>

<p>&nbsp;</p>

<p><span style="font-size:18px"><strong><big>2017 歌唱大賽精華版</big></strong></span></p>

<p><big><a href="http://youtu.be/SSlK2x2VmNA">http://youtu.be/SSlK2x2VmNA</a></big></p>

<p>&nbsp;</p>

<p><strong><span style="font-size:18px"><big>2016 歌唱大賽精華版</big></span></strong></p>

<p><big><a href="http://youtu.be/TBMbhEy3hX8">http://youtu.be/TBMbhEy3hX8</a></big></p>