<p><span style="color:#ffffff;"><strong><span style="font-size:20px;"><span style="background-color:#ff0000;">特殊選才</span></span></strong></span></p>

<p><strong><span style="font-size:20px;">招生名額 3</span></strong></p>

<p><strong><span style="font-size:20px;">特殊選才資格：</span></strong></p>

<p><span style="font-size:18px;">須符合以下所列資格之一：</span></p>

<ol>
	<li><span style="font-size:18px;">參加國際或全國性或縣市外語競賽獲獎，並持有證明者。&nbsp;</span></li>
	<li><span style="font-size:18px;">就讀高中職外語班，成績優異，如全民英檢、多益、雅思等官方舉辦英文能力檢定 成績並持有證明者。&nbsp;</span></li>
	<li><span style="font-size:18px;">參加高中職外語相關競賽表現優良，如全民英檢、多益、雅思等官方舉辦英文能力 檢定成績並持有證明者。&nbsp;</span></li>
	<li><span style="font-size:18px;">符合經濟弱勢資格（低收入戶或中低收入戶）且外語成績優良，如全民英檢、多益、 雅思等官方舉辦英文能力檢定成績並可提供相關佐證資料者。</span></li>
</ol>

<p><strong><span style="font-size:20px;">招生對象</span></strong></p>

<p><span style="font-size:18px;">特殊才能、</span><span style="font-size:18px;">不同教育資歷：</span></p>

<ol>
	<li><span style="font-size:18px;">境外臺生</span></li>
	<li><span style="font-size:18px;">新住民及其子女</span></li>
	<li><span style="font-size:18px;">實驗教育學生</span></li>
	<li><span style="font-size:18px;">經濟弱勢學生</span></li>
	<li><span style="font-size:18px;">持境外學歷報考且同時持國外具公信力之入學用大型測驗成績者</span></li>
</ol>

<p><span style="font-size:20px;"><strong>考試項目：書面審查</strong></span></p>

<p><span style="font-size:18px;">指定繳交資料</span></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:800px;">
	<tbody>
		<tr>
			<td>評分項目</td>
			<td>占總成績比例</td>
			<td>同分參酌順序</td>
		</tr>
		<tr>
			<td>1.學歷(力)證明（如學生證、畢業證書、非 學校型態實驗教育學生身分證明或其他 同等學力證明影本等）</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
		</tr>
		<tr>
			<td>

				<p>2.高中(職)歷年在校成績正本（含班級、類 組名次），或國外具公信力之入學用大型 測驗成績者等、自學成績證明等</p>

				<p>*如無法提出高中(職)在學成績證明或上述 成績者，得以其他成績證明取代，並於該成 績證明內敘明理由。</p>
			</td>
			<td>10%</td>
			<td>2</td>
		</tr>
		<tr>
			<td>3.特殊選才資格證明（競賽成果或特殊表現 證明）</td>
			<td>80%</td>
			<td>1</td>
		</tr>
		<tr>
			<td>4.自傳（含個人成長歷程、申請動機、專業 特殊表現）</td>
			<td>10%</td>
			<td>3</td>
		</tr>
		<tr>
			<td>5.其他有助於審查之資料（如：社團、幹部、 語文能力檢定或技術檢定證明…等）</td>
			<td>依所附資料得於上述2~4項內酌予加分。</td>
			<td>&nbsp;</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>