<h1><strong>淡江大學國際企業俄文就業學分學程</strong></h1>

<h3><strong><u><a href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/%E5%AD%B8%E5%88%86%E5%AD%B8%E7%A8%8B/International%20Russian%20Accredited%20Program%20for%20Enployment%20Training-Application%20conditions.pdf">實施規則</a></u></strong></h3>

<h3><u><strong><a href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/%E5%AD%B8%E5%88%86%E5%AD%B8%E7%A8%8B/International%20Russian%20Accredited%20Program%20for%20Enployment%20Training-Application%20Form.pdf">學分學程修習申請表</a></strong></u></h3>

<h3><u><strong><a href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/%E5%AD%B8%E5%88%86%E5%AD%B8%E7%A8%8B/International%20Russian%20Accredited%20Program%20for%20Enployment%20Training-Certification%20Form.pdf">學分學程認證申請表</a></strong></u></h3>

<h3><u><strong><a href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/%E5%AD%B8%E5%88%86%E5%AD%B8%E7%A8%8B/International%20Russian%20Accredited%20Program%20for%20Enployment%20Training-%20Courses%20list.pdf">學分學程課程清單20180308(106-2修改)</a></strong></u></h3>