<p style="text-align: center;">Факультет русского языка и литературы Тамканского университета (Тайвань, Даньшуй)</p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;">Дальневосточный федеральный университет (Россия, Владивосток)</p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;">Институт русского языка и культуры Московского государственного университета имени М.В.Ломоносова (Россия, Москва)</p>

<p style="text-align: center;"><img alt="" src="https://www.tfux.tku.edu.tw/storage/app/media/Russian/%E6%9C%AA%E5%91%BD%E5%90%8D.png" style="height:160px; width:446px" /></p>

<p>__________________________________________________________________________________________________________________________________________________________________________________</p>

<p>&nbsp;</p>

<p style="text-align: center;"><span style="font-size:20px"><strong>К 70-летию Тамканского университета</strong></span></p>

<p style="text-align: center;"><span style="font-size:20px"><strong>5 &ndash; 8 ноября 2020 г.</strong></span></p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;"><span style="font-size:16px"><strong>Информационное письмо</strong></span></p>

<p style="text-align: center;">&nbsp;</p>

<p style="text-align: center;"><span style="font-size:16px"><strong>Уважаемые коллеги!</strong></span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px">Приглашаем вас принять участие в VI Международной &nbsp;научно-практической конференции <strong>&laquo;Русское языкознание и литературоведение &ndash; 2020&raquo;</strong>, организованной совместно факультетом русского языка Тамканского университета (Тайвань, Даншуй) и Дальневосточным федеральным университетом (Россия, Владивосток) при содействии Института русского языка и культуры Московского государственного университета имени М.В.Ломоносова. Конференция состоится <strong>5 &ndash; 8 ноября 2020 года</strong> в <strong>Тамканском университете (Тайвань). </strong></span></p>

<p><span style="font-size:14px"><strong>В программе конференции:</strong></span></p>

<ol>
	<li><span style="font-size:14px"><strong>Выступления и дискуссии по следующим направлениям:</strong></span></li>
</ol>

<ul>
	<li><span style="font-size:14px">актуальные проблемы современной лингвистики;</span></li>
	<li><span style="font-size:14px">традиции и инновации в обучении русскому языку и культуре;</span></li>
	<li><span style="font-size:14px">русский язык и межкультурная коммуникация;</span></li>
	<li><span style="font-size:14px">мировой литературный процесс: традиции и современность.</span></li>
</ul>

<ol>
	<li><span style="font-size:14px"><strong>Школы-семинары по направлениям:</strong></span></li>
</ol>

<ul>
	<li><span style="font-size:14px">Современные концепции преподавания русского языка и литературы;</span></li>
	<li><span style="font-size:14px">Актуальные проблемы современной филологии.</span></li>
</ul>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>Рабочие языки конференции &ndash; русский, китайский.&nbsp; </strong></span></p>

<p style="margin-left:54.0pt">&nbsp;</p>

<p><span style="font-size:14px">По окончании конференции участникам будут выданы сертификаты установленного образца об участии в конференции и семинарах от организаторов и ИРЯиК МГУ.</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>График работы конференции:</strong></span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>04.11.2020</strong> &ndash; заезд участников конференции, размещение в гостинице;</span></p>

<p><span style="font-size:14px"><strong>05.11.2020</strong> &ndash; работа школ-семинаров;</span></p>

<p><span style="font-size:14px"><strong>06.11.2020</strong> &ndash; открытие конференции, пленарное заседание, работа научных секций; банкет;</span></p>

<p><span style="font-size:14px"><strong>07.11.2020</strong> &ndash; работа научных секций; закрытие конференции, подведение итогов, вручение сертификатов; концерт; экскурсия по Даншую;</span></p>

<p><span style="font-size:14px"><strong>08.11.2020</strong> -&nbsp; экскурсия по Тайбею с посещением Национального музея Гугун, Мемориального комплекса Чан Кайши, высотного здания 101;</span></p>

<p><span style="font-size:14px"><strong>09.11.2020</strong> - &nbsp;отъезд участников конференции.</span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>Срок приёма заявок &ndash; по 29 февраля 2020 года. </strong></span></p>

<p><span style="font-size:14px">Заполнить заявку и приложить аннотацию доклада (250-300 слов) и ключевые слова можно <strong><a href="https://enroll.tku.edu.tw/course.aspx?cid=TFUX20201105-1108">здесь</a> . </strong>Для заполнения онлайн-заявки необходимо в верхней панели выбрать опции Online Submission и Off-Campus Registration. Заполнить поля можно по-русски.</span></p>

<p><span style="font-size:14px">Оргкомитет оставляет за собой право отбора докладов.</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px">Материалы конференции в виде статей будут опубликованы в 3-м номере рецензируемого научного журнала &laquo;Лингвострановедческие, социокультурные и лингвистические аспекты в изучении и преподавании иностранного языка и литературы&raquo;. С требованиями к публикации можно ознакомиться в Приложении 1.</span></p>

<p><span style="font-size:14px"><strong>Срок приема полных текстов</strong> <strong>докладов &ndash; по 25 октября 2020 года</strong> в электронной форме с пометкой &laquo;Доклад&raquo; по одному из указанных в конце письма контактных адресов.</span></p>

<p style="margin-left:6.0pt">&nbsp;</p>

<p style="margin-left:6.0pt"><span style="font-size:14px">Организационный взнос &ndash;<strong> 1500 </strong><strong>TWD</strong> (по текущему курсу 50 USD).</span></p>

<p style="margin-left:6.0pt"><span style="font-size:14px">Взнос принимается наличными на конференции во время регистрации и включает в себя организационные расходы, издание программы и материалов конференции, питание в дни работы научных секций, банкет, трансфер от и до аэропорта для зарубежных участников.</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px">Перелёт и проживание участников за счёт командирующей стороны.</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>Информацию по проживанию см. в &nbsp;Приложении 2. </strong></span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size:14px">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Приглашение для участников высылается по электронной почте с электронной подписью председателя оргкомитета и печатью факультета.</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px">Контактная информация для связи с Оргкомитетом конференции:</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px">Су Марина Ивановна, e-mail: <a href="mailto:112556@mail.tku.edu.tw">112556@mail.tku.edu.tw</a></span></p>

<p><span style="font-size:14px">Найдина Татьяна Евгеньевна, e-mail: <a href="mailto:133212@mail.tku.edu.tw">133212@mail.tku.edu.tw</a></span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px">Официальный сайт факультета: <a href="http://www.tfux.tku.edu.tw/main.php">http://www.tfux.tku.edu.tw/main.php</a></span></p>

<p><span style="font-size:14px">Тел.: +886-26215656 доб. 2711 (деканат)&nbsp;</span></p>

<p><span style="font-size:14px">E-mail: <a href="mailto:tfux@www2.tku.edu.tw">tfux@www2.tku.edu.tw</a></span></p>

<p>&nbsp;</p>

<p style="margin-left:42.4pt"><span style="font-size:14px">Адрес: 151 Ying-chuan Road, Tamsui, New Taipei City, Taiwan 25137, Republic of China&nbsp;&nbsp;</span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size:14px">Председатель Оргкомитета&nbsp;</span></p>

<p><span style="font-size:14px">Лю Хуан-Син,</span></p>

<p><span style="font-size:14px">кандидат филологических наук, доцент,</span></p>

<p><span style="font-size:14px">декан факультета русского языка и литературы</span></p>

<p><span style="font-size:14px">Тамканского университета</span></p>