<h1>測驗簡介</h1>

<p><span style="color:#0000ff"><span style="font-size:24px"><strong><span style="background-color:#f0f8ff">聖彼得堡國立大學和聖彼得堡國立大學語言測試中心</span></strong></span></span></p>

<p><span style="font-size:14px">聖彼得堡國立大學（SPbU）是俄羅斯第一所大學。 它由皇帝彼得一世在1724年1月22日成立的。今天, 有3萬多名學生和研究生在23個學院科系學習。2018以來，聖彼得堡國立大學一直是到俄羅斯學習的外國公民最有吸引力的大學。</span></p>

<p><span style="font-size:14px">大學為外國人提供了廣泛的機會，讓他們熟悉俄語，瞭解俄羅斯文化和歷史。您可以參加<a href="https://online.spbu.ru/">聖彼得堡國立大學學習線上課程</a>，<a href="https://spbu.ru/virtual_tour/">虛擬參觀聖彼得堡國立大學</a>，參觀該<a href="https://spbu.ru/universitet/ekspozicii-i-kollekcii-spbgu">大學的博物館</a>，閱讀<a href="https://publishing.spbu.ru/catalog/periodicheskie_izdaniya/">聖彼得堡國立大學的出版物</a>，並參加&ldquo;<a href="https://russian4foreigners.spbu.ru/">俄語作為外語&rdquo;附加教育計畫</a>。</span></p>

<p><span style="font-size:14px">聖彼得堡國立大學語言測試中心成立於1997年8月22日，以組織和進行俄語作為外語（TRKI/TORFL）的國家測試。 20多年來，聖彼得堡國立大學一直是測試外國公民領域的領導者之一，並為個人和組織提供服務。</span></p>

<p><span style="font-size:14px">根據俄羅斯聯邦科學和高等教育部的第471號命令，聖彼得堡國立大學被列入以俄語作為外語進行測試的教育機構名單，並被授權頒發國家頒發的證書。</span></p>

<p><span style="font-size:14px">聖彼得堡國立大學頒發的證書是唯一的官方檔，根據歐洲共同語言能力（CEFR）在俄羅斯和國外確認俄語作為外語的熟練程度。</span></p>

<p><span style="font-size:14px"><strong>TRKI </strong><strong>是什麼</strong><strong>？</strong></span></p>

<p><span style="font-size:14px">&mdash;&mdash; 這是現代外國公民俄語考試，符合最佳國際品質標準。TRKI由6個不同的級別組成，從初級（A1）到第四級（C2）。</span></p>

<p><span style="font-size:14px">&mdash;&mdash; 5個考試部分測驗應用各個領域的語言能力：&ldquo;寫作&rdquo;、&ldquo;詞彙、語法&rdquo;、&ldquo;閱讀&rdquo;、&ldquo;聽力&rdquo;和&ldquo;口試&rdquo;。</span></p>

<p><span style="font-size:14px"><strong>初級</strong><strong>/A1</strong> &nbsp;成功完成測試意味著考生有俄語知識的最低水準，足以滿足日常溝通中有限數量的情況。 此外，初級證書意味著考生有足夠的知識來進一步學習語言並達到下一個（基本）水準的俄語知識。</span></p>

<p><span style="font-size:14px"><strong>基礎級</strong><strong>/А2</strong> 成功完成測試意味著考生有俄語知識的初始水準，足以滿足日常和文化交流領域有限情況下的基本交流需求。 基礎水準是在有限程度上從任何專業活動的最低基礎。基礎級是進入俄羅斯聯邦公民所需的俄語知識的最低水準。</span></p>

<p><span style="font-size:14px"><strong>TRKI-I/B1</strong>成功完成測試意味著考生有俄語基本水準，這使得考生能夠按照俄羅斯作為外國的國家標準在生活，教育和專業領域滿足基本溝通需求。 進入俄羅斯高等教育機構需要這個級別的證書。 這個級別的證書給進入聖彼得堡國立大學的本科課程的附加積分。</span></p>

<p><span style="font-size:14px"><strong>TRKI-II/B2</strong> 成功完成測試意味著考生有足高的俄語水準，這使得考生能夠滿足所有通信領域的交際需求。 在這個級別的語言能力允許一個人在俄羅斯進行專業活動，作為工程，人文和自然科學領域的專家。 申請本科學位或博士學位需要此證書。這個級別的證書給進入聖彼德堡國立大學的博士課程的附加積分。</span></p>

<p><span style="font-size:14px"><strong>TRKI-III/C1</strong> 成功完成測試意味著考生可以在俄語語言，翻譯，編輯，記者，外交官，經理方面在講俄語的團隊中進行專業活動。</span></p>

<p><span style="font-size:14px"><strong>TRKI-IV/C2</strong>成功完成測試意味著考生的俄語水準很高，與母語水準相當。持有本證書是獲得語言學博士學位的必要條件，這使您有權參加俄語領域的所有類型的教學和研究活動。</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px">每個級別的測試包括5個部分：&quot;語法，詞彙&quot;，&quot;閱讀&quot;，&quot;寫作&quot;，&quot;聽力&quot;，&quot;口試&quot;。</span></p>

<p><span style="font-size:14px">最常見的是第一級測試（TRKI-I）/B1，所以將使用TRKI-I/B1級別的示例簡要描述每個子部分。</span></p>

<p><span style="font-size:14px">&quot;語法，詞彙&quot;部分的目的是檢查詞彙的知識。 這個級別的活躍字典的主要部分服務於生活和社會文化領域。</span></p>

<p><span style="font-size:14px">&quot;閱讀&quot;部分在測試理解具有複雜語法結構的文本的技能，語言的各種表達手段以及處理文本的能力。</span></p>

<p><span style="font-size:14px">&quot;寫作&quot;部分在測試使用各種交際形式和手段以書面表達自己的交際目標的技能和能力。</span></p>

<p><span style="font-size:14px">&quot;聽力&quot;部分在測試通過聽得理解話語和對話中包含的資訊的能力：主題，主要思想，每個語義部分的主要和附加資訊，具有足夠的完整性，深度和準確性。</span></p>

<p><span style="font-size:14px">&quot;口試&quot;部分的目的是測試獨立產生對應於所提出的主題連貫語句的技能和能力;基於不同的語義結構和方向的閱讀或聆聽文本建立語句; 傳達內容，閱讀或聆聽文本的主要思想。</span></p>

<p><span style="font-size:14px"><strong>海外的聖彼得堡國立大學語言測試中心</strong></span></p>

<p><span style="font-size:14px">考試是在40多個國家從阿根廷到日本的100個中心進行的。</span></p>

<p><span style="font-size:14px">現在，甚至不需要離開您的家，您可以通過在聖彼得堡國立大學通過俄語作為外語（TRKI）的國家測試來考您的實力！</span></p>

<p style="margin-left:177.0pt"><span style="font-size:14px"><strong>影響力指數</strong></span></p>

<p><span style="font-size:14px">證書被英國，希臘，德國，西班牙，義大利，中國，韓國，波蘭，土耳其，瑞士等國家的1000多個組織（包括聯合國）認可。</span></p>

<p><span style="font-size:14px"><strong>聖彼德堡國立大學是</strong><strong>ALTE</strong><strong>的附屬成員</strong></span></p>

<p><span style="font-size:14px">&nbsp;<strong>測試費</strong></span></p>

<table align="center" border="1" cellpadding="0" cellspacing="1" style="width:100.0%">
	<tbody>
		<tr>
			<td style="width:30.84%">
			<p><span style="font-size:14px"><strong>级</strong><strong>別</strong></span></p>
			</td>
			<td style="width:68.72%">
			<p><span style="font-size:14px"><strong>測試費</strong><strong>，貨幣</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:30.84%">
			<p><span style="font-size:14px"><strong>初級</strong><strong>/A1</strong></span></p>
			</td>
			<td rowspan="6" style="width:68.72%">
			<p><span style="font-size:14px">根據組織中設置的費用</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:30.84%">
			<p><span style="font-size:14px"><strong>基礎級</strong><strong>/А2</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:30.84%">
			<p><span style="font-size:14px"><strong>TRKI-I/B1</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:30.84%">
			<p><span style="font-size:14px"><strong>TRKI-II/B2</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:30.84%">
			<p><span style="font-size:14px"><strong>TRKI-III/C1</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:30.84%">
			<p><span style="font-size:14px"><strong>TRKI-IV/C2 </strong></span></p>
			</td>
		</tr>
	</tbody>
</table>

<div style="clear:both;">&nbsp;</div>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>將舉行的測試</strong></span></p>

<table align="center" border="1" cellpadding="0" cellspacing="1" style="width:100.0%">
	<tbody>
		<tr>
			<td style="width:46.86%">
			<p><span style="font-size:14px"><strong>级</strong><strong>別</strong></span></p>
			</td>
			<td style="width:52.7%">
			<p><span style="font-size:14px"><strong>日期</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:46.86%">
			<p><span style="font-size:14px"><strong>初級</strong><strong>/A1</strong></span></p>
			</td>
			<td rowspan="4" style="width:52.7%">
			<p>&nbsp;</p>

			<p><span style="font-size:14px">根據考試時間表</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:46.86%">
			<p><span style="font-size:14px"><strong>基礎級</strong><strong>/А2</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:46.86%">
			<p><span style="font-size:14px"><strong>TRKI-I/B1</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:46.86%">
			<p><span style="font-size:14px"><strong>TRKI-II/B2</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:46.86%">
			<p><span style="font-size:14px"><strong>TRKI-III/C1</strong></span></p>
			</td>
			<td style="width:52.7%">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:46.86%">
			<p><span style="font-size:14px"><strong>TRKI-IV/C2 </strong></span></p>
			</td>
			<td style="width:52.7%">
			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<div style="clear:both;">&nbsp;</div>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>身心障礙者測試程式</strong></span></p>

<p><span style="font-size:14px">有身心障礙的考生將可單獨條件進行俄語測試<sup>1</sup>。</span></p>

<p><span style="font-size:14px"><strong>準備材料</strong></span></p>

<p><span style="font-size:14px">在<a href="https://testingcenter.spbu.ru/materials.html">聖彼得堡國立大學的網站</a>上提供準備俄語作為外語的國家測試的培訓測試。</span></p>

<p>&nbsp;</p>

<p style="margin-left:177.0pt"><span style="font-size:14px"><strong>報名參加考試</strong></span></p>

<p><span style="font-size:14px">要註冊測試，您必須:</span></p>

<ul>
	<li><span style="font-size:14px">聯繫_____<em>組織名稱</em>___的電子郵件_________ 或親自到以下地址：____<em>組織位址</em>___。 在個人報名的情況下，需要有一份身份證件或其他官方檔，其中包含關於姓名正確拼寫的資訊，俄語和拉丁語寫的名字。</span></li>
</ul>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>聯繫方式</strong></span></p>

<p><span style="font-size:14px">聖彼得堡國立大學語言測試中心:</span></p>

<p><span style="font-size:14px"><strong>地址</strong>: Lieutenant Schmidt堤岸, 11/2</span></p>

<p><span style="font-size:14px">聖彼得堡, 199034,</span></p>

<p><span style="font-size:14px">俄羅斯</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>開放時間</strong>: 工作日, 09:00-18:00</span></p>

<p><span style="font-size:14px"><strong>電話</strong><strong>:</strong>&nbsp; (812)&nbsp;325 11 24</span></p>

<p><span style="font-size:14px"><strong>電子信箱</strong><strong>:</strong> <a href="mailto:test.language@spbu.ru">test.language@spbu.ru</a></span></p>

<p><span style="font-size:14px"><strong>網站</strong>: <a href="http://testingcenter.spbu.ru/">http://testingcenter.spbu.ru/</a> &nbsp;</span></p>

<p><span style="font-size:14px"><strong>Instagram: </strong>torfl_spbu</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px">聖彼得堡國立大學出版社(<a href="https://publishing.spbu.ru/catalog/periodicheskie_izdaniya/">https://publishing.spbu.ru/catalog/periodicheskie_izdaniya/</a>),&nbsp;</span></p>

<p><span style="font-size:14px">大學的虛擬之旅(<a href="https://spbu.ru/virtual_tour">https://spbu.ru/virtual_tour</a>),&nbsp;</span></p>

<p><span style="font-size:14px">聖彼得堡国立大學線上課程(<a href="https://online.spbu.ru">https://online.spbu.ru</a>),&nbsp;</span></p>

<p><span style="font-size:14px">&ldquo;俄語作為外語&rdquo;附加教育计划(<a href="https://russian4foreigners.spbu.ru/ru/">https://russian4foreigners.spbu.ru/ru/</a>)</span></p>

<p><span style="font-size:14px">聖彼得堡國立大學招生委員會 (<a href="https://abiturient.spbu.ru/" target="_blank">https://abiturient.spbu.ru</a>)&nbsp;</span></p>

<p><span style="font-size:14px">聖彼得堡国立大學的展覽和收藏&nbsp;(<a href="https://spbu.ru/universitet/ekspozicii-i-kollekcii-spbgu" target="_blank">https://spbu.ru/universitet/ekspozicii-i-kollekcii-spbgu</a>)</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px">組織的連絡人</span></p>

<p><span style="font-size:14px"><strong>地址</strong><strong>:</strong></span></p>

<p><span style="font-size:14px"><strong>工作時間：</strong></span></p>

<p><span style="font-size:14px"><strong>電話</strong>:</span></p>

<p><span style="font-size:14px"><strong>電子郵件</strong><strong>:</strong></span></p>

<p>&nbsp;</p>

<hr />
<p><span style="font-size:24px"><strong>Санкт-Петербургский государственный университет и Центр языкового тестирования СПбГУ</strong></span></p>

<p><span style="font-size:14px">Санкт-Петербургский Государственный Университет (СПбГУ) является первым университетом России. Он учрежден 22 января 1724 г. указом императора Петра I. На сегодняшний день на 23 учебно-научных подразделениях университета обучаются более 30 тысяч студентов и аспирантов. С 2018 г. СПбГУ неизменно остается самым привлекательным вузом для иностранных граждан, приезжаю в России для обучения.</span></p>

<p><span style="font-size:14px">Университет дает широкие возможности для иностранцев познакомиться с русским языком и прикоснуться к русской культуре и истории. Вы можете прослушать <a href="https://online.spbu.ru">онлайн-курсы</a> СПбГУ, можно совершить виртуальный <a href="https://spbu.ru/virtual_tour">тур по СПбГУ</a>, <a href="https://spbu.ru/universitet/ekspozicii-i-kollekcii-spbgu">тур по музеям университета</a>,&nbsp; ознакомиться с <a href="https://publishing.spbu.ru/catalog/periodicheskie_izdaniya/">изданиями СПбГУ</a>, а также записаться на <a href="https://russian4foreigners.spbu.ru/ru/">дополнительную образовательную программу &laquo;Русский как иностранный&raquo;</a>.</span></p>

<p><span style="font-size:14px">Центр языкового тестирования СПбГУ был создан 22 августа 1997 года в целях организации и проведения государственного тестирования по русскому языку как иностранному языку (ТРКИ). Вот уже более 20 лет СПбГУ является одним из лидеров в сфере тестирования иностранных граждан и оказывает свои услуги физическим лицам и организациям.</span></p>

<p><span style="font-size:14px">Приказом Министерства науки и высшего образования Российской Федерации от 06.07.2019 № 471 Санкт-Петербургский государственный университет был включен в перечень образовательных организаций, проводящих&nbsp; тестирование по русскому языку как иностранному языку, и уполномочен на выдачу сертификата государственного образца.</span></p>

<p><span style="font-size:14px">Выдаваемый СПбГУ сертификат является единственным официальным документом, подтверждающим уровень владения русским языком как иностранным языком в соответствии с общеевропейскими языковыми компетенциями (CEFR), как в России, так и за её пределами.</span></p>

<p><span style="font-size:14px"><strong>Что такое ТРКИ?</strong></span></p>

<p><span style="font-size:14px">- Это современный тест по русскому языку для иностранных граждан, отвечающий лучшим мировым стандартам качества. ТРКИ - это 6 различных уровней, от элементарного (А1) до четвертого сертификационного (С2).</span></p>

<p><span style="font-size:14px">- Это 5 субтестов, проверяющих языковые компетенции в различных сферах применения языка: &laquo;Письмо&raquo;, &laquo;Лексика. Грамматика&raquo;, &laquo;Чтение&raquo;, &laquo;Аудирование&raquo; и &laquo;Говорение&raquo;.</span></p>

<p><span style="font-size:14px"><strong>Элементарный уровень (ТЭУ)/A1.</strong> Успешное прохождение тестирования означает, что кандидат владеет минимальным уровнем знаний русского языка, достаточным для ограниченного числа ситуаций в повседневном общении. Также сертификат элементарного уровня означает, что кандидат имеет достаточные и необходимые знания для дальнейшего изучения языка и достижения следующего (базового) уровня общего владения русским языком.</span></p>

<p><span style="font-size:14px"><strong>Базовый уровень (ТБУ)/A2.</strong> Успешное прохождение тестирования означает, что кандидат владеет начальным уровнем знаний русского языка, достаточным для основных коммуникативных потребностей в ограниченном числе ситуаций бытовой и культурной сфер общения. Базовый уровень является минимальной базой для занятий какой-либо профессиональной деятельностью в ограниченном объеме. ТБУ является минимальным уровнем знания русского языка необходимым для вступления в гражданство РФ.</span></p>

<p><span style="font-size:14px"><strong>Первый уровень (ТРКИ-I)/B1.</strong> Успешное прохождение тестирования означает, что кандидат имеет средний уровень владения русским языком, который позволяет кандидату удовлетворить основные коммуникативные потребности в бытовой, учебной и профессиональной сферах общения в соответствии с государственным стандартом русского языка как иностранного языка. Сертификат данного уровня необходим для поступления в российское высшее учебное заведение. Сертификат указанного уровня дает дополнительные баллы при поступлении в СПбГУ на программы бакалавриата.</span></p>

<p><span style="font-size:14px"><strong>Второй уровень (ТРКИ-II)/B2.</strong> Успешное прохождение тестирования означает, что кандидат имеет достаточно высокий уровень владения русским языком, который позволяет кандидату удовлетворить коммуникативные потребности во всех сферах общения. Владение языком на данному уровне, позволяет человеку вести профессиональную деятельность на русском языке как специалиста в инженерно-технической, гуманитарной и естественнонаучной областях. Наличие данного сертификата необходимо для получения диплома бакалавра или магистра. Сертификат указанного уровня дает дополнительные баллы при поступлении в СПбГУ на магистерские программы.</span></p>

<p><span style="font-size:14px"><strong>Третий уровень (ТРКИ-III)/C1.</strong> Успешное прохождение тестирования означает, что кандидат может вести профессиональную деятельность на русском языке в качестве филолога, переводчика, редактора, журналиста, дипломата, менеджера, работающего в русскоязычном коллективе.</span></p>

<p><span style="font-size:14px"><strong>Четвертый уровень (TРКИ-IV)/C2.</strong> Успешное прохождение тестирования означает, что кандидат владеет русским языком на высоком уровне, сравнимым с уровнем носителя языка. Наличие данного сертификата является необходимым для получения диплома магистра-филолога, который дает право на все виды преподавательской и научно-исследовательской деятельности в области русского языка.</span></p>

<p><span style="font-size:14px">Тест каждого уровня включает в себя 5 субтестов: &laquo;Грамматика. Лексика&raquo;, &laquo;Чтение&raquo;, &laquo;Письмо&raquo;, &laquo;Аудирование&raquo;, &laquo;Говорение&raquo;.</span></p>

<p><span style="font-size:14px">Самым распространённым является тестирование на первый уровень (ТРКИ-I)/B1, поэтому коротко охарактеризую каждый субтест на примере уровня ТРКИ-I/В1.</span></p>

<p><span style="font-size:14px">Субтест &laquo;Лексика. Грамматика&raquo; направлен на проверку лексического минимума. Основной состав активного словаря данного уровня обслуживает бытовую и социально-культурную сферы общения.</span></p>

<p><span style="font-size:14px">Субтест &laquo;Чтение&raquo; направлен на проверку навыков понимания текста со сложными грамматическими конструкциями, различными выразительными средствами языка, а также умение работать с текстом.</span></p>

<p><span style="font-size:14px">Субтест &laquo;Письмо&raquo; направлен на проверку навыков и умений в выражении своих коммуникативных целей в письменном виде с использованием различных коммуникативных форм и средств.</span></p>

<p><span style="font-size:14px">Субтест &laquo;Аудирование&raquo; направлен на проверку умения понять на слух информацию, содержащуюся в высказывании и диалоге: тему, основную идею, главную и дополнительную информацию каждой смысловой части сообщения с достаточной полнотой, глубиной и точностью.</span></p>

<p><span style="font-size:14px">Субтест &laquo;Говорение&raquo; направлен на проверку навыков и умений самостоятельно продуцировать связные, высказывания соответствующие предложенной теме; строить высказывания на основе прочитанного или прослушанного текста различной смысловой структуры и направленности; передавать содержание, основную идею прочитанного или прослушанного текста.</span></p>

<p><span style="font-size:14px"><strong>Центры тестирования СПбГУ за рубежом</strong></span></p>

<p><span style="font-size:14px">Экзамен проводится в 100 центрах более чем в 40 странах от Аргентины до Японии.</span></p>

<p><span style="font-size:14px">Теперь Вы можете&nbsp;проверить свои силы, пройдя&nbsp;&nbsp;государственное тестирования по русскому зыку как иностранному (ТРКИ) в Санкт-Петербургском университете, даже не выходя из дома!</span></p>

<p><span style="font-size:14px"><strong>Индекс влияния </strong></span></p>

<p><span style="font-size:14px">Сертификат признается более в 1000 организациях (в том числе ООН) в Великобритании, Греции, Германии, Испании, Италии, Китае, Корее, Польше, Турции, Швейцарии и в других странах.</span></p>

<p><span style="font-size:14px"><strong>СПбГУ является аффилированным членом </strong><strong>ALTE</strong><strong>.</strong></span></p>

<p><span style="font-size:14px"><strong>&nbsp;Стоимость Тестирования</strong></span></p>

<table align="center" border="1" cellpadding="0" cellspacing="1" style="width:100.0%">
	<tbody>
		<tr>
			<td style="width:60.02%">
			<p><span style="font-size:14px"><strong>Уровень</strong></span></p>
			</td>
			<td style="width:39.54%">
			<p><span style="font-size:14px"><strong>Стоимость тестирования, валюта</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:60.02%">
			<p><span style="font-size:14px">Элементарный уровень (ТЭУ/А1)</span></p>
			</td>
			<td rowspan="6" style="width:39.54%">
			<p><span style="font-size:14px">Согласно стоимости, установленной в организации</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:60.02%">
			<p><span style="font-size:14px">Базовый уровень (ТБУ/А2)</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:60.02%">
			<p><span style="font-size:14px">Первый сертификационный уровень&nbsp; (ТРКИ-I/В1)</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:60.02%">
			<p><span style="font-size:14px">Второй сертификационный уровень (ТРКИ-II/В2)</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:60.02%">
			<p><span style="font-size:14px">Третий сертификационный уровень (ТРКИ-III/C1)</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:60.02%">
			<p><span style="font-size:14px">Четвёртый сертификационный уровень (ТРКИ-IV/C2)</span></p>
			</td>
		</tr>
	</tbody>
</table>

<div style="clear:both;">&nbsp;</div>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>Ближайшие тестовые</strong> <strong>сессии</strong></span></p>

<table align="center" border="1" cellpadding="0" cellspacing="1" style="width:100.0%">
	<tbody>
		<tr>
			<td style="width:67.3%">
			<p><span style="font-size:14px"><strong>Уровень</strong></span></p>
			</td>
			<td style="width:32.26%">
			<p><span style="font-size:14px"><strong>Дата</strong></span></p>
			</td>
		</tr>
		<tr>
			<td style="width:67.3%">
			<p><span style="font-size:14px">Элементарный уровень (ТЭУ/А1)</span></p>
			</td>
			<td rowspan="4" style="width:32.26%">
			<p><span style="font-size:14px">Согласно расписанию</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:67.3%">
			<p><span style="font-size:14px">Базовый уровень (ТБУ/А2)</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:67.3%">
			<p><span style="font-size:14px">Первый сертификационный уровень&nbsp; (ТРКИ-I/В1)</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:67.3%">
			<p><span style="font-size:14px">Второй сертификационный уровень (ТРКИ-II/В2)</span></p>
			</td>
		</tr>
		<tr>
			<td style="width:67.3%">
			<p><span style="font-size:14px">Третий сертификационный уровень (ТРКИ-III/C1)</span></p>
			</td>
			<td style="width:32.26%">
			<p>&nbsp;</p>
			</td>
		</tr>
		<tr>
			<td style="width:67.3%">
			<p><span style="font-size:14px">Четвёртый сертификационный уровень (ТРКИ-IV/C2)</span></p>
			</td>
			<td style="width:32.26%">
			<p>&nbsp;</p>
			</td>
		</tr>
	</tbody>
</table>

<div style="clear:both;">&nbsp;</div>

<p>&nbsp;</p>

<p><span style="font-size:14px"><strong>Порядок прохождения Тестирования лицами с ограниченными возможностями</strong></span></p>

<p><span style="font-size:14px">Кандидаты на получение сертификата о прохождении Тестирования по русскому языку с ограниченными возможностями здоровья, имеющие инвалидность, проходят тестирование в индивидуальном порядке.<a href="#_ftn1" name="_ftnref1" title="">[1]</a></span></p>

<p><span style="font-size:14px"><strong>Материалы для подготовки</strong></span></p>

<p><span style="font-size:14px">Тренировочные тесты для подготовки&nbsp; для подготовки к государственному тестированию по русскому языку как иностранному&nbsp; доступны на сайте <a href="https://testingcenter.spbu.ru/materials.html">СПбГУ</a>.</span></p>

<p><span style="font-size:14px"><strong>Запись на экзамен</strong></span></p>

<p><span style="font-size:14px">Для записи на Тестирование необходимо:</span></p>

<ul>
	<li><span style="font-size:14px">&nbsp;обратиться в <em><u>_____название организации</u></em>___ &nbsp;по электронной почте ___________ или лично по адресу: <em><u>____адрес организации___. </u></em>В случае личного обращения иметь при себе документ, удостоверяющий личность или иные официальные документы, содержащие сведения по правильному написанию фамилии, имени на русском языке и в латинской транскрипции.</span></li>
</ul>

<p><span style="font-size:14px"><strong>Контакты</strong></span></p>

<p><span style="font-size:14px">Центр языкового тестирования Санкт-Петербургского государственного университета:</span></p>

<p><span style="font-size:14px"><strong>Адрес:</strong> Наб. Лейтенанта Шмидта, 11/2</span></p>

<p><span style="font-size:14px">Санкт-Петербург, 199034,</span></p>

<p><span style="font-size:14px">Россия.</span></p>

<p><span style="font-size:14px"><strong>Время работы:</strong> &nbsp;будние дни, 09:00 &ndash; 18:00</span></p>

<p><span style="font-size:14px"><strong>Телефон:</strong>&nbsp; (812)&nbsp;325 11 24</span></p>

<p><span style="font-size:14px"><strong>E-mail:</strong> <a href="mailto:test.language@spbu.ru">test.language@spbu.ru</a></span></p>

<p><span style="font-size:14px"><strong>Веб-сайт: </strong><a href="http://testingcenter.spbu.ru/">http://testingcenter.spbu.ru/</a> &nbsp;</span></p>

<p><span style="font-size:14px"><strong>Instagram: </strong>torfl_spbu</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px">Издательство СПбГУ (<a href="https://publishing.spbu.ru/catalog/periodicheskie_izdaniya/">https://publishing.spbu.ru/catalog/periodicheskie_izdaniya/</a>),&nbsp;</span></p>

<p><span style="font-size:14px">Виртуальный тур по Университету (<a href="https://spbu.ru/virtual_tour">https://spbu.ru/virtual_tour</a>),&nbsp;</span></p>

<p><span style="font-size:14px">Онлайн курсы СПбГУ (<a href="https://online.spbu.ru">https://online.spbu.ru</a>),&nbsp;</span></p>

<p><span style="font-size:14px">ДОП РКИ (<a href="https://russian4foreigners.spbu.ru/ru/">https://russian4foreigners.spbu.ru/ru/</a>)</span></p>

<p><span style="font-size:14px">Приемная комиссия СПбГУ (<a href="https://abiturient.spbu.ru/" target="_blank">https://abiturient.spbu.ru</a>)&nbsp;</span></p>

<p><span style="font-size:14px">Экспозиции и коллекции СПбГУ&nbsp;(<a href="https://spbu.ru/universitet/ekspozicii-i-kollekcii-spbgu" target="_blank">https://spbu.ru/universitet/ekspozicii-i-kollekcii-spbgu</a>)</span></p>

<p>&nbsp;</p>

<p><span style="font-size:14px">Контакты организации</span></p>

<p><span style="font-size:14px"><strong>Адрес:</strong></span></p>

<p><span style="font-size:14px"><strong>Время работы:</strong></span></p>

<p><span style="font-size:14px"><strong>Телефон: </strong></span></p>

<p><span style="font-size:14px"><strong>E</strong><strong>-</strong><strong>mail</strong><strong>:</strong></span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<div>&nbsp;
<hr />
<div id="ftn1">
<p><span style="font-size:14px"><a href="#_ftnref1" name="_ftn1" title="">[1]</a> Согласно правилам, установленным в организации</span></p>
</div>
</div>