<p>Наш факультет классифицирует учебные программы на две основные категории: языковые дисциплины и неязыковые дисциплины (культурология/литература)</p>

<p>◆ 1) Языковые дисциплины (語言部分)</p>

<p>◎ Преподавание русского языка – основной курс</p>

<p>Наш факультет с 2007 года применяет систематизированный курс изучения основ русского языка, включая «Русский язык» (1-й – 4-й курсы), «Разговорный язык» (1-й – 4-й курсы), «Практический русский язык» (1-й и 2-й курсы), «Грамматика русского языка» (1-й и 2-й курсы), «Видео и аудирование на русском языке» (1-й и 2-й курсы), которые направлены на тренировку навыков восприятия речи на слух, разговора, чтения и письма. Наряду со специализированными курсами русского языка также уделяется внимание английскому языку и второму иностранному языку: учащиеся на первом курсе проходят обучение английскому языку 4 часа в неделю (включая занятия по аудированию и постановке речи), на втором курсе и далее учащиеся могут либо продолжить изучение английского языка, либо выбрать другой иностранный язык.</p>

<p>◎ Преподавание русского языка – продвинутый уровень</p>

<p>Охватывает дополнительную языковую подготовку, включая изучение продвинутого курса грамматики русского языка, языка СМИ, подготовку к написанию сочинений, чтение избранных художественных текстов на русском языке, просмотр и анализ художественных фильмов.</p>

<p>◎ Преподавание русского языка – прикладные дисциплины</p>

<p>В рамках занятий на третьем курсе обязательным для студентов является курс по письменному переводу («Русский перевод»). На четвёртом курсе проводятся занятия по устному переводу («Практический устный перевод», «Устный перевод – торговля и экономика»), которые позволяют студентам сформировать навыки устного последовательного перевода и получить тем самым дополнительный навык для будущего трудоустройства. Курс русского языка как языка делового общения позволяет овладеть как устными, так и письменными навыками делового стиля. Студентам также предлагается выбрать тематические курсы на других факультетах (Например: «Деловое администрирование», «Внешняя торговля», «Информатика»), для получения специальных профессиональных знаний наряду с языковой подготовкой. С учётом повышения интереса к изучению китайского языка по всему миру, на нашем факультете также предлагается спецкурс по методике преподавания китайского языка на русском языке, нацеленный на расширение возможностей трудоустройства студентов.</p>

<p>◆ 2) Неязыковые дисциплины (非語言部分)</p>

<p>◎ Неязыковые дисциплины: культурология и литературоведение</p>

<p>Наш факультет дополнительно организует занятия по современной культуре России и обществоведению, для повышения интереса учащихся и расширения их кругозора. На младших курсах (1-й, 2-й курсы) проводятся следующие занятия по неязыковым дисциплинам: «Общая информация о России», «Русские народные песни», «История России» (для студентов первого курса), а также «Культура России – общая информация». В рамках этих занятий студенты могут получить лучшее представление о современной ситуации в России и познакомиться с историей и культурой этой страны, а также с её прошлым и настоящим, включая тенденции развития. На третьем курсе студенты изучают предмет «История русской литературы» , в рамках которого читают и анализируют литературные произведения на русском языке, обсуждают их содержание. Это позволяет студентам получить более широкие гуманитарные знания и содействует возникновению постоянного интереса к литературе. Благодаря этому курсу учащиеся, собирающиеся продолжить обучение в будущем, также имеют возможность подготовиться к этапу проведения академических исследований.</p>

<p>(課程改革的精神…)Направление совершенствования учебной программы: сокращение культурологических занятий, увеличение количества прикладных языковых программ и продвинутых языковых курсов.</p>

<p>1. Начиная с 2008 года был закрыт курс «История культуры» (заменён на новый курс «Современная ситуация в России»), «Русские народные песни» (вновь открыт в 2010 году), «Русский этикет». Ранее &nbsp;обязательные для выбора курсы «История России» и «История СССР» стали элективными, а освободившееся количество обязательных кредитов было перенесено с первых лет обучения на занятия для старших курсов по прикладным языковым дисциплинам, включая учебный курс «Русский как язык делового общения» (2-й курс), длительность которого была увеличена с 1 до 2 семестров. Дополнительно был введён полноценный курс по переводу («Устный перевод – торговля и экономика»). Устный перевод позволяет учащимся увеличить количество часов занятий с использованием навыков разговорного русского языка, дополняя другие занятия и недостаток практики.</p>

<p>2. Начиная с 2010 года были отменены курсы «Синтаксис» и «Морфология», вместо которых введены учебные дисциплины «Чтение избранных художественных текстов на русском языке» и «Знакомство с прозой и художественными фильмами на русском языке».</p>

<p>3. Дополнительные учебные курсы по языковому обучению включают: «Чтение избранных художественных текстов на русском языке» и «Знакомство с прозой и художественными фильмами на русском языке», направлены на учащихся 3-го и 4-го курсов, для практического применения полученных на младших курсах знаний в области грамматики русского языка.</p>

<p>4. Для дополнительного контроля за результатами обучения студентов, для учащихся, поступивших на обучение на первый курс нашего факультета после 2008 года было введено дополнительное требование по сдачи Теста по русскому языку как иностранному и получению сертификата первого уровня. Для соответствующей подготовки к тестированию был открыт элективный курс (1 кредит).</p>

<p>5. Порядок последовательного введения учебных курсов позволяет учащимся постепенно продвигаться от базовых знаний к более продвинутому уровню, от простого к сложному: «Русский язык» (1-й – 4-й курсы), «Разговорный язык» (1-й – 4-й курсы), «Русский язык как язык делового общения» (1-й и 2-й курсы), «Письменный перевод» (3-й курс), «Устный перевод» (4-й курс), «Чтение избранных художественных текстов на русском языке» и «Знакомство с прозой и художественными фильмами на русском языке» (1-й и 2-й курсы),«Грамматика русского языка» (1-й и 2-й курсы), «Практический русский язык» (1-й и 2-й курсы),</p>

<p>&nbsp;«Видео и аудирование на русском языке» (1-й и 2-й курсы). Данный учебный план позволяет учащимся овладеть пятью навыками: восприятия речи на слух, разговора, чтения, письма и перевода.</p>

<p>6. &nbsp;Взаимосвязь между учебными курсами на младших и старших курсах позволяет студентам сформировать интерес к изучению русского языка в начале обучения, а также получить практические навыки использования русского языка в прикладных областях. Этот подход позволяет удовлетворить как духовные, так и практические потребности учащихся. Занятия по переводу и языку делового общения позволяют дополнить учебные курсы по разговорному языку, а учебные курсы, связанные с чтением художественных текстов, одновременно расширяют знания учащихся в области культурологии и литературоведения. Эти курсы также дополняют занятия по истории литературы (проводится частично на китайском, частично на русском языках), а также по знакомству с современной ситуацией в России (занятие проходит на китайском языке).</p>