<p>The curriculum framework is divided into two parts: verbal and non-verbal</p>

<p>◆Verbal</p>

<p>◎ Elementary Russian</p>

<p>Since the 2007-2008 academic year, the department has established a series of systematic basic language courses, including <em>Russian (from freshman to senior year), Conversation (from freshman to senior year), Russian Internship (I) and (II), Russian Grammar (I) and (II), Russian Audiovisual Practice (I) and (II)</em>. This is to enhance students’ abilities in listening, speaking, reading and writing in Russian. Besides Russian, English also is important. So, in order to improve students’ proficiency in English, the department offers a three-hours English course for the freshman year and English listening and speaking training for the sophomore year.&nbsp;</p>

<p>◎ Advanced Russian</p>

<p>These courses which include <em>Advanced Russian Grammar, Russian News, Composition, Selected Essays in Russian Literature, Russian Novels and Films,</em> are designed for students to get familiar with the advanced learning needs.</p>

<p>◎ Practical Russian program</p>

<p>The translation course (<em>Russian Translation</em>) in the junior year is a compulsory course, focusing on written translation. In the senior year, oral translation courses (<em>Practical Russian Oral Translation, Business and Trade Russian Oral Translation</em>) are offered. They aim to develop students’ abilities in oral translation and sharpen their skills for employment. <em>Commercial Russian&nbsp;</em>courses help students develop the oral skills needed in business and commercial environments. Taking related optional courses from other departments such as <em>Business Management, International Trade, Computer Science</em>, is encouraged. By doing so, students will develop a specialty in the language and prepare themselves for the job market.</p>

<p>◆Non-Verbal</p>

<p>◎Non-Verbal: Including Cultural and Literature Courses.</p>

<p>For students to more understand the Russian current situation and society and to in order to arouse students’ interest in Russian from a broader perspective, the department offers the non-verbal courses for the freshman and sophomore years. Such courses include <em>Introduction to Russia</em>, <em>Russian Folk Song</em>, <em>History of Russia (for whole school year)</em> and<em>&nbsp;Introduction to Russian Culture</em>. Students would learn the history, geography, and culture of Russia in general and understand the past, the current and the future developmental trends of Russia. <em>The History of Russian Literature</em> for juniors aims to cultivate students’ interest in literature through the studies of the history of literature, the readings of Russian literature texts and the discussions in the classroom. Interest in literature should be considered as the foundation for further research after graduation or that for developing a lifetime interest in literature and humanities.</p>

<p>The spirit behind the curriculum reform: decrease the cultural courses and increase the practical and advanced linguistic courses.</p>

<p>1. Starting from the academic year 2008-2009, cultural courses, such as <em>History of Russian Culture&nbsp;</em>(replaced by<em>&nbsp;Current Russia</em>)<em>, Russian Folk Songs</em> (re-opened in the year 2010-2011)<em>, Quick Tour of Russia,&nbsp;</em>were cancelled<em>.&nbsp;</em>At the same time, <em>History of Russia</em> and <em>History of the Soviet Union</em> were changed from required to elective courses. The significant decrease of culture related courses were followed by a decrease in number of credits in the first and second years, prompting the Department to offer them in the junior and senior years. Practical and advanced Russian courses were provided as well. <em>Commercial Russian (I)&nbsp;</em>were changed from one-semester into one-year elective course. <em>Commercial Russian (I)</em>, along with<em>&nbsp;Commercial Russian (II)&nbsp;</em>and translation courses such as <em>Business and Trade Russian Oral Translation&nbsp;</em>formed together a complete commercial Russian/business translation curriculum. <em>Oral Translation</em> gives students an opportunity to speak more and make up hours’ deficiency in conversation classes.</p>

<p>2. <em>Syntax</em> and <em>Morphology&nbsp;</em>were cancelled since year 2009-2010. They were respectively replaced by <em>Selected Essays in Russian Literature</em> and <em>Russian Novels and Films.</em></p>

<p>3. Advanced linguistic courses were added. <em>Selected Essays in Russian Literature&nbsp;</em>and <em>Russian Novels and Films&nbsp;</em>combined with <em>Russian for the third and fourth year</em> allow students to apply the grammar learned in the previous two years to the reading courses.</p>

<p>4. Graduation requirements were also added in order to insure the level of the graduates. Starting from the 2008-2009 academic year, students must pass the TORFL (Test of Russian as a Foreign Language) B1 to be eligible for graduation. To assist students, a one-credit elective course, <em>Test of Russian as a Foreign Language (TORFL)</em>, is offered.</p>

<p>5. Courses’ vertical interconnection:</p>

<p><em>Russian (for the freshman to senior year), Conversation (for the freshman to senior year), Commercial Russian(I) and (II), Written Translation for the third year, Oral Translation for the fourth year, Selected Essays in Russian Literature, Russian Novels and Films, Grammar(I) and (II), Russian Internship(I) and (II), Russian Audiovisual Practice (I) and (II)…</em>all these courses will systematically improve students’ listening, speaking, reading, writing, interpreting skills in Russian.</p>

<p>6. Courses’ horizontal interconnection:</p>

<p>Cultural courses for the initial-years are meant to arouse students’ enthusiasm in studying Russian. Practical courses for advanced learners aim at training them to make a good use of the language. The two courses complement each other and fulfill the needs of different grades. Translation courses complement commercial courses. Within the translation courses, oral translation courses complement conversation courses, reading courses complement <em>Russian for the third and fourth years.</em> Through reading, students can learn about Russian culture and literature, which complement <em>History of Literature</em> (taught in Chinese and Russian) and <em>Introduction to Russia&nbsp;</em>(taught in Chinese).</p>

<p>
	<br>
</p>