<p>系內獎學金&nbsp;&nbsp;&nbsp;</p>

<p>請點選獎學金名稱連結下載獎學金辦法及申請表</p>

<p>1.<a href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/%E6%B7%A1%E6%B1%9F%E5%A4%A7%E5%AD%B8%E4%BF%84%E5%9C%8B%E8%AA%9E%E6%96%87%E7%B3%BB%E7%8D%8E%E5%AD%B8%E9%87%91%E8%BE%A6%E6%B3%95.pdf">淡江大學俄國語文系獎學金</a>：每年級一名，每名每學年3,000元。</p>

<p>2.<a href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/%E6%B7%A1%E6%B1%9F%E5%A4%A7%E5%AD%B8%E4%BF%84%E5%9C%8B%E8%AA%9E%E6%96%87%E5%AD%B8%E7%B3%BB%E6%80%A5%E9%9B%A3%E6%95%91%E5%8A%A9%E9%87%91%E8%BE%A6%E6%B3%95%E5%8F%8A%E7%94%B3%E8%AB%8B%E8%A1%A8.pdf">淡江大學俄國語文學系急難救助金</a>：每年限一名，每名每學年10,000元。</p>

<p>3.<a href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/%E6%B7%A1%E6%B1%9F%E5%A4%A7%E5%AD%B8%E4%BF%84%E5%9C%8B%E8%AA%9E%E6%96%87%E7%B3%BB%E5%8B%A4%E5%AD%B8%E7%8D%8E%E5%AD%B8%E9%87%91%E8%BE%A6%E6%B3%95.pdf">淡江大學俄國語文系蘇淑燕勤學獎學金</a>：每年限一名，每名每學年10,000元。</p>

<p>4.<a href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/%E6%B7%A1%E6%B1%9F%E5%A4%A7%E5%AD%B8%E4%BF%84%E5%9C%8B%E8%AA%9E%E6%96%87%E5%AD%B8%E7%B3%BB%E5%8F%8B%E7%8D%8E%E5%AD%B8%E9%87%91%E8%BE%A6%E6%B3%95.pdf">淡江大學俄國語文學系友獎學金</a>：二至四年級共三名，每名每學年新臺幣5,000元。</p>

<p>5.<a href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/%E6%B7%A1%E6%B1%9F%E5%A4%A7%E5%AD%B8%E4%BF%84%E5%9C%8B%E8%AA%9E%E6%96%87%E5%AD%B8%E7%B3%BB%E5%A2%83%E5%A4%96%E7%94%9F%E7%8D%8E%E5%AD%B8%E9%87%91%E8%BE%A6%E6%B3%95%E5%8F%8A%E7%94%B3%E8%AB%8B%E8%A1%A8105.12.8%E4%BF%AE.pdf">淡江大學俄國語文學系境外生獎學金</a>：全年級限一名，每名每學年3000元。</p>

<p>6.工讀金：.每學期1至2名工讀生。</p>

<p>&nbsp;</p>

<p>校內獎學金</p>

<p>學業獎學金(免申請，由學校直接頒發給系級學業成績第一名學生)、覺生獎學金、驚聲獎學金、淡水出生獎學金、體育獎學金、本校教職員工子女助學金、僑生獎學金、瀛玖紀念甲種獎學金、費氏獎學金、陳步雲先生紀念獎學金、馬惕乾先生紀念獎學金、身心障礙學生獎學金、許詩英先生紀念獎學金、權小衡獎學金、逸璋紀念獎學金、居偉立女士獎學金、友愛獎學金、林壽楨先生紀念獎學金、廣三企業集團曾總裁正仁獎學金、周秋火先生紀念獎學金、何香先生紀念獎學金、夜間校友獎學金、李宏志先生獎學金、研究生獎學金、榮譽教授林雲山先生獎學金等，<strong>請於學生事務處公告時間提出申請。</strong></p>