<h3><span style="font-size:24px"><strong><img alt="" src="https://www.tfux.tku.edu.tw/storage/app/media/Russian/A6%20%E4%BF%84%E6%96%87%E7%B3%BB%E8%AA%B2%E7%A8%8B%E5%9C%B0%E5%9C%96.jpg" style="height:800px; width:1097px" />&nbsp;</strong></span></h3>

<h3><span style="color:#0000cd"><span style="font-size:28px"><strong><span style="background-color:#f0ffff">各學年度入學新生畢業學分數</span></strong></span><span style="font-size:24px"><strong><span style="background-color:#f0ffff">&nbsp;</span></strong></span></span></h3>

<p><span style="font-size:18px"><a href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/109subjects.pdf">109學年度入學新生必修科目表</a></span></p>

<p><span style="font-size:14px">畢業學分為128學分，包含校通識與基本知能課程26學分、系必修70學分、系內選修16學分、系外選修16學分。&nbsp;</span></p>

<p><span style="font-size:18px"><a href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/108subjects.pdf">108學年度入學新生必修科目表</a></span></p>

<p><span style="font-size:14px">畢業學分為128學分，包含校通識與基本知能課程26學分、系必修70學分、系內選修16學分、系外選修16學分。&nbsp;</span></p>

<p><span style="font-size:18px"><a href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/107subjects.pdf">107學年度入學新生必修科目表</a></span></p>

<p><span style="font-size:14px">畢業學分為128學分，包含校通識與基本知能課程26學分、系必修70學分、系內選修16學分、系外選修16學分。&nbsp;</span></p>

<p><span style="font-size:18px"><a href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/106subjects.pdf">106學年度入學新生必修科目表</a></span></p>

<p><span style="font-size:14px">畢業學分為128學分，包含校通識與基本知能課程26學分、系必修70學分、系內選修16學分、系外選修16學分。</span></p>

<p>&nbsp;</p>

<p><strong><span style="font-size:20px">須通過學校及學系規定之外語能力畢業門檻始得畢業</span></strong></p>

<p><strong><a href="https://oa.tku.edu.tw/Law.nsf/8a19663a9342a6a748256e6b00446781/d7c3094aea02bbd64825746c00106166?OpenDocument">淡江大學英語能力檢定畢業門檻實施要點.</a></strong></p>

<p>&nbsp;</p>

<p><a href="http://www.tfux.tku.edu.tw/download.php?filename=335_cbbdcbbf.pdf&amp;dir=archive&amp;title=%E4%BF%84%E6%96%87%E7%B3%BB%E5%AD%B8%E7%94%9F%E5%A4%96%E8%AA%9E%E8%83%BD%E5%8A%9B%E7%95%A2%E6%A5%AD%E6%A8%99%E6%BA%96%E6%AA%A2%E5%AE%9A%E8%A6%8F%E5%89%87-100.5.11+99-2%E6%95%99%E5%8B%99%E6%9C%83%E8%AD%B0%E4%BF%AE%E8%A8%82%E9%80%9A%E9%81%8E">俄文系學生外語能力畢業標準檢定規則-100.5.11 99-2教務會議修訂通過</a></p>

<h3>&nbsp;</h3>

<h3>&nbsp;</h3>

<h3>其他訊息</h3>

<p>其他歷屆與最新選課與修業規定，請參考淡江大學教務處。</p>

<p>淡江大學教務處　網址：http://www.acad.tku.edu.tw/main.php</p>

<p>外語翻譯學分學程、外國文學學分學程申請規定和作業流程，已登於外語學院中</p>

<p>文網頁選單，網址： http://www.tf.tku.edu.tw/admiss/recruit.php?class=101</p>