<p><strong>Selection</strong></p>

<ol>
	<li>Eligibility criteria: Anybody interested in joining the program is welcome to apply</li>
	<li>Selection Committee: The Committee is comprised of the Dean and of the freshman and sophomore years&rsquo; professional courses teachers.</li>
	<li>Selection criteria: They are based upon the students&rsquo; grades of the 3 previous semesters.</li>
	<li>Selection Records and Results: Every year, 20 students are admitted to the program.</li>
</ol>

<p><strong>&nbsp;Procedure</strong></p>

<ol>
	<li>Selection method: Please see the annual announcement.&nbsp;</li>
	<li>Application deadline: Applications are accepted before middle of March every year. For more details on the exact date, please see the announcement of the department.</li>
	<li>Application documents: Applicants must submit the following documents before the deadline: transcripts of two (2) semesters of the first year and transcripts of the first semester of the second year. (Official transcripts are not necessary. The transcripts sent by the school every semester are acceptable.)</li>
	<li>The list of accepted applicants and the waiting list candidates will be published based on the conclusions of the Selection Committee. Accepted applicants will receive the pertaining information. Students are encouraged to discuss that with their parents during the Spring break.</li>
	<li>Within a week after the Spring break (or before middle of April), accepted applicants need to hand in the registration form, the parents&rsquo; agreement and the aptitude test form signed by parents, along with the guarantee deposit of NTD10,000 to the Administration Office in order to complete the registration procedure. Failing to do so will result in the acceptance being revoked. In this case, the next candidate on the waiting list will be called upon to fill the vacancy</li>
	<li>Draftees require military service deferment to leave the country. The Department will therefore issue official statements to the Military Service Sections of local governments.</li>
</ol>

<p><strong>Orientation</strong></p>

<ol>
	<li>Information meetings are held before the registration procedure in March.</li>
	<li>A meeting between the professor who will lead the delegation and the students are held after registrations in May.</li>
	<li>By the end of June, a meeting is held between Juniors returning to Taiwan and newly accepted students and their parents.</li>
	<li>Flag-presentation ceremony and the orientation are held the same day.</li>
	<li>The number of these meetings is at the discretion of the Department.</li>
</ol>

<p><strong>Lecture on Fire Safety</strong></p>

<p>Every year, two weeks before the final examination of the second semester, either on Monday or on Friday, the College of Foreign Language hosts a one-hour lecture on Fire Safety. The Firemen at Tamshui Fire Department explain measures of fire prevention and essentials of emergency in order to enhance students&rsquo; knowledge in fire safety and emergency management.</p>

<p>&nbsp;<strong>Insurance</strong></p>

<p>Health Medical Insurance is compulsory for every student studying in Russia and costs about USD 100 to USD 150 per year. Students need to show their insurance cards upon receiving medical treatment there. Besides, students are required to purchase a one-year travel insurance policy. The photocopies of such policy need to be faxed, mailed or handed in to the Department before students leave the country. Students, who do not purchase any insurance, and their parents have to hand in an affidavit instead.</p>

<h4><strong>Periodical Report System</strong></h4>

<ol>
	<li>Prior to leaving Taiwan, students vote for one representative who regularly touch base with the Department. Likewise, the teaching assistant (TA) also stays in touch with students via email, social media or instant messaging tools to keep track of students&rsquo; studies and lives abroad.</li>
	<li>The TA shall provide students with login accounts and passwords for the Junior Year Study Abroad Program webpage. Students are then required to regularly upload (1) Safety Assessment, (2) Living Abroad Review, (3) Studying Abroad Review, and (4) Photos as a way of sharing living and studying events in Russia. This will help inform the Department, the College and the University of the different situations students find themselves in abroad and whenever needed, allow them to immediately provide necessary assistance.</li>
	<li>Once an emergency occurs, students need to immediately inform the Head, any professor or relevant personnel of the International Students&rsquo; Affairs Office in the studying country to receive assistance. Moreover, students have to report to the Dean of the Department in Tamkang University and to the TA. If necessary, students can contact local representation of the Taiwan Ministry of Foreign Affairs (MOFA) in order to protect their interests.</li>
</ol>

<p><strong>Grades</strong></p>

<ol>
	<li>Once an accepted applicant declines the offer, the next candidate on the waiting list will be called upon to fill the vacancy.</li>
	<li>Explanation of grading for the Junior Year Study Abroad Program:</li>
	<li>Students studying abroad shall take all courses required by the sister schools or centers which have cooperative agreements with the Junior Year Study Abroad Program. While doing so, all academic achievements will be recognized as credits and grades of required and elective junior year courses which are offered by the Tamkang University&rsquo;s Department of Russian in the year 2015-2016.</li>
	<li>If a student fails or if he/she doesn&rsquo;t take <em>Russian for second year</em> and <em>Russian Grammar (II)</em> in the whole academic year, all credits of <em>Russian for ftird year</em> and <em>Advanced Russian Grammar</em> earned while studying abroad will be accounted for credits of <em>Russian for second year</em> and <em>Russian Grammar (II)</em> in the whole academic year<em>.</em> After returning to Taiwan as a Senior, the student has to take the whole academic year credits of <em>Russian for third Year</em> and <em>Russian Advanced Grammar.</em></li>
	<li>If a student fails <em>Russian for second year</em> and <em>Russian Grammar (II)</em> in the first semester and passes in the second semester, credits earned in the first semester while students studying abroad will be accounted for credits of <em>Russian for second year</em> and <em>Russian Grammar (II)</em> <em>(first half).&nbsp;</em>Credits earned in the second semester while students studying abroad will be accounted for the first semester credits of <em>Russian for third year</em> and<em>&nbsp;Advanced Russian Grammar.&nbsp;</em>After returning to Taiwan as a Senior, the student will be required to take the second semester&rsquo;s credits of <em>Russian for third year</em> and<em>&nbsp;Advanced Russian Grammar.&nbsp;</em></li>
	<li>If a student passes <em>Russian for second year</em> and <em>Russian Grammar (II)</em> in the first semester and fails in the second semester, credits earned in the first semester while students studying abroad will accounted for credits of <em>Russian for second year</em> and <em>Russian Grammar (II)(second half).&nbsp;</em>Credits earned in the second semester while students studying abroad will be accounted for the first semester credits of <em>Russian for third year</em> and<em>&nbsp;Advanced Russian Grammar.</em> After returning to Taiwan as a Senior, the student will be required to take the second semester&rsquo;s credits of <em>Russian for third year</em> and<em>&nbsp;Advanced Russian Grammar</em></li>
	<li>Candidates on the waiting list who fail their <em>Russian for first year</em> and <em>Russian Grammar (I)&nbsp;</em>in the first and second semesters are only eligible to fulfill the vacancy after retaking (or retaking in summer school) and passing the courses.</li>
</ol>

<p>&nbsp;</p>

<p>Explanation of Applications of MOE Scholarships for Excellent Students and Hardship Fund for students to Study Abroad Programs</p>

<p>I. Eligibility</p>

<p>1. Scholarships for Excellent Students to Study Abroad: Applicants need to rank top 25% of their classes, including transferred students, in the previous semester.</p>

<p>2. Hardship Fund for students to Study Abroad: No limits of quota. Applicants must hold low-income or middle-low-income households certificates and rank top 40% in the previous semester.</p>

<p>3. Starting from the 2012-2013 academic year, the level of the applicants in Russian needs to be above the elementary level of the Test of Russian as a Foreign Language (TORFL).</p>

<p>II. Quota recommended by the departments</p>

<ol>
	<li>If the number of students studying abroad has not reached 35, the departments/schools can recommend up to 5 students.</li>
	<li>If the number of students studying abroad has reached 35, the departments/schools can recommend up to 10 students.</li>
</ol>

<p>III. Application requirements</p>

<ol>
	<li>Chinese transcripts of all academic years</li>
	<li>Certificate or transcripts of Foreign Language Proficiency Test (for studying in English-speaking countries a minimum score of 45 at TOFEL iBT is necessary; for other countries which speak a different language, check with the departments and schools.)</li>
	<li>Autobiographies in Chinese and in English</li>
	<li>Study plan in Chinese and in English</li>
	<li>Properly filled application form enclosed with a 2&rdquo; photo.</li>
</ol>

<p>Academic Ranking of World Universities</p>

<p>http://www.arwu.org.80/ARWU209.jsp</p>

<p>IV. Universities to apply for</p>

<p>Students wishing to apply for these scholarships programs should mainly apply for sister universities, the schools recommended by the departments, the schools involved in the Junior Year Study Abroad Program, or for world-renowned universities (for the latter, please refer to 2009 Academic Ranking of World Universities).</p>

<p><a href="http://www.arwu.org.80/ARWU209.jsp">http://www.arwu.org.80/ARWU209.jsp</a></p>

<p>For more information, please also see the Ministry Of Education (MOE)&rsquo;s regulation and related guidelines. Failing to meet the above application requirements will result in an outright disqualification of the applicant. The above statement is subject to MOE&rsquo;s yearly official announcements.</p>