<p><strong><a href="https://www.caac.ccu.edu.tw/apply107/system/107ColQry_forapply_4hgd9/html/107_014122.htm">107學年度淡江大學俄國語文學系校系分則</a></strong></p>

<p><strong>***</strong>考生必須於面試時以高中生活或與俄羅斯相關主題做以5分鐘為限的PPT簡報。PPT請以 PowerPoint 2013以上版本製作。「面試PPT檔」請於107年4月10日截止日前，以電子郵件寄至tfux@www2.tku.edu.tw，如檔案過大無法寄出，則另附光碟，以掛號郵寄至25137新北市淡水區英專路151號 俄文系 收。（郵戳為憑，逾期不予受理）</p>

<p><a href="http://www.acad.tku.edu.tw/AS/news/news.php?Sn=1586"><strong>107</strong><strong>學年度「大學個人申請入學」_</strong><strong>查詢繳費帳號及通過一階篩選名單</strong></a></p>

<p><a href="http://www.acad.tku.edu.tw/AS/news/news.php?Sn=1563"><strong>107</strong><strong>學年度大學「個人申請入學」_</strong><strong>審查資料上傳作業操作說明</strong></a></p>

<p><a href="http://www.acad.tku.edu.tw/AS/news/news.php?Sn=1581"><strong>107</strong><strong>學年度大學「個人申請入學」_</strong><strong>第二階段補充規定</strong></a></p>

<p><a href="http://www.acad.tku.edu.tw/AS/news/news.php?Sn=1558"><strong>107</strong><strong>學年度大學「個人申請入學」_</strong><strong>第二階段面試時間衝突彈性措施</strong></a></p>

<p><a href="http://www.acad.tku.edu.tw/AS/news/news.php?Sn=1512"><strong>107</strong><strong>學年度大學「個人申請入學」_</strong><strong>扶弱助學措施</strong></a></p>