<p><strong>俄羅斯國立莫斯科大學</strong>(<strong>Lomonosov Moscow State University</strong>&nbsp;)</p>

<p>俄羅斯國立莫斯科大學創建於1755年，由俄羅斯女沙皇伊莉莎白&middot;彼得羅芙娜下令建立，為俄國歷史最悠久及最負盛名的學術中心之一。該校擁有教授、講師及各類研究人員8600名，大約4500名教授擁有博士和榮譽博士的學位，其中125位是俄羅斯學院院士。有學生2.6萬人。碩士和博士班學生大約5000名，外國留學生約有2000人左右，具有多年教授外國學生的經驗和完整的教學計劃。</p>

<p>莫斯科大學共有29個系，15個教學和學術中心，11個科學研究所，開設有44個高等職業教育專業及180個研究生專業方向。莫斯科大學按俄羅斯聯邦教育體制的規定，學科設置分爲文科及理科兩大類別: 經濟學系、社會科學系、歷史系、語言文學系、藝術系、外語系、法律系、新聞系、俄語、建築系、化學系、物理系、生物系&hellip;等。莫斯科大學並設有亞非學院和國際教育中心，有40多年的對外語言教育及入學前專業引導教育經驗，是最著名的語言培訓中心。</p>

<p>莫斯科大學座落在莫斯科市西南外的麻雀山，佔地約4000畝，學校校園環境優美，莫斯科大學主樓内有辦公室、會議廳、大禮堂、電影院、游泳池、餐廳、商店、郵局、銀行、理髮店、咖啡廳、舞廳及學生宿舍。校園鄰近地鐵&rdquo;大學站(Университет) &rdquo;，並鄰近市場及賣場，生活交通便利。</p>

<p>該校的俄羅斯語言及文化學院位於地鐵 &ldquo;工會站(Профсоюзная) &rdquo;步行十分鐘處，為留學生語言專業預備培訓中心，學生在結束預備培訓後可以顺利進入各科系進行專業學習。</p>

<p>&nbsp;</p>

<p><strong>俄羅斯國立聖彼得堡交通大學</strong>(<strong>Petersburg State Transport University</strong>)</p>

<p>&nbsp;俄羅斯國立聖彼得堡交通大學創建於1809年，有200多年的悠久歷史，是俄羅斯最古老也是第一所高等技術院校，由沙皇亞歷山大一世命名成立，是俄羅斯最優秀的交通大學。該校共有10系、52個部門、科學研究院所和中心：機械工程系、橋梁與隧道系、建築工程系、運輸管理系、經濟社會管理系、機電系、電工系、鐵路操作系&hellip;等；在俄羅斯各城鎮亦有中等專業教育機構的分公司與辦事處。2003年成立俄羅斯語言中心，提供國際學生短期課程、留學語言課程和俄語檢定測驗之服務。</p>

<p>聖彼得堡交通大學座落於聖彼得堡市的市中心，鄰近政經、文化和運輸機構的樞紐，校本部旁即有地鐵Садовая站和Сенняя площадь站，交通相當方便。另外，該校俄語中心則位於市中心地鐵站Горьковская步行五分鐘處，鄰近彼得堡羅要塞，地理環境極佳。該中心於同棟建築內設有學生宿舍，各類設施和教學條件極佳。</p>

<p>&nbsp;</p>

<p><strong>莫斯科市立師範大學(Moscow City Pedagogical University)</strong></p>

<p>莫斯科市立師範大學(Московский городской педагогический университет, МГПУ) 於1995年由莫斯科市政府下令成立，受俄羅斯聯邦和莫斯科市立法機構監督。該校是莫斯科的科學、教育和文化中心，也是俄羅斯三大主要師範大學之一。學校培養的不只是中學、大學師資，還培育各種不同專業人士，包括律師、商管人士、公務機關人員、設計師、心理師、社會工作者和與社會有關的各種領域專業人士。學校提供300種不同的課程，包括學士課程、專業課程、碩士課程和博士課程，及各種進修課程。</p>

<p>莫斯科市立師範大學目前有12個學院、5個系所，2個中等職業學校、1個附屬中學和薩馬拉分校，共有1萬6千個大學生和200個中學生。博士班和全博士班包含36個專業和13種不同領域，目前博士生有1000人，包含專業進修人士(中小學教師或大學教師)，90%都是在職進修。博士班有專業實習課程，學生必須去不同單位實習。學校與國外各機構都有進行合作，2008年加入世界大學組織(International Association of Universities)，2011年成為歐洲大學組織會員(Ассоциация университетов Европы)。該校本部鄰近於地鐵ВДНХ站及Ботанический Сад站，東方語言系位於地鐵Курская站及Чкаловская站，該中心各類設施和教學條件極佳。宿舍位於莫斯科市中心，鄰近地鐵Парк культуры站，附近生活機能便利，餐廳、咖啡廳、銀行、商店林立。</p>

<p>&nbsp;</p>

<p><strong>俄國斯國立遠東聯邦大學(Far Eastern Federal University)</strong></p>

<p>遠東聯邦大學於2011年由遠東國立大學、遠東技術大學和太平洋經濟大學合併而成，為符拉迪沃斯托克以及遠東地區最好的大學。目前已經合併完成，故遠東國立大學以及上述2所大學已經同時更名為遠東聯邦大學。俄羅斯遠東聯邦大學是位於從貝加爾湖到太平洋幅員遼闊的土地上的第一所古典式大學，其歷史可以追溯到1899年的10月21日，當時在符拉迪沃斯托克開辦了東方學院。1920年，東方學院和一些私人學校合併成了遠東國立大學，大學裡有三個系：東方系、歷史和語言文學系以及社會科學系。1950年到1990年是遠東國立大學蓬勃發展的時期，學校規模擴大了若干倍，並成立了一些新的學術與科研機構。學校開始招收博士生，創辦了答辯委員會、生物站、物理技術研究所等機構。遠東聯邦大學的現代發展戰略立足於將古典大學結構中的自然科學知識、工程知識和技術與現代的創新信息技術融合在一起。</p>

<p>2010年12月17日，俄羅斯聯邦政府總理弗拉基米爾&middot;普京簽署了《至2019年遠東聯邦大學發展綱要》。該綱要的優先發展方向是：國際海洋資源，能源和節能技術，奈米體系工業和奈米材料，物流運輸，與亞太國家的經濟、技術和文化合作，以及生物醫療技術。2011年11月27日，俄羅斯教育科學部長簽署了《將遠東國立大學、遠東國立技術大學、太平洋國立經濟大學和烏蘇里斯克國立師範學院合併為遠東聯邦大學的命令》。</p>

<p>國立遠東大學培養學士，碩士，專家，副博士和博士。基本科系（學院）包括：環境科學和海洋生物科學院；物理和資訊技術學院；歷史和哲學學院；環境研究所，數學和電腦科學學院；東方研究所，大眾傳媒學院；外國語學院；國際旅遊和酒店管理學院；亞太地區國際關係學院；商業管理學院，法律學院，化學和應用環境學院，心理學和社會科學學院，俄羅斯語言和文化學院，師範教育學院，創新技術研究所遠東分所。學制和學時分為：4年（本科），2 年（碩士），3 年（研究生）。面授制，函授制和半函授制。學年設置為分學期制。</p>