<h3><strong>Comprehensive exam in Russian as a foreign, Russian history, and the fundamental of Russian legislation</strong></h3>

<p>
	<br>
</p>

<p><strong>Cost of testing:</strong>&nbsp;</p>

<table style="margin-right: calc(46%); width: 51%; margin-left: calc(3%);">
	<tbody>
		<tr>
			<td style="width: 47.6055%;">ET (A1)</td>
			<td style="width: 52.2805%;">2900 TWD</td>
		</tr>
		<tr>
			<td style="width: 47.6055%;">PT (A2)</td>
			<td style="width: 52.2805%;">3100 TWD</td>
		</tr>
		<tr>
			<td style="width: 47.6055%;">TORFL-1</td>
			<td style="width: 52.2805%;">3400 TWD</td>
		</tr>
		<tr>
			<td style="width: 47.6055%;">TORFL-2</td>
			<td style="width: 52.2805%;">3600 TWD</td>
		</tr>
		<tr>
			<td style="width: 47.6055%;">TORFL-3</td>
			<td style="width: 52.2805%;">4400 TWD&nbsp;</td>
		</tr>
		<tr>
			<td style="width: 47.6055%;">TORFL-4</td>
			<td style="width: 52.2805%;">&nbsp;X</td>
		</tr>
	</tbody>
</table>

<p>
	<br>
</p>

<p><em>&nbsp;</em><strong><em>* According to the policy of Language Testing Centre at St Petersburg University , make up test of one or two subjects,&nbsp;</em></strong></p>

<p><strong><em>&nbsp; &nbsp;all applicants are required to pay full registration fee for the level.</em></strong></p><pre data-placeholder="翻譯" dir="ltr">
</pre>