<h3><strong><span style="font-size:20px"><span style="color:#000000">報名前，請務必詳閱附件之本項測驗</span><span style="color:#ff0000">&nbsp;</span><a href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/%E6%B7%A1%E6%B1%9F%E5%A4%A7%E5%AD%B8%E4%BF%84%E5%9C%8B%E8%AA%9E%E6%96%87%E8%83%BD%E5%8A%9B%E6%B8%AC%E9%A9%97%E5%A0%B1%E5%90%8D%E9%A0%88%E7%9F%A5.pdf"><span style="color:#ffff00"><u><span style="background-color:#ff0000">報名須知&nbsp;</span></u></span></a>&nbsp;和 <a href="https://www.tfux.tku.edu.tw/storage/app/media/%E6%B7%A1%E6%B1%9F%E5%A4%A7%E5%AD%B8%E4%BF%84%E5%9C%8B%E8%AA%9E%E6%96%87%E8%83%BD%E5%8A%9B%E6%B8%AC%E9%A9%97%E9%98%B2%E7%96%AB%E9%A0%88%E7%9F%A5.docx.pdf"><u><span style="color:#ffff00"><span style="background-color:#ff0000">防疫須知</span></span></u></a><span style="color:#000000">，若無法配合，請勿進行報名。</span></span></strong></h3>

<h3><strong><span style="font-size:20px"><span style="color:#000000">報名一律採「網路報名」，每一人限報名一個等級考試。</span></span></strong></h3>

<p><br />
<span style="font-size:20px"><strong><a href="http://enroll.tku.edu.tw/course.aspx?cid=TFUX20201128">淡江大學「2021第18屆俄國語文能力測驗」</a>&nbsp;(取消)</strong></span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px"><strong>主辦單位：俄羅斯聯邦教育科學部外國公民俄語測驗中心</strong></span></p>

<p><span style="font-size:16px"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 聖彼得堡大學語文能力測驗中心</strong></span></p>

<p><span style="font-size:16px"><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;淡江大學俄國語文學系</strong></span></p>

<p><br />
<span style="font-size:16px"><strong>考試日期：2021&nbsp;年 6 月 5&nbsp;日、 6&nbsp;日(星期六、日)</strong></span></p>

<p><span style="font-size:16px"><strong>考試地點：新北市淡水區英專路151號</strong><strong>淡江大學淡水校園驚聲大樓&nbsp; &nbsp;(試場樓館教室於准考證上註記)</strong></span></p>

<p><span style="font-size:16px"><strong>報名資格：母語非俄語之台灣人、在台外國人</strong></span></p>

<p><u><span style="font-size:16px"><strong>報考等級、</strong><strong>最低報名人數限制：</strong></span></u></p>

<p><strong>(一)初級 (Элементарный уровень.) / A1 ：5人以上報名，始辦理此等級考試<br />
(二)基礎 (Базовый уровень.) / A 2 ：10人以上報名，始辦理此等級考試<br />
(三)第一級 (Первый уровень.) / B1 ：10人以上報名，始辦理此等級考試<br />
(四)第二級 (Второй уровень.)/ B2 ：5人以上報名，始辦理此等級考試</strong><br />
&nbsp;</p>

<p><u><span style="font-size:16px"><strong>考試費用：</strong></span></u></p>

<p><strong>初級：新台幣2900元</strong></p>

<p><strong>基礎：新台幣3100元</strong></p>

<p><strong>第一級：新台幣3400元</strong></p>

<p><strong>第二級：新台幣3600元</strong></p>

<p><span style="font-size:14px"><span style="color:#ff0000">***依照俄羅斯俄語檢定中心授權政策，補考不論一科或兩科，皆比照全科考生繳交該等級全額報名費。&nbsp;</span></span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px"><strong>考試報名時間：</strong><strong>自&nbsp; 2021</strong><strong>年 5&nbsp;月 11&nbsp;日(星期二)上午 8&nbsp;時起至&nbsp; 5&nbsp;月 18&nbsp;日(星期二)晚上 10 時止</strong><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</strong><strong>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</strong></span></p>

<p><span style="font-size:16px"><strong>考試報名方式：<span style="color:#000000">&nbsp;一律採</span>網路報名，請至本校活動報名系統報名</strong></span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px"><strong>考前說明會：2021&nbsp; 年 5&nbsp; 月 29&nbsp; 日(星期六)上午 10:00 (須另外報名始得參加)&nbsp;</strong></span></p>

<p><span style="font-size:16px"><strong>說明會地點： 淡水校園商管大樓(B309教室)&nbsp;</strong></span></p>

<p><span style="font-size:16px"><strong>交通資訊：搭乘台北捷運「淡水線」至捷運〈淡水站〉下車，沿英專路步行1.2公里、約20分鐘即可抵達；或於捷運〈淡水站〉搭乘〈紅27〉或〈紅28〉公車至〈淡江大學〉站。</strong><br />
<br />
<strong>聯絡人：謝寧馨助理<br />
電話：</strong><strong>&nbsp;(02) 2621-5656 ext.2711</strong><br />
<strong>傳真：&nbsp;(02) 2620-9907</strong><br />
<strong>網址：&nbsp;http://www.tfux.tku.edu.tw/main.php</strong></span><br />
<br />
&nbsp;</p>