<p><span style="color:#ffffff"><span style="font-size:18px"><span style="font-family:Verdana,Geneva,sans-serif"><strong><span style="background-color:#0000ff">學系特色</span></strong></span></span></span></p>

<p><span style="font-size:16px">本系旨在培育獨立分析、國際觀及跨文化溝通之俄語人才。學系特色：</span></p>

<ol>
	<li><span style="font-size:16px">注重學生專業俄語能力：高年級主科程度分班、會話課國際同步遠距，把關學生俄語能力，強化語言學習環境，以達較佳學習成果。</span></li>
	<li><span style="font-size:16px">拓展學生國際經驗：藉由國際移動學習經驗，開拓學生之國際視野、宏觀思維、多元文化等整體的競爭力；大二異地至中國大陸高校等校學習1年，大三出國留學至俄羅斯學術合作大學院校修習學分1年，大四至俄羅斯華語教學實習1學期。</span></li>
	<li><span style="font-size:16px">重視學生輔導：師生駐俄語特區輔導、生涯規劃，與俄籍交換生Chat Corner口語練習。</span></li>
	<li><span style="font-size:16px">培養學生未來競爭力：實施校外和暑假海外專業實習計畫，減少產學落差，培養實務經驗，拓展學習觸角，深耕就業競爭力。</span></li>
</ol>

<p><span style="color:#ffffff"><span style="font-size:18px"><span style="font-family:Verdana,Geneva,sans-serif"><strong><span style="background-color:#0000ff">課程規劃</span></strong></span></span></span></p>

<ol>
	<li><span style="font-size:16px">全校性通識核心課程：依照本校「國際化」、「資訊化」與「未來化」之三化發展方向所制定。</span></li>
	<li><span style="font-size:16px">俄語專業必修課程：以語言訓練分為基礎、進階和應用等三個部份，有語法、會話、視聽、翻譯和商用等課程</span></li>
	<li><span style="font-size:16px">文化文學選修課程：「俄羅斯概論」、「俄國史」、「俄羅斯文化概論」、「俄國文學史」、「俄國戲劇」等科目，厚植學生的人文素養，使其具有全觀專業與市場競爭力。</span></li>
</ol>

<p><span style="color:#ffffff"><span style="font-size:18px"><span style="font-family:Verdana,Geneva,sans-serif"><strong><span style="background-color:#0000ff">未來發展</span></strong></span></span></span></p>

<ul>
	<li><span style="font-size:16px">就學：國內外大學語言、文學、翻譯、國際關係、新聞、歷史、藝術、博物館等相關研究所。</span></li>
	<li><span style="font-size:16px">就業：可報考外交、新聞、國際經貿或文教、移民行政等公職；從事華語教學、學術研究、翻譯、國際貿易、旅遊觀光等工作。</span></li>
</ul>

<hr />
<p><span style="color:#ffffff"><span style="font-size:18px"><span style="font-family:Verdana,Geneva,sans-serif"><strong><span style="background-color:#ff0000">入學本系管道</span></strong></span></span></span></p>

<p><span style="font-size:16px">● 特殊選才</span></p>

<p><span style="font-size:16px">● 繁星推薦(含外加原住民名額)</span></p>

<p><span style="font-size:16px">● 個人申請(含外加原住民名額)&nbsp; </span><span style="font-size:14px">&nbsp;</span></p>

<p><span style="font-size:16px">● 考試分發(含外加原住民名額)</span></p>

<p><span style="font-size:16px">● 四技二專甄試</span></p>

<p><span style="font-size:16px">● 運動績優甄試 </span></p>

<p><span style="font-size:16px">● 身心障礙學生甄試</span></p>

<p><span style="font-size:16px">● 外國學生申請入學</span></p>

<p><span style="font-size:16px">●&nbsp;僑生及港澳生單獨招生、僑生海外聯合招生</span></p>

<p><span style="font-size:16px">● 轉學</span></p>

<p><span style="font-size:16px">● 轉系</span></p>

<p><span style="font-size:16px">● 境外臺生因應疫情返臺就學銜接專案計畫</span></p>

<p><span style="font-size:18px"><span style="color:#ffffff"><span style="background-color:#ff0000">淡江大學俄國語文學系110學年個人申請入學Q&amp;A群組</span></span></span></p>

<p>&nbsp; &nbsp;&nbsp;<img src="/storage/app/media/Russian/cropped-images/110qa-0-0-0-0-1616762562.jpg" /></p>

<p><a href="https://adms.tku.edu.tw/"><span style="font-size:20px"><span style="color:#ffffff"><span style="background-color:#ff8c00">淡江大學招生策略中心</span></span></span></a></p>

<h3><a href="https://lin.ee/6NzI9hj"><span style="font-size:20px"><span style="color:#ffffff"><span style="background-color:#006400">淡江大學個人申請小幫手&nbsp;</span></span></span></a></h3>

<p><img alt="" src="https://www.tfux.tku.edu.tw/storage/app/media/Russian/M.png" style="height:180px; width:180px" /></p>

<p>本校招生策略中心運用Line功能設置個人申請資訊系統，配合110學年度個人申請時程推出圖文選單，以協助考生取得本校個人申請相關資訊，並可透過群發訊息提醒考生重要日程事項，現階段圖文選單為院系介紹(連結各學系網頁)，下一階段將增加各學系書審資料準備指引。</p>

<p><a href="https://collego.ceec.edu.tw"><span style="font-size:20px"><span style="color:#ffffff"><span style="background-color:#800080">大學選才與高中育才輔助系統</span></span></span></a></p>