<p><strong><span style="font-size:20px"><span style="color:#ffffff"><span style="background-color:#ff0000">外國學生秋季班申請入學</span></span></span></strong></p>

<p><span style="font-size:20px"><strong>Foreign students apply for admission in the fall class</strong></span>&nbsp;</p>

<p><span style="font-size:18px"><strong><a href="https://adms.tku.edu.tw/File/Userfiles/0000000094/files/2021-2022%E7%B0%A1%E7%AB%A0Admissions%20Handbook1221(New).pdf">簡章&nbsp; 2021-2022&nbsp;International Students Admissions Handbook</a></strong></span></p>

<p><em>以下皆為台灣標準時間:According to Taiwan Standard Time</em></p>

<p><span style="font-size:14px">※ 第一梯次報名日期：2021年2月19日(10 a.m.)至3月12日(4 p.m.)。<br />
&nbsp;&nbsp;&nbsp; Fall semster(Beginning in September 2021) Application Submission (I)：2021.02.19(10 a.m.)~2021.03.12 (4 p.m.)<br />
※ 放榜日期：2021年4月底。<br />
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fall semster(Beginning in September 2021) Admission Results Announcement (I)：Late April, 2021.&nbsp;</span></p>

<p><br />
<span style="font-size:14px">※ 第二梯次報名日期：2021年03月19日(10 a.m.)至04月22日(4 p.m.)。<br />
&nbsp;&nbsp;&nbsp; Fall semster(Beginning in September 2021) Application Submission (II)：2021.03.19(10 a.m.)~2021.04.22(4 p.m.)<br />
※ 放榜日期：2021年06月初。&nbsp;<br />
&nbsp;&nbsp;&nbsp; Fall semster(Beginning in September 2021) Admission Results Announcement (II)：Early June. 2021.</span></p>

<p><br />
<span style="font-size:14px">※ 第三梯次報名日期：2021年04月30日(10 a.m.)至06月07日(4 p.m.)。<br />
&nbsp;&nbsp;&nbsp;Fall semster(Beginning in September 2021) Application Submission (III)：2021.04.30~2021.06.07<br />
※ 放榜日期：2021年8月初。<br />
&nbsp;&nbsp;&nbsp;&nbsp;Fall semster(Beginning in September 2021) Admission Results Announcement (III)：Early August, 2021.&nbsp; &nbsp;</span><br />
<br />
&nbsp;</p>