<h1><span style="color:#0000cd;">淡江大學&nbsp;｜&nbsp;俄國語文學系</span></h1>

<p><span style="color:#b22222;">入學管道&nbsp;&nbsp;&nbsp;指考分發／四技甄選／繁星推薦／身心障礙學生甄試／個人申請／科大特殊選才／運動優良學生甄試／運動優良學生甄審／</span></p>

<p><span style="color:#b22222;">轉系(校內他系學生)／寒暑假轉學考(請參考簡章)</span></p>
<hr>

<p>&nbsp;</p>

<p><span style="font-size:20px;"><strong>指考分發／</strong></span></p>

<p><span style="font-size:20px;"><strong>身心障礙學生甄試／</strong></span></p>

<p><span style="font-size:20px;"><strong>四技甄選／</strong></span></p>

<p><span style="font-size:20px;"><strong>科大特殊選才／</strong></span></p>

<p><span style="font-size:20px;"><strong>繁星推薦／</strong></span></p>

<p><span style="font-size:20px;"><strong>個人申請／</strong></span></p>

<p><span style="font-size:20px;"><strong>運動優良學生甄試／視招生學年度提供之名額</strong></span></p>

<p><span style="font-size:20px;"><strong>運動優良學生甄審／視招生學年度提供之名額</strong></span></p>

<p><span style="font-size:20px;"><strong>轉系(校內)／</strong></span></p>

<p><span style="font-size:20px;"><strong>寒暑假轉學(其他大專院校學生)／</strong></span></p>