<p><span style="color:#0000cd"><span style="font-size:20px"><span style="background-color:#ffffe0">本系110學年度導師名冊：</span></span></span></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td style="text-align:center"><span style="font-size:16px">班級</span></td>
			<td style="text-align:center"><span style="font-size:16px">導師姓名</span></td>
			<td style="text-align:center"><span style="font-size:16px">電子郵件信箱</span></td>
		</tr>
		<tr>
			<td style="text-align:center"><span style="font-size:16px">學系導師</span></td>
			<td style="text-align:center"><span style="font-size:16px">郭昕宜主任</span></td>
			<td style="text-align:center"><span style="font-size:16px">126230@mail.tku.edu.tw</span></td>
		</tr>
		<tr>
			<td style="text-align:center"><span style="font-size:16px">俄文一</span></td>
			<td style="text-align:center"><span style="font-size:16px">劉皇杏副教授</span></td>
			<td style="text-align:center"><span style="font-size:16px">119342@mail.tku.edu.tw</span></td>
		</tr>
		<tr>
			<td style="text-align:center"><span style="font-size:16px">俄文一</span></td>
			<td style="text-align:center"><span style="font-size:16px">鄭盈盈副教授</span></td>
			<td style="text-align:center"><span style="font-size:16px">133220@mail.tku.edu.tw</span></td>
		</tr>
		<tr>
			<td style="text-align:center"><span style="font-size:16px">俄文二</span></td>
			<td style="text-align:center"><span style="font-size:16px">張慶國教授</span></td>
			<td style="text-align:center"><span style="font-size:16px">114804@mail.tku.eud.tw</span></td>
		</tr>
		<tr>
			<td style="text-align:center"><span style="font-size:16px">俄文三</span></td>
			<td style="text-align:center"><span style="font-size:16px">蘇淑燕副教授</span></td>
			<td style="text-align:center"><span style="font-size:16px">112556@mail.tku.edu.tw</span></td>
		</tr>
		<tr>
			<td style="text-align:center"><span style="font-size:16px">俄文四</span></td>
			<td style="text-align:center">
			<p><span style="font-size:16px">龔雅雪副教授</span></p>

			<p><span style="font-size:16px">N.Y. Burovtseva</span></p>
			</td>
			<td style="text-align:center"><span style="font-size:16px">122500@mail.tku.edu.tw</span></td>
		</tr>
		<tr>
			<td style="text-align:center"><span style="font-size:16px">境外生導師</span></td>
			<td style="text-align:center">
			<p><span style="font-size:16px">史薇塔助理教授</span></p>

			<p><span style="font-size:16px">S. A. Zaretskaya</span></p>
			</td>
			<td style="text-align:center"><span style="font-size:16px">river_30@yahoo.com</span></td>
		</tr>
	</tbody>
</table>

<p style="text-align:center">&nbsp;</p>