<p>Принципы отбора студентов для годичных стажировок за рубежом на 3-м курсе</p>

<p>Порядок отбора:</p>

<ul>
	<li>Приём заявлений открыт для всех учащихся, желающих отправиться на стажировку на 3-м курсе обучения</li>
	<li>Отбор кандидатов осуществляют декан факультета и преподаватели основных дисциплин на 1-м и 2-м курсах</li>
	<li>Критерием для отбора является успеваемость учащегося за первые 3 семестра</li>
	<li>Порядок и результаты отбора определяются ежегодной квотой в 20 человек</li>
</ul>

<p>Процедура отбора (甄選流程)</p>

<p>1. Проведение отбора: на основании объявления, опубликованного в данном учебном году</p>

<p>2. Период подачи заявлений: примерно до середины марта каждого года, более точное время указывается в подготовленном факультетом объявлении</p>

<p>3. Необходимые документы: ведомость успеваемости за два семестра 1-го учебного года и первого семестра 2-го учебного года (возможен приём не официальной сводной ведомости, а отдельных семестровых ведомостей, которые регулярно получают учащиеся по итогам каждого семестра).</p>

<p>4. По результатам заседания отборочной комиссии публикуется список зачисленных кандидатов и список «ожидания», официальным кандидатам выдаётся в печатной форме информация о прохождении стажировки для обсуждения с членами семьи во время новогодних каникул по лунному календарю.</p>

<p>5. После завершения новогодних каникул по лунному календарю (либо до середины апреля) в течение недели, для завершения процесса регистрации, от кандидатов требуется заполнить анкету, доверенность от родителей/опекунов, письменные результаты тестирования сексуальной ориентации (с подписью родителей/опекунов), а также передать в деканат денежный залог в размере 10 000 НТД. Если кандидат не смог передать в деканат эти документы и денежный залог до даты завершения регистрации, его место автоматически передаётся запасному кандидату из списка «ожидания».</p>

<p>6. Юноши, которые должны пройти службу в армии, должны подать заявку и деканат оформит соответствующий документ для получения разрешения на выезд за границу.</p>

<p>Проведение ориентационного совещания перед отправлением на стажировку: &nbsp;(行前說明會)</p>

<p>1. В марте, до начала регистрации, проводятся ориентационные брифинги перед стажировкой</p>

<p>2. В мае, после завершения регистрации, проводится встреча и обсуждение с участием преподавателей и студентов по вопросу стажировки</p>

<p>3. В конце июня, после возвращения студентов 3-го курса со стажировки, проводится встреча с ними с участием новых кандидатов и их родителей.</p>

<p>4. Церемония вручения флага факультета и ориентационное совещание перед отправлением</p>

<p>5. Дополнительные брифинги проводятся по ситуации.</p>

<p>Оформление страховки (保險事宜)</p>

<p>Обязательное страхование, предусмотренное для выезжающих на стажировки в Россию, должно быть оформлено в России. Стоимость страховки в год составляет около 100-150 долл. США. Страховой полис необходимо предъявлять при прохождении обследования или лечения в медицинских учреждениях РФ. Кроме того, студенты должны сами пробрести на Тайване туристическиую страховку сроком на 1 год, и перед отправлением отправить копию в деканат по почте или по факсу. Если студент отказывается от оформления тайваньской туристической страховки, то требуется письменное согласие его родителей/опекунов.</p>

<p>Регулярное взаимодействие между студентами и деканатом (定期回報機制)</p>

<p>1. Перед отправлением на стажировку студенты путём голосования выбирают одного представителя, который должен регулярно поддерживать связь с деканатом. Администратор деканата также регулярно связывается с представителем группы студентов, находящихся на стажировке, по электронной почте либо с помощью мессенджеров или других каналов связи.</p>

<p>2. До отправления на стажировку администратор деканата предоставляет каждому учащемуся пароль и логин для входа на специальный раздел сайта факультета в интернете «Стажировка 3-го курса – специальная страница», куда студенты обязаны регулярно заходить для 1) заполнения ведомости проверки в области безопасности, 2) делиться впечатлениями о своей жизни, 3) рассказывать о ходе стажировки, 4) делиться фотографиями о своей жизни, участии в различных локальных мероприятиях и т.д.; таким образом сотрудники Института иностранных языков и нашего факультета могут в реальном времени получать информацию о жизни студентов, отправившихся на стажировку, предоставляя им помощь и содействие в случае необходимости.</p>

<p>3. В экстренных случаях студенты должны немедленно связаться с отделом по работе со студентами своего учебного заведения и преподавателями, а также сообщить о ситуации администратору в деканате и декану нашего факультета. В случае необходимости студенты должны также обратиться к сотрудникам зарубежного представительства Тайваня.</p>

<p>Признание оценок по итогам стажировки (成績採認)</p>

<p>1. В случае, если кандидат на стажировку отказывается от её прохождения, его место занимает запасной кандидат, согласно установленной процедуре</p>

<p>2. Признание оценок осуществляется согласно порядку, оглашённому на ориентационном совещании:</p>

<p>1) Отправляющиеся на зарубежную стажировку студенты по программе стажировок для учащихся 3-го курса должны завершить обучение по указанным в программе курсам зарубежного ВУЗа или образовательного центра, эти оценки признаются в качестве обязательных и факультативных кредитов за 3-й год обучения в бакалавриате.</p>

<p>2) В случае, если отправляющиеся на стажировку студенты не завершили полностью обучение или имеют задолженности в рамках занятий 2-курса по дициплинам «Русский язык – 2-й курс», «Грамматика русского языка (2)», полученные в ходе стажировки оценки могут быть зачтены лишь в случае прохождения обучения по дисциплинам «Русский язык – 3-й курс» и «Продвинутый курс грамматики русского языка», во время обучения на 4-м курсе.</p>

<p>3) &nbsp;Если предыдущие оценки по следующим дисциплинам («Русский язык – 2-й курс», «Грамматика русского языка (2)») за первый семестр 2-го года были неудовлетворительными, а за второй семестр – удовлетворительными, то полученные за первый семестр стажировки оценки могут быть учтены для покрытия задолженности первого семестра 2-го курса обучения, а полученные за второй семестр стажировки оценки могут быть признаны за первый семестр обучения по дисциплинам «Русский язык – 3-й курс» и «Продвинутый курс грамматики русского языка», однако по возвращении студенты должны будут пройти обучение второго семестра по этим предметам на 4-м курсе.</p>

<p>3. Если у запасного кандидата на стажировку не закрыты предметы 1-го курса, включая «Русский язык – 1-й курс» и «Грамматика русского языка», как первого, так и второго семестров, то в таком случае учащийся должен заново пройти обучение по этим дисциплинам, либо восполнить недостающие оценки в течение летних каникул, лишь в этом случае он может получить право отправиться на стажировку за рубеж.</p>