<h3><span style="font-size:20px">課程資訊</span><br />
&nbsp;</h3>

<p><span style="font-size:24px"><span style="color:#ff0000"><strong><span style="background-color:#ffffe0">學系教育目標</span></strong></span></span></p>

<p><span style="font-size:18px">一、培養具有獨立分析能力之專業俄語人才。</span></p>

<p><span style="font-size:18px">&nbsp; &nbsp; &nbsp; Specialization in Russian language with the capacity for independent analysis.</span></p>

<p><span style="font-size:18px">二、培養學生具備國際觀及跨文化溝通之能力。</span></p>

<p><span style="font-size:18px">&nbsp; &nbsp; &nbsp; An international perspective with the capacity for cross-cultural communication.</span></p>

<p><span style="font-size:18px">三、培養學生具備聽、說、讀、寫、譯五項基礎語言技能。</span></p>

<p><span style="font-size:18px">&nbsp; &nbsp; &nbsp; Basic language skills in listening, speaking, reading, writing, and translation.</span></p>

<p><span style="font-size:18px">四、培養學生掌握俄羅斯人文、歷史與政經情勢。</span></p>

<p><span style="font-size:18px">&nbsp; &nbsp; &nbsp; Awarenessof cultural, historical, and political and economic situations in Russia.</span></p>

<p><span style="color:#ff0000"><span style="font-size:24px"><strong><span style="background-color:#ffffe0">核心能力</span></strong></span></span></p>

<p><span style="font-size:18px">A. 具備俄語檢定聽力B1的能力。</span></p>

<p><span style="font-size:18px">&nbsp; &nbsp; &nbsp;B1 level of the TORFL in listening.</span></p>

<p><span style="font-size:18px">B. 具備俄語檢定口說B1的能力。</span></p>

<p><span style="font-size:18px">&nbsp; &nbsp; B1 level of the TORFL in speaking.</span></p>

<p><span style="font-size:18px">C. 具備俄語檢定閱讀B1的能力。</span></p>

<p><span style="font-size:18px">&nbsp; &nbsp; B1 level of the TORFL in reading.</span></p>

<p><span style="font-size:18px">D. 具備俄語檢定寫作B1的能力。</span></p>

<p><span style="font-size:18px">&nbsp; &nbsp; B1 level of the TORFL in writing.</span></p>

<p><span style="font-size:18px">E. 具備俄文翻譯的能力。</span></p>

<p><span style="font-size:18px">&nbsp; &nbsp; Basic language skill in translation.</span></p>

<p><span style="font-size:18px">F. 具備基本的商務俄文知識。</span></p>

<p><span style="font-size:18px">&nbsp; &nbsp; Basic knowledge of Business Russian.</span></p>

<p><span style="font-size:18px">G. 具備通曉俄國文學、文化與國情的能力。</span></p>

<p><span style="font-size:18px">&nbsp; &nbsp; Competence knowledge of Russian literary, culture and socio-political conditions.</span></p>

<p>&nbsp;</p>

<p><span style="color:#ff0000"><span style="font-size:24px"><strong><span style="background-color:#ffffe0">課程地圖 (106學年度入學新生起適用)</span></strong></span></span></p>

<p><span style="font-size:16px"><strong><img alt="" class="fr-dii fr-fic" src="https://www.tfux.tku.edu.tw/storage/app/media/Russian/A6%20%E4%BF%84%E6%96%87%E7%B3%BB%E8%AA%B2%E7%A8%8B%E5%9C%B0%E5%9C%96.jpg" style="height:800px; width:1097px" /></strong></span></p>

<p>&nbsp;</p>