<h3>課程架構</h3>

<p>本系課程架構分為語言課程與非語言（文化 / 文學）課程兩大部分：</p>

<p>◆ （一）語言部份</p>

<p>◎基礎俄語訓練</p>

<p>本系自96學年度入學新生起，開設一系列有系統的基礎語言課程，包括大一~大四俄語、大一~大四會話、俄語實習(一)~(二)、俄語語法(一)~(二)、俄語視聽練習(一)~(二)等，訓練學生俄語聽說讀寫四項能力。除俄文專業科目外，還重視英文和第二外文能力的培養，一年級學生應修4小時英文課程(包含英語聽講練習)，二年級起可自由選修英文或第二外語。</p>

<p>◎ 進階俄語訓練</p>

<p>包括進階俄語語法、新聞俄語、俄語習作、俄語短篇名著選讀、俄語小說與電影賞析，訓練同學嫺熟語言的進階使用。</p>

<p>◎ 應用俄語訓練</p>

<p>三年級開設翻譯課程（俄文翻譯），為必修課程，著重筆譯的訓練；四年級開設口譯課程（實用俄語口譯、經貿俄語口譯），培養學生口譯能力，提供學生就業技能。商用俄語課程，培養學生商貿的口語和商業書信寫作能力，並鼓勵同學選修相關外系課程（例如：企管課程、外貿課程、電腦課程），培養學生將來就業的語言和專業知識能力。因應國際華語學習潮流及需求，本系也開授俄語華語教學課程，期能使學生開拓多元的就業選擇。</p>

<p>◆（二）非語言部份</p>

<p>◎非語言部份：包含文化課程與文學課程</p>

<p>本系為了讓學生更加了解俄國現況和社會文化，激發學習俄文的興趣，具備更寬廣的視野，於低年級（大一、大二）安排非語言課程，如「俄羅斯概論」、「俄羅斯民歌」、「俄國史」(一學年課程)及「俄羅斯文化概論」，使學生能初步了解俄國歷史、地理與文化概況，知道它的過去、現在及未來發展趨勢。三年級的「俄國文學史」，透過研讀文學史、閱讀俄語文學文本和課堂討論，進而誘發學生對文學的興趣，作為畢業後繼續研究的基礎，或是培養終生對文學的興趣，厚植豐厚的人文素養。</p>

<h3>課程改革的精神：減少文化課程，增加語言應用課程和高階語言課程。</h3>

<p>1.97學年度起廢除了「文化史」（由俄國現勢代替）、「俄羅斯民歌」（99學年度復開）、「俄國巡禮」等文化課程，將原先必修的「俄羅斯史」和「蘇聯史」改成選修，大幅度降低文化相關課程，將省下來的低年級學分轉往高年級，開設應用俄語課程和進階的語言相關課程，將「商用俄文（一）」從一個學期變成一年的選修課，與「商用俄文（二）」銜接，並與翻譯課程相結合（「經貿俄語口譯」）成為一個完整的商用俄文/商用翻譯課程。口譯課程的設置還可以增加同學口語會話的機會，弭補會話課時數不足的缺憾。</p>

<p>2.98學年度起停開「句法」與「詞法」，「句法」以「俄語短篇名著選讀」替代，「詞法」以「俄語小說與電影賞析」替代。</p>

<p>3.加開進階語言課程：「俄語短篇名著選讀」、「俄語小說與電影賞析」，可以與大三和大四俄語互相配合，訓練同學將低年級學習的文法知識應用在閱讀課程裡。</p>

<p>4.為控制學生的畢業程度，從97年度入學新生起，增加語言畢業門檻，必須通過俄語一級檢定方能畢業，因此加開一個學分的選修課俄語檢定，協助訓練同學們通過考試。</p>

<p>5.課程的直向連結：大一俄語~大四俄語，大一會話~大四會話，商用俄文（一）、（二），筆譯（大三）、口譯（大四），「俄語短篇名著選讀」、「俄語小說與電影賞析」，俄語語法（一）、（二），實習（一）、（二），俄語視聽練習（一）、（二），將語言課程從基礎到應用，由淺入深，循序漸進的培養學生的俄語聽說讀寫譯五項技能。</p>

<p>6.課程的橫向連結：低年級開設文化課程誘發學生對俄文學習的興趣；高年級的實用課程則是鍛鍊學生的語言應用能力，兩種課程互相為用，又各自滿足不同年級的心理和實際需求。翻譯課程與商用課程互相補充；翻譯課程中的口譯課程又對會話課程加以補充；閱讀課程與大三、大四俄語互相補充，還可以透過閱讀知道俄國文化和文學相關知識，與文學史（以中俄文交雜上課）及俄羅斯概論（用中文授課）兩科互相補充。</p>

<p>＊註：閱讀一即為「俄語短篇名著選讀」、閱讀二即為「俄語小說與電影賞析」。</p>