<p>一、依本系「淡江大學俄國語文學系學生校外實習實施要點」辦理。</p>

<p>二、實習資格：</p>

<p>(一)本系四年級學生或延修生</p>

<p>(二)四年級第1學期修過「商用俄語(二)」或「觀光俄語口譯」並取得學分成績，且於該學年第2學期選修「商用俄語(二)」或「經貿俄語口譯」者，即可參加甄選。</p>

<p>(三)獲選之同學須於指定時間內至校外實習，且須於實習期間返校於「商用俄語(二)」或「經貿俄語口譯」任課教師指定課程進行校外實習之口頭/書面報告；無獲選校外實習之學生應至原班正常到課。</p>

<p>三、實習時間：</p>

<p>&nbsp; &nbsp;每年3月至5月，實習總時數應達64小時，原則上每星期2次，每次4小時，共計8週。但，實習單位可視情況調配每週的實習時數，惟總時數以不超過64小時為原則。</p>

<p>四、申請文件：</p>

<p>參加校外實習甄選之學生應於公告受理截止日以前檢送下列文件至系辦：</p>

<p>(一)全學年成績單。</p>

<p>(二)履歷表(貼照片)及中文自傳。(格式不拘)</p>

<p>(三)相關證照影本。</p>

<p>(四)「校外實習志願表」。</p>

<p>五、具有下列各款情形之一者，得優先推薦參加校外實習：</p>

<p>(一) 凡具備俄語檢定(TORFL)一級(B1)或二級(B2)證照者。</p>

<p>(二) 修過「商用俄語(一)」上學期、「觀光俄語口譯」成績及格者。</p>

<p>(三) 居住於實習地點所在鄉鎮縣市地區之學生(考量學生實習期間交通、住宿負擔及安全問題)。</p>

<p>(四) 持低收入戶或具清寒證明者。</p>

<p>六、實習甄選日期：依本系公告，未出席者視同放棄甄選資格。</p>

<p>七、合作廠商工作內容和資格要求：依本系公告。</p>