<p><strong>「106學年度畢業生畢業滿1年」</strong><strong>及</strong><strong>「107學年度畢業生畢業當年」</strong>就業情形</p>

<p><img src="https://www.tfux.tku.edu.tw/storage/app/media/Russian/1061.jpg" /></p>

<p><img src="https://www.tfux.tku.edu.tw/storage/app/media/Russian/107.jpg" /></p>