<p><strong><span style="font-size:20px"><span style="color:#ffffff"><span style="background-color:#0000ff">僑生單獨招生、僑生海外聯合招生</span></span></span></strong></p>

<h2><strong>1.&nbsp;</strong>僑生第一梯次單獨招生</h2>

<h2><a href="https://adms.tku.edu.tw/File/Userfiles/0000000001/files/110%E5%83%91%E7%94%9F%E5%8F%8A%E6%B8%AF%E6%BE%B3%E7%94%9F%E4%BE%86%E8%87%BA%E5%B0%B1%E5%AD%B8%E5%96%AE%E6%8B%9B%E7%B0%A1%E7%AB%A0%E5%85%AC%E5%91%8A%E7%89%88.pdf">簡章</a><br />
<span style="font-size:16px">※ 報名日期：2020年11月6日上午10:00至12月11日下午8:00止。<br />
※ 放榜日期：2021年2月24日。(若教育部或僑務主管機關延後核復考生身分資格，將另行公告日期)</span></h2>

<p>&nbsp;</p>

<h2><strong>2.&nbsp;</strong>僑生第二梯次單獨招生</h2>

<h2><a href="https://adms.tku.edu.tw/File/Userfiles/0000000001/files/110%E5%83%91%E7%94%9F%E5%8F%8A%E6%B8%AF%E6%BE%B3%E7%94%9F%E4%BE%86%E8%87%BA%E5%B0%B1%E5%AD%B8%E5%96%AE%E6%8B%9B%E7%B0%A1%E7%AB%A0%E5%85%AC%E5%91%8A%E7%89%88.pdf">簡章</a><br />
<span style="font-size:16px">※ 報名日期：2021年5月1日10:00至6月30日20:00截止。<br />
※ 放榜日期：2021年8月14日（若教育部或僑務主管機關延後核復考生資格，將另行公告日期）。</span><br />
&nbsp;</h2>

<h2><strong>3.&nbsp;</strong>專案單招&ndash;在港就讀港澳生、外國學生入學、轉學招生</h2>

<h2><a href="https://adms.tku.edu.tw/File/Userfiles/0000000096/files/2021%E5%B9%B4%E5%9C%A8%E6%B8%AF%E5%B0%B1%E8%AE%80%E6%B8%AF%E6%BE%B3%E7%94%9F%E5%8F%8A%E6%B8%AF%E6%BE%B3%E5%85%B7%E5%A4%96%E5%9C%8B%E5%9C%8B%E7%B1%8D%E4%B9%8B%E8%8F%AF%E8%A3%94%E5%AD%B8%E7%94%9F%E4%BE%86%E8%87%BA%E5%85%A5%E5%AD%B8%E5%8F%8A%E8%BD%89%E5%AD%B8%E8%A9%A6%E8%BE%A6%E8%A8%88%E5%8A%83%E7%AC%AC%E4%BA%8C%E6%A2%AF%E6%AC%A1%E5%96%AE%E7%8D%A8%E6%8B%9B%E7%94%9F%E7%B0%A1%E7%AB%A0.pdf">簡章</a></h2>

<p><span style="font-size:16px">[2021在港就讀港澳生及港澳具外國國籍之華裔學生來臺入學及轉學試辦計畫第二梯次單獨招生]</span></p>

<p><span style="font-size:16px">招生對象：限目前在港就讀(或在港學校應屆畢業)之港澳生及港澳具外國國籍之華裔學生</span></p>

<p><span style="font-size:16px">招收學士班轉學生二、三年級及碩博士班新生(109學年第2學期提前入學)</span></p>

<p><br />
<span style="font-size:16px">※ 報名日期：2020年12月1日至12月25日止。<br />
&nbsp;※ 公告錄取名單：2021年1月27日(若教育部延後核復考生身分資格，將另行通知放榜時程)</span></p>

<h2>&nbsp;</h2>

<h3><span style="font-size:20px"><strong>4.&nbsp;</strong>僑生海外聯合招生</span></h3>

<p><span style="font-size:18px"><strong>逕向<a href="https://cmn-hant.overseas.ncnu.edu.tw/"><span style="color:#a52a2a"><span style="background-color:#fff0f5">海外聯合招生委員會</span></span></a>網站查詢</strong></span></p>