<p>　　本系成立於民國82年（西元1993年），設立宗旨為為培育具獨立分析、國際觀及跨文化溝通能力之俄語人才，並期畢業系友善盡社會責任、回饋鄉里。本系鼓勵學生在專業領域訓練之外，應注重多元發展，洞悉社會動向，提升國際交流之溝通能力。課程訓練採語言與實務並重，除培養學生具備聽、說、讀、寫、譯等5項基礎語言技能之外，也傳授俄羅斯人文、歷史與國情相關知識，以因應國家多元發展之需求。為確保辦學品質，並達永續發展之目標，本系成立以來，先後於98學年度接受高等教育評鑑中心「系所評鑑」、103-104學年度高教中心辦理的教學單位評鑑，評鑑結果皆為「通過」。</p>

<p>　　本系設置學士班，每屆招生一班60人，創系迄今共已招收28屆學生，培育1170位畢業生；至109學年第2學期為止，本系在學生計有223人。</p>

<p>　　早期專任師資以俄羅斯籍教師為主，自90學年度起，因應教學需要，開始招聘本國籍教師，目前有5位本國籍教師、3位俄羅斯籍教師，師資結構趨於平衡。截至109學度第2學期為止，本系有8位專任教師：1位教授、6位副教授及1位助理教授，所有教師皆擁有俄羅斯國立大學語文學系博士學位，專長為俄國文學、語言學、文化、翻譯與俄語教學，多擔任本系之專業必修課程教授，同時參與校院系之各項會議、專業成長活動和教師研習課程，並提供學生學業與生涯規劃諮詢和輔導等服務。依課程需求不同，外聘專長為俄語語音學、俄語華語教學、俄國政經歷史等專長之兼任教師輔助教學工作，目前有5位兼任教師：1位教授、2位助理教授和3位講師，另有支援行政和實習課教學之組員１位和專任助教１位。</p>

<p>　　畢業系友服務於產官學各界，包括政府部門機關、公營事業單位、學術界、教育界、外貿商行、傳統製造業、媒體傳播業和運輸服務業等等，為社會貢獻一己之力。每年3月春之饗宴和11月校慶日皆邀請系友返校，學期間亦舉辦職場講座，分享學涯規畫和職場經驗予在學學弟妹參考。</p>

<p>&nbsp; &nbsp; 　在歷任系主任與全體專兼任教師的共同努力之下，本系在國內俄語教育界建立名聲，畢業生亦遍及社會各界，為本系增色不少。展望未來國內少子女化和AI之挑戰，以及面對國外高等教育之競爭，本系在過往累積之學術和專業成就的基礎上，將以本校全面品質管理(Total Quality Management, TQM)為手段，以國外知名大學俄語系為學習標竿，創建本系自有之特色，以達永續發展的目的。</p>