<p>1993.10&nbsp; &nbsp; 淡江大學俄國語文學系正式成立，戴萬欽教授為第1任系主任，本系專任師資除系主任外皆為俄國籍。</p>

<p>1994.08&nbsp; &nbsp; 楊棨教授接任第2任系主任。</p>

<p>1995.09&nbsp; 「大三出國&nbsp; the Junior Year Study Abroad Program」計畫開始，甄選大三學生赴俄羅斯國立莫斯科大學修習學分一年。</p>

<p>1996.08&nbsp; &nbsp; 劉克甫教授接任第3任系主任。</p>

<p>1997.08&nbsp; &nbsp; 彼薩列夫教授接任第4任系主任。</p>

<p>1997.09&nbsp; &nbsp; 與莫斯科語言大學進行公費交換生計畫。</p>

<p>1998.09&nbsp;&nbsp;「大三出國&nbsp; the Junior Year Study Abroad Program」計畫，學生改赴俄羅斯國立聖彼得堡大學修習學分一年。</p>

<p>2000.09&nbsp; 「俄國政府獎學金」甄選計畫，提供本系學生赴俄公費留學一年。</p>

<p>2001.08&nbsp; &nbsp; 首次聘任2位本國籍教師為專任教師。</p>

<p>2002.08&nbsp; &nbsp; 聘任本系第1屆畢業校友劉皇杏小姐擔任本系專任教師。</p>

<p>2003.08&nbsp; &nbsp; 馬良文教授接任第5任系主任。本系創立十週年。</p>

<p>2006.12&nbsp; &nbsp; 本系第4屆校友趙世絢小姐考上當年度外交領事乙等特考。</p>

<p>2007.08&nbsp; &nbsp; &nbsp;張慶國副教授接任第6任系主任。</p>

<p>2008.12&nbsp; &nbsp; &nbsp;本系第4屆校友許寬懷小姐考上當年度外交領事乙等特考。</p>

<p>2009.04&nbsp; &nbsp; &nbsp;本系接受高等教育評鑑中心「系所評鑑」。</p>

<p>2011.08&nbsp; &nbsp; &nbsp;張慶國副教授續任第7任系主任。</p>

<p>2011.12&nbsp; &nbsp; &nbsp;舉辦「淡江大學2011第一屆俄國語文能力測驗」(TORFL)。</p>

<p>2012.09&nbsp; 「大三出國&nbsp; the Junior Year Study Abroad Program」計畫，學生改赴俄羅斯國立聖彼得堡交通大學修習學分一年。</p>

<p>2012.06&nbsp; &nbsp; &nbsp;舉辦「淡江大學2012第二屆俄國語文能力測驗」(TORFL)。</p>

<p>2012.09&nbsp; &nbsp;&nbsp;「大二異地學習」計畫開始，甄選2名大二績優學生赴中國大陸北京大學修習學分一年。</p>

<p>2013.08&nbsp; &nbsp; &nbsp;蘇淑燕副教授接任第8任系主任。本系創立二十週年。</p>

<p>2014.09&nbsp; 「大三出國&nbsp; the Junior Year Study Abroad Program」計畫合作學校增加為4所學校：俄羅斯國立莫斯科大學、莫斯科市立師範大學、國立聖彼得堡大學和國立聖彼得堡交通大學；其中與莫斯科市立師範大學中文系開始交換學生至對方學校修習學分一年。</p>

<p>2015.08&nbsp; &nbsp; &nbsp;蘇淑燕副教授續任第9任系主任。</p>

<p>2016.09&nbsp; 「大三出國&nbsp; the Junior Year Study Abroad Program」計畫合作學校減為3所學校：俄羅斯國立莫斯科大學、莫斯科市立師範大學、國立聖彼得堡交通大學，其中與莫斯科市立師範大學中文系有交換生名額；另開始與姊妹校遠東聯邦大學、烏拉爾聯邦大學交換學生至對方學校學習一年。</p>

<p>2017.08&nbsp; &nbsp; &nbsp;劉皇杏副教授接任第10任系主任。</p>

<p>2017.09&nbsp; &nbsp; &nbsp;甄選3名大四學生分別赴俄羅斯遠東聯邦大學、北極聯邦大學進行「海外華語教學實習」計畫一學期。</p>

<p>2017.10&nbsp; &nbsp; &nbsp;執行教育部「106年教學創新試辦計畫」，邀請俄羅斯北極聯邦大學語言系2名研究生至本系進行「外語教學台灣實習計畫」計畫2個月。</p>

<p>2018.10&nbsp; &nbsp; &nbsp;執行教育部「107年高等教育深耕計畫」，邀請俄羅斯遠東聯邦大學語言系3名研究生至本系進行「外語教學台灣實習計畫」計畫1個月。</p>

<p>2018.11&nbsp; &nbsp; &nbsp;本系創立二十五週年。</p>

<p>2019.08&nbsp; &nbsp; &nbsp;劉皇杏副教授續任第11任系主任。</p>

<p>2021.08&nbsp; &nbsp; &nbsp;郭昕宜副教授續任第12任系主任。</p>

<p>&nbsp;</p>