<p><strong>-- Introduction/History of the department</strong></p>

<p>The Department of Russian Language and Literature at Tamkang University was established in 1993. It is the newest department of the College of Foreign Languages and Literatures at Tamkang University as well as the third Russian professional-oriented department in Taiwan after National Chengchi University and Chinese Culture University. The deans over the year are Professor Wan-chin Tai, Professor Chi Yang, Professor М.В. Крюков, Professor А.А.Писарев, Professor В.В.Малявин and Associate Professor Chang Ching-gwo. The current dean is Associate Professor Su Shwu-yann. Each year the department recruits 62 students. There were a total of 256 students by the second semester of the 2013-2014 academic year.</p>

<p>&nbsp;In the early days, the faculty members were mainly Russians. The Department began recruiting Taiwanese professors with expertise in Russian in 2001. In the year 2015-2016, there were 8 full-time professors in the department: 3 associate professors and 5 assistant professors. Each of them owns a PhD degree and is specialized in Russian literature, linguistics, cultures and translations. Among those 8 full-time teachers, 5 are Taiwanese and 3 are Russians. Also, 2 full-time professors from Graduate Institute of European Studies, TKU, support teaching works in the Department. In addition to full-time professors, there are 5 part-time professors, including 1 Russian and 4 Taiwanese. Starting from the year 2010, one full-time teaching assistant has been hired in order to support partial teaching of main subjects and internship courses.</p>
<!--[if !supportLineBreakNewLine]-->

<p>
	<br>
</p>
<!--[endif]-->

<p>The Department cooperated with School of Russia in the beginning. In order to meet the research orientation of School of Russia, the Department established many cultural courses. In planning the curriculum, the Department’s objective is to train experts and researchers both in Russian and the Russian region. In order to conform to the medium and long term development programs of the university and our department, and in order to take into consideration the changes and evolutions in the society and in students’ needs, the undergraduate and graduate administrations have operated independently since the 1997-1998 academic year. Only the faculties still support each other. After several curriculum reforms, the Department has increased the practical courses, such as<em>&nbsp;Commercial Russian&nbsp;</em>and <em>Translation,</em> as so to successfully prepare students for the job market. Moreover, through the cultural and literature courses, students can develop a global perspective and understand Russian culture and current political situation.</p>