<p><span style="font-size:18px"><span style="color:#000000"><span style="background-color:#ffffff">International Russian Accredited Program for Enployment Training</span></span></span></p>

<p><a href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/%E5%AD%B8%E5%88%86%E5%AD%B8%E7%A8%8B/International%20Russian%20Accredited%20Program%20for%20Enployment%20Training-Application%20conditions.pdf"><span style="font-size:14px">Application Conditions</span></a></p>

<p><a href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/%E5%AD%B8%E5%88%86%E5%AD%B8%E7%A8%8B/International%20Russian%20Accredited%20Program%20for%20Enployment%20Training-%20Courses%20list.pdf"><span style="font-size:14px">Courses List</span></a></p>

<p><a href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/%E5%AD%B8%E5%88%86%E5%AD%B8%E7%A8%8B/International%20Russian%20Accredited%20Program%20for%20Enployment%20Training-Application%20Form.pdf">Application Form</a></p>

<p><a href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/%E5%AD%B8%E5%88%86%E5%AD%B8%E7%A8%8B/International%20Russian%20Accredited%20Program%20for%20Enployment%20Training-Certification%20Form.pdf"><span style="font-size:14px">Certification Form</span></a></p>