<p>淡江大學外國語文學院俄國語文學系學生暑假海外實習要點</p>

<table border="1" cellpadding="0" cellspacing="0" style="width:0px">
	<tbody>
		<tr>
			<td style="width:4.3631%">一、 &nbsp;</td>
			<td style="width:95.5757%">依本校「淡江大學學生校外實習實施要點」訂定本要點。（以下簡稱本要點）。</td>
		</tr>
		<tr>
			<td style="width:4.3631%">二、</td>
			<td style="width:95.5757%">本要點相關實習計畫由「淡江大學外國語文學院俄國語文學系學生校外實習委員會」（以下簡稱學生校外實習委員會）擬定、執行、督導和檢討。</td>
		</tr>
		<tr>
			<td style="width:4.3631%">三、</td>
			<td style="width:95.5757%">本要點訂定包括學生遴選、工作分派、訓練、督導、請假、教師訪視、成績考核並協助本系與實習機構簽訂合約等事宜。</td>
		</tr>
		<tr>
			<td style="width:4.3631%">四、</td>
			<td style="width:95.5757%">本要點之實習係指於暑假安排學生於境外設立之台商或外資企業進行實習之課程。實習總時數以在同一企業實習二百五十六小時以上為原則。</td>
		</tr>
		<tr>
			<td style="width:4.3631%">五、</td>
			<td style="width:95.5757%">本要點之實習資格為本系三年級未出國留學者，上學期修過「商用俄語(一)」或「俄文翻譯」且成績及格者，即可參加甄選。<br />
			申請參加實習之學生應依當學年度甄選公告繳交相關文件至學系。</td>
		</tr>
		<tr>
			<td style="width:4.3631%">六、</td>
			<td style="width:95.5757%">具有下列各款情形之一者，得優先推薦參加校外實習：
			<ul>
				<li><!--[if !supportLists]-->凡具備俄語檢定(TORFL)一級(B1)或二級(B2)證照者。</li>
				<li><!--[if !supportLists]-->&nbsp; (二)持低收入戶或具清寒證明者。</li>
			</ul>
			實習名額視當學年度校外實習機構提供之名額而定，得列候補若干名。</td>
		</tr>
		<tr>
			<td style="width:4.3631%">七、</td>
			<td style="width:95.5757%">由學生校外實習委員會召開會議甄選學生至校外實習。初選結果轉知實習機構或進行第二次面試，最終甄選結果由本系公告實習學生名單於學系官網和辦公室佈告欄。</td>
		</tr>
		<tr>
			<td style="width:4.3631%">八、</td>
			<td style="width:95.5757%">學生實習前因病或特殊事故，無法報到者，取消實習資格，並由候補學生遞補；實習期間如因病或特殊原因不克完成規定之實習時數者，應立即向學系報告，再由學生校外實習委員會視個案採取補救措施。終止實習後，需立即返台，不得於境外逗留。</td>
		</tr>
		<tr>
			<td style="width:4.3631%">九、</td>
			<td style="width:95.5757%">學生開始實習前，應由學系召開學生實習經驗分享座談會、建立意見反饋機制及申訴管道，說明實習法規及校外實習實施注意事項。<br />
			學生實習期間應接受實習機構之指導與考核，並遵守相關規定，且不得無故中途退出。</td>
		</tr>
		<tr>
			<td style="width:4.3631%">十、</td>
			<td style="width:95.5757%">由領隊擔任實習輔導老師，協助實習機構報到、住宿、居留登記事宜，給予實習之俄語專業相關建議，以及海外生活注意事項之提醒。實習期間輔導老師應不定期至實習機構訪視，返台後則應持續以電話、電子郵件或其他社群網路工具了解學生實習情形，訪查後應填寫「輔導學生暑假海外實習紀錄表」，定期追蹤輔導學生實習情形及成效。如發現異常現象應立即通知學生家長、系主任及，及時採取有效措施以防範未然。</td>
		</tr>
		<tr>
			<td style="width:4.3631%">十一、</td>
			<td style="width:95.5757%">學生實習期間依本校校外實習課程實施規則編列經費，辦理保學生團體（平安）保險及傷害保險(得附加傷害醫療險)，並應於前往實習機構實習前完成投保。</td>
		</tr>
		<tr>
			<td style="width:4.3631%">十二、</td>
			<td style="width:95.5757%">基於實習學習性質，實習學生不得要求薪酬，但實習機構另有規定薪酬者，不在此限。學生校外實習期間所需交通費、膳宿費，由學生自理。</td>
		</tr>
		<tr>
			<td style="width:4.3631%">十三、</td>
			<td style="width:95.5757%">本系與實習機構雙方應簽訂學生暑假海外實習合約書，明確規範雙方權利與義務。實習機構安排之工作項目及工作環境不得影響學生之健康與安全，實習內容必須與俄文專業有關。</td>
		</tr>
		<tr>
			<td style="width:4.3631%">十四、</td>
			<td style="width:95.5757%">學生實習期間應準時出勤，並遵守實習機構所安排之實習相關規定。請假須事先報經實習機構主管同意，並於事後將時數補足。請假時數以實習總時數三分之一為限，時數超過總時數三分之一者，經由實習機構反映，予以退訓，如當學年度獲得經費補助，則須歸還所補助之三分之二機票費用及其他相關費用，且實習時數不予以採認學分。實習學生應確實遵守本校有關學生生活管理及校規之規定，共同維護校譽。</td>
		</tr>
		<tr>
			<td style="width:4.3631%">十五、</td>
			<td style="width:95.5757%">暑假海外實習期間若有特別努力認真，表現優異、為校爭光者，予以推薦敘獎。反之，實習學生如有不守工作紀律、表現欠佳、行為不檢或有損校譽等情事，經實習機構通知本系並查明屬實者，則依本校學生獎懲辦法按情節輕重予以處分。如有前款情事或適應欠佳無法勝任實習者，由實習機構知會學系處理，經勸解或輔導仍未改善者，終止實習並須歸還所補助之三分之二機票費用及其他相關費用，且實習時數不予以採認學分。</td>
		</tr>
		<tr>
			<td style="width:4.3631%">十六、</td>
			<td style="width:95.5757%">暑假海外實習學生於返校後，次學年須選修「商用俄語(二)」上、「俄語專業實務實習」單學期課程，並於上、下學期各依任課教師指定時間、地點至課堂上實習報告一次並繳交實習報告一份。實習成績考評由實習機構主管和實習課程任課教師共同評比，實習機構成績佔總成績百分之六十，任課老師評分則佔百分之四十。<br />
			每學年初，學系應召集學生校外實習委員召開會議，檢討學生校外實習執行狀況及缺失，必要時舉辦實習座談會，以供教學興革參考。</td>
		</tr>
		<tr>
			<td style="width:4.3631%">十七、</td>
			<td style="width:95.5757%">與學生實習相關之申請書表、家長及連帶保證人同意書、實習合作契約、成績考評表、輔導訪視紀錄及暑假海外實習報告等，應專案建檔備查。</td>
		</tr>
		<tr>
			<td style="width:4.3631%">十八、</td>
			<td style="width:95.5757%">為顧及實習機構之業務機密，本系之實習學生、輔導老師、任課教師、系主任和實習機構皆須簽署保密協定，對本項實習所獲悉之個人資料和商業機密，不得洩漏、揭露、轉述或公開發表。違反保密規定者，保留法律追訴權利，學生則視情節輕重另依校規予以處分。</td>
		</tr>
		<tr>
			<td style="width:4.3631%">十九、</td>
			<td style="width:95.5757%">本要點未盡事宜，悉依本校學生校外實習要點相關規定辦理。</td>
		</tr>
		<tr>
			<td style="width:4.3631%">二十、</td>
			<td style="width:95.5757%">本要點經課程委員會、系務會議通過後，報請院長核定後，自公布日實施；修正時亦同。</td>
		</tr>
	</tbody>
</table>