<p><strong>Department Scholarship</strong></p>

<ol>
	<li>Department of Russian’s Scholarship: Available for one student of each grade. Each student’s receives a NTD3,000 stipend for each academic year.</li>
	<li>Emergency Financial Aid: Available for one student of each grade. Each student’s receives a NTD10,000 stipend for each academic year.</li>
	<li>Academic Excellence Scholarship: Available for one student of each grade. Each student’s receives a NTD10,000 stipend for each academic year.</li>
	<li>Alumni Scholarship: Available for 3 students of sophomore, junior and senior years. Each student is awarded a NTD5,000 stipend for each academic year.</li>
	<li>Part time work: 3 to 5 part time jobs are offered each semester.</li>
</ol>

<p><strong>University Scholarships</strong></p>

<p>Hereafter is the list of the scholarships offered by the university: Academic Excellence Scholarship (awarded to the first ranked student of each department and does not require application), Chueh-Sheng Scholarship, Ching-Sheng Scholarship, Born-in-Tamsui Scholarship, Athlete Scholarship, TKU Stuff’s Children Financial Aid, Overseas Students Scholarship, Ying-Chiu Memorial Scholarship, Mr. Fei Scholarship, Mr. Chen Pu-yun Memorial Scholarship, Mr. Ma Ti-Chien Memorial Scholarship, Disabled Students Scholarship, Mr. Hu Shih-Ying Memorial Scholarship, Chuan Hsiao-Heng Scholarship, I-Chang Memorial Scholarship, Ms. Chi Wei-Li Scholarship, Low-income Students Scholarship, Mr. Lin Shou-Chen Memorial Scholarship, President of Kuan Sa Groups Tseng Cheng-Jen Scholarship, Mr. Chou Chiu-Huo Memorial Scholarship, Mr. Han Hsiang Memorial Scholarship, Night School Alumni Scholarship, Mr. Li Hung-Chih Scholarship, Graduate School Students Scholarship, Emeritus Professor Lin Yun-Shan Scholarship.</p>

<p><strong>Russian Government Scholarship</strong></p>

<p>Every year the Russian government provides a one-year scholarship to 6-7 students of the Department of Russian, Graduate School of Russian and other Russian studies related departments to study language in the Commonwealth of Independent States. More other scholarships provided by educational institutions or foundations can be found at the bulletin board of the university. Please apply according to regulations of each scholarship.</p>

<p>
	<br>
</p>

<p>Currently the Department posts all information pertaining to scholarships on the website and on the bulletin board outside of the department’s office. Meanwhile, all the students of the department will be notified by emails. Students are welcome to look up for the information or contact the department’s office. Students can find all information related other scholarships provided by governmental structures, non-profit corporations, educational institutions or foundations on the website and on the Guidance Section in the Office of Student Affairs’ bulletin board. Please apply according to regulations of each scholarship.</p>

<p>
	<br>
</p>

<table border="0" cellpadding="0" cellspacing="0" style="margin-right: calc(11%); width: 89%;" width="600">
	<tbody>
		<tr>
			<td>

				<table align="left" border="0" cellpadding="0" cellspacing="1" style="margin-right: calc(0%); width: 100%;" width="500">
					<tbody>
						<tr>
							<td style="width: 10.9935%;" valign="bottom" width="60">

								<p align="center">學年度</p>

								<p align="center">Academic Year</p>
							</td>
							<td colspan="2" style="width: 40.5538%;" valign="bottom" width="145">

								<p align="center">98</p>

								<p align="center">2009-2010</p>
							</td>
							<td colspan="2" style="width: 40.3909%;" valign="bottom" width="151">

								<p align="center">99</p>

								<p align="center">2010-2011</p>
							</td>
							<td style="width: 26.5472%;" valign="bottom" width="72">

								<p align="center">100</p>

								<p align="center">2011-2012</p>
							</td>
						</tr>
						<tr>
							<td style="width: 10.9935%;" valign="bottom" width="60">

								<p align="center">項目</p>

								<p align="center">Item</p>
							</td>
							<td style="width: 14.4951%;" valign="bottom" width="72">

								<p align="center">上學期</p>

								<p align="center">First Semester</p>
							</td>
							<td style="width: 16.1238%;" valign="bottom" width="72">

								<p align="center">下學期</p>

								<p align="center">Second Semester</p>
							</td>
							<td style="width: 16.0423%;" valign="bottom" width="72">

								<p align="center">上學期</p>

								<p align="center">First Semester</p>
							</td>
							<td style="width: 17.7525%;" valign="bottom" width="78">

								<p align="center">下學期</p>

								<p align="center">Second Semester</p>
							</td>
							<td style="width: 26.5472%;" valign="bottom" width="72">

								<p align="center">上學期</p>

								<p align="center">First Semester</p>
							</td>
						</tr>
						<tr>
							<td style="width: 10.9935%;" width="60">

								<p align="center">獎助學金
									<br>名稱</p>

								<p align="center">Scholarship</p>
							</td>
							<td style="width: 14.4951%;" width="72">1.學業獎學金
								<br>- Academic Excellence Scholarship
								<br>2.覺生獎學金
								<br>- Chueh-Sheng Scholarship
								<br>3.驚聲獎學金
								<br>- Ching-Sheng Scholarship
								<br>4.廣三企業集團曾總裁正人獎學金
								<br>- President of Kuan Sa Groups Tseng Cheng-Jen Scholarship
								<br>5.教育部「學海飛颺」補助計畫
								<br>- MOE Scholarship for Excellent Students
								<br>
							</td>
							<td style="width: 16.1238%;" width="72">1.學業獎學金
								<br>- Academic Excellence Scholarship
								<br>2.覺生獎學金
								<br>-Chueh-Sheng Scholarship
								<br>3.驚聲獎學金
								<br>- Ching-Sheng Scholarship
								<br>4.俄文系獎學金
								<br>- Department of Russia Scholarship
								<br>5.俄文系蘇淑燕老師勤學獎學金
								<br>- Professor Su Shwu-Yann Academic Excellence Scholarship
								<br>
							</td>
							<td style="width: 16.0423%;" width="72">1.學業獎學金
								<br>- Academic Excellence Scholarship
								<br>2.覺生獎學金
								<br>-Chueh-Sheng Scholarship
								<br>3.驚聲獎學金
								<br>-Ching-Sheng Scholarship
								<br>4.教育部「學海飛颺」補助計畫
								<br>- MOE Scholarship for Excellent Students
								<br>
							</td>
							<td style="width: 17.7525%;" width="78">1.學業獎學金
								<br>- Academic Excellence Scholarship
								<br>2.覺生獎學金
								<br>- Chueh-Sheng Scholarship
								<br>3.驚聲獎學金
								<br>- Ching-Sheng Scholarship
								<br>4.俄文系獎學金
								<br>- Department of Russia Scholarship
								<br>5.俄文系蘇淑燕老師勤學獎學金
								<br>- Professor Su Shwu-Yann Academic Excellence Scholarship
								<br>6.俄文系劉華夏老師紀念獎學金
								<br>- Professor Liu Hua-Hsia Memorial Scholarship
								<br>
							</td>
							<td style="width: 26.5472%;" width="72">1.學業獎學金
								<br>- Academic Excellence Scholarship
								<br>2.覺生獎學金
								<br>- Chueh-Sheng Scholarship
								<br>3.驚聲獎學金
								<br>- Ching-Sheng Scholarship
								<br>4.友愛獎學金
								<br>- Low-income Students Scholarship
								<br>5.教育部「學海飛颺」補助計畫
								<br>- MOE Scholarship for Excellent Students
								<br>
							</td>
						</tr>
						<tr>
							<td style="width: 10.9935%;" width="60">

								<p align="center">總金額</p>

								<p align="center">The Amount</p>
							</td>
							<td style="width: 14.4951%;" width="72">

								<p align="center">222,300</p>
							</td>
							<td style="width: 16.1238%;" width="72">

								<p align="center">166,300</p>
							</td>
							<td style="width: 16.0423%;" width="72">

								<p align="center">280,300</p>
							</td>
							<td style="width: 17.7525%;" width="78">

								<p align="center">197,725</p>
							</td>
							<td style="width: 26.5472%;" width="72">

								<p align="center">199,300</p>
							</td>
						</tr>
						<tr>
							<td style="width: 10.9935%;" width="60">

								<p align="center">總名額</p>

								<p align="center">The quota</p>
							</td>
							<td style="width: 14.4951%;" width="72">

								<p align="center">17</p>
							</td>
							<td style="width: 16.1238%;" width="72">

								<p align="center">23</p>
							</td>
							<td style="width: 16.0423%;" width="72">

								<p align="center">17</p>
							</td>
							<td style="width: 17.7525%;" width="78">

								<p align="center">18</p>
							</td>
							<td style="width: 26.5472%;" width="72">

								<p align="center">8</p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr>
			<td>
				<br>
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td>

				<table border="0" cellpadding="0" cellspacing="1" style="margin-right: calc(0%); width: 100%;" width="600">
					<tbody>
						<tr>
							<td style="width: 10.9121%;" valign="bottom" width="61">

								<p align="center">學年度</p>

								<p align="center">Academic Year</p>
							</td>
							<td colspan="2" style="width: 27.0358%;" valign="bottom" width="165">

								<p align="center">98</p>

								<p align="center">2009-2010</p>
							</td>
							<td colspan="2" valign="bottom" width="165">

								<p align="center">99</p>

								<p align="center">2010-2011</p>
							</td>
							<td colspan="2" style="width: 32.5732%;" valign="bottom" width="204">

								<p align="center">100</p>

								<p align="center">2011-2012</p>
							</td>
						</tr>
						<tr>
							<td style="width: 10.9121%;" valign="bottom" width="61">

								<p align="center">項目</p>

								<p align="center">Item</p>
							</td>
							<td style="width: 13.1921%;" valign="bottom" width="82">

								<p align="center">上學期</p>

								<p align="center">First Semester</p>
							</td>
							<td valign="bottom" width="82">

								<p align="center">下學期</p>

								<p align="center">Second Semester</p>
							</td>
							<td valign="bottom" width="82">

								<p align="center">上學期</p>

								<p align="center">First Semester</p>
							</td>
							<td valign="bottom" width="82">

								<p align="center">下學期</p>

								<p align="center">Second Semester</p>
							</td>
							<td style="width: 11.5635%;" valign="bottom" width="82">

								<p align="center">上學期</p>

								<p align="center">First Semester</p>
							</td>
							<td style="width: 22.557%;" valign="bottom" width="121">

								<p align="center">下學期</p>

								<p align="center">Second Semester</p>
							</td>
						</tr>
						<tr>
							<td style="width: 10.9121%;" width="61">

								<p align="center">工讀金
									<br>名稱</p>

								<p align="center">Part time jobs</p>
							</td>
							<td style="width: 13.1921%;" width="82">1. 俄文系工讀金
								<br>- Part time job in the Department of Russian
								<br>
							</td>
							<td width="82">1. 校內生活學習獎助金
								<br>-Work-study on Campus Financial Aid &nbsp;
								<br>2. 俄文系工讀金
								<br>- Part time job in the Department of Russian
								<br>
							</td>
							<td width="82">1. 俄文系工讀金
								<br>- Part time job in the Department of Russian
								<br>
							</td>
							<td width="82">1. 校內生活學習獎助金
								<br>-Work-study on Campus Financial Aid &nbsp;
								<br>2. 俄文系工讀金
								<br>- Part time job in the Department of Russian
								<br>
							</td>
							<td style="width: 11.5635%;" width="82">1. 俄文系工讀金
								<br>- Part time job in the Department of Russian
								<br>
							</td>
							<td style="width: 22.557%;" width="121">1. 校內生活學習獎助金
								<br>-Work-study on Campus Financial Aid &nbsp;
								<br>2. 俄文系工讀金-
								<br>&nbsp;Part time job in the Department of Russian
								<br>3. 大專校院弱勢學生助學計畫(學雜費補助，需工讀；補助金額12,00~35,000不等)
								<br>-Financial Aid for Underprivileged College Students
								<br>(Tuition and Fees Subsidy. Part time work is required. The amount ranges from 12,000 to 35,000)
								<br>
							</td>
						</tr>
						<tr>
							<td style="width: 10.9121%;" width="61">

								<p align="center">總金額</p>

								<p align="center">The Amount</p>
							</td>
							<td style="width: 13.1921%;" width="82">

								<p align="center">3,000</p>
							</td>
							<td width="82">

								<p align="center">62,850</p>
							</td>
							<td width="82">

								<p align="center">3,000</p>
							</td>
							<td width="82">

								<p align="center">80,000</p>
							</td>
							<td style="width: 11.5635%;" width="82">

								<p align="center">3,000</p>
							</td>
							<td style="width: 22.557%;" width="121">

								<p align="center">21,540</p>
							</td>
						</tr>
						<tr>
							<td style="width: 10.9121%;" width="61">

								<p align="center">工讀</p>

								<p align="center">總時數</p>

								<p align="center">The hours of part time jobs</p>
							</td>
							<td style="width: 13.1921%;" width="82">

								<p align="center">30</p>
							</td>
							<td width="82">

								<p align="center">660</p>
							</td>
							<td width="82">

								<p align="center">30</p>
							</td>
							<td width="82">

								<p align="center">800</p>
							</td>
							<td style="width: 11.5635%;" width="82">

								<p align="center">29</p>
							</td>
							<td style="width: 22.557%;" width="121">

								<p align="center">730</p>
							</td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</tbody>
</table>

<p>
	<br>
</p>