<h1>測驗時間 (考生注意事項詳於下文，敬請詳閱)</h1>

<p><span style="color:#0000ff"><span style="font-size:24px"><strong><span style="background-color:#ffffe0">2021</span></strong><strong><span style="background-color:#ffffe0">年第18屆俄語檢定各科考試時間</span></strong><strong><span style="background-color:#ffffe0">(</span></strong><strong><span style="background-color:#ffffe0">分鐘</span></strong><strong><span style="background-color:#ffffe0">)</span></strong><strong><span style="background-color:#ffffe0">表 </span></strong></span></span><span style="color:#ff0000"><span style="font-size:24px"><strong><span style="background-color:#ffffe0">(取消)</span></strong></span></span></p>

<p><strong>Время проведения ТРКИ по уровням/субтестам</strong></p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:141px">
			<p><strong>УРОВЕНЬ</strong></p>
			</td>
			<td style="width:131px">
			<p><strong>ПИСЬМО</strong></p>

			<p>&nbsp;можно пользоваться словарём</p>
			</td>
			<td style="width:161px">
			<p><strong>ГОВОРЕНИЕ</strong></p>

			<p>&nbsp;можно пользоваться словарём</p>
			</td>
			<td style="width:131px">
			<p><strong>ЛЕКСИКА. ГРАММАТИКА</strong></p>
			</td>
			<td style="width:141px">
			<p><strong>ЧТЕНИЕ</strong></p>

			<p>&nbsp;можно пользоваться словарём</p>
			</td>
			<td style="width:141px">
			<p><strong>АУДИРОВАНИЕ<a href="#_ftn1" name="_ftnref1" title=""><strong>[1]</strong></a></strong></p>
			</td>
			<td style="width:141px">
			<p><strong>ОБЩЕЕ ВРЕМЯ</strong></p>
			</td>
		</tr>
		<tr>
			<td style="height:76px; width:141px">
			<p><strong>ТЭУ</strong></p>
			</td>
			<td style="height:76px; width:131px">
			<p>30 мин</p>
			</td>
			<td style="height:76px; width:161px">
			<p><strong>20 мин</strong></p>

			<p>(8 мин. подготовка,</p>

			<p>12 мин. ответ)</p>
			</td>
			<td style="height:76px; width:131px">
			<p>40 мин</p>
			</td>
			<td style="height:76px; width:141px">
			<p>40 мин</p>
			</td>
			<td style="height:76px; width:141px">
			<p>30 мин</p>
			</td>
			<td style="height:76px; width:141px">
			<p><strong>2 ч 40 мин</strong></p>
			</td>
		</tr>
		<tr>
			<td style="height:76px; width:141px">
			<p><strong>ТБУ</strong></p>
			</td>
			<td style="height:76px; width:131px">
			<p>50 мин</p>
			</td>
			<td style="height:76px; width:161px">
			<p><strong>25 мин</strong></p>

			<p>(10 мин. подготовка,</p>

			<p>15 мин. ответ)</p>
			</td>
			<td style="height:76px; width:131px">
			<p>50 мин</p>
			</td>
			<td style="height:76px; width:141px">
			<p>50 мин</p>
			</td>
			<td style="height:76px; width:141px">
			<p><span style="color:#ff0000">40 мин</span></p>
			</td>
			<td style="height:76px; width:141px">
			<p><strong>3 ч </strong><strong>35</strong><strong> мин</strong></p>
			</td>
		</tr>
		<tr>
			<td style="height:76px; width:141px">
			<p><strong>ТРКИ-1</strong></p>
			</td>
			<td style="height:76px; width:131px">
			<p>1 ч</p>
			</td>
			<td style="height:76px; width:161px">
			<p><span style="color:#ff0000"><strong>50 мин</strong></span></p>

			<p>(25 мин. подготовка,</p>

			<p>25 мин. ответ)</p>
			</td>
			<td style="height:76px; width:131px">
			<p>1 ч</p>
			</td>
			<td style="height:76px; width:141px">
			<p>50 мин</p>
			</td>
			<td style="height:76px; width:141px">
			<p>35 мин</p>
			</td>
			<td style="height:76px; width:141px">
			<p><strong>4 ч 1</strong><strong>5</strong><strong> мин</strong></p>
			</td>
		</tr>
		<tr>
			<td style="height:76px; width:141px">
			<p><strong>ТРКИ-2</strong></p>
			</td>
			<td style="height:76px; width:131px">
			<p>55 мин</p>
			</td>
			<td style="height:76px; width:161px">
			<p><strong>45 мин</strong></p>

			<p>(20 мин. подготовка,</p>

			<p>25 мин. ответ)</p>

			<p>&nbsp;<span style="color:#ff0000">Пользоваться словарём не разрешается.</span></p>
			</td>
			<td style="height:76px; width:131px">
			<p><span style="color:#ff0000">1 ч</span></p>
			</td>
			<td style="height:76px; width:141px">
			<p>1 ч</p>
			</td>
			<td style="height:76px; width:141px">
			<p>35 мин</p>
			</td>
			<td style="height:76px; width:141px">
			<p><strong>4 ч </strong><strong>1</strong><strong>5</strong><strong> мин</strong></p>
			</td>
		</tr>
	</tbody>
</table>

<div>&nbsp;
<hr />
<div id="ftn1">
<p><a href="#_ftnref1" name="_ftn1" title="">[1]</a> Время выполнения субтеста АУДИРОВАНИЕ указано приблизительное и может отличаться на плюс-минус 5 минут в зависимости от конкретного варианта звучащих материалов.</p>
</div>
</div>

<p>&nbsp;</p>

<div>
<p><span style="color:#a52a2a"><span style="font-size:36px"><strong><u><span style="background-color:#ffd700">考生注意事項</span></u></strong></span></span></p>
&nbsp;

<ol>
	<li><span style="font-size:20px">主辦單位保有隨時修改各等級測試時間之權利，如有任何變更內容或詳細注意事項將公布於本網頁，恕不另行通知；考生不得要求更改測試時間。</span></li>
	<li><span style="font-size:20px">考試當天如有突發狀況需變更考科時間時，考生須依從試務人員指示調整考場、提早或延後進行測試。</span></li>
	<li><span style="font-size:20px">請考生<span style="color:#ff0000"><strong>務必於每日的第一科考試時間前45</strong></span></span><span style="font-size:20px"><span style="color:#ff0000"><strong>分鐘至考場大樓，由試務人員量測體溫、手部消毒、並佩戴口罩後進入考場大樓指定休息室候等考試</strong>，<strong>各科考試時間以准考證註明為準</strong>，<strong>如有異動將隨時更新於本網頁測驗時間公告處</strong>。</span><span style="color:#ff0000"><strong>遲到者不予入場應試，該考科以缺考論並且不予計分</strong>。</span></span></li>
	<li><span style="font-size:20px">考生應攜帶<span style="color:#ff0000"><strong>准考證、身分證</strong></span>以供查驗<strong>，<span style="color:#ff0000">全程佩戴口罩，否則不得應試。</span></strong></span></li>
	<li><span style="font-size:20px">考試<strong><u>沒有考試鈴聲提醒時間</u></strong>，各科測驗時間皆<strong>以試場投影的電子時鐘或監試人員手錶時間為準，各科考前15分鐘</strong>考生可進入考場教室<strong>。</strong></span></li>
	<li><span style="font-size:20px"><strong>考生就座後，未經監試人員許可，不得離座，亦不得中途離場；考試時間開始後、結束前不得離座，亦不得提早離場。</strong>考試結束前5分鐘會提醒考生(<u>聽力、口說除外</u>)。</span></li>
	<li><span style="color:#000000"><span style="font-size:20px">考生開始作答前，請依監考人員指示，<strong>務必</strong>在<strong>&rdquo;答案卷&rdquo;</strong>上方處寫上<strong>英文(必寫，與護照同)/中文姓名之俄文拼音/中文姓名</strong>、<strong>應考之國家地點</strong><strong>(Taiwan</strong>&nbsp;<strong>/&nbsp;</strong><strong>Тайвань</strong><strong>)</strong><strong>、</strong><strong>考試日期</strong><strong>(05/06/2021、06/06/2021)。試題卷及草稿紙亦須寫上姓名。</strong></span></span></li>
	<li><span style="font-size:20px">如有問題應於考試開始計時前反映，考試開始後不可提問，且監試人員不回答任何問題。</span></li>
	<li><span style="font-size:20px"><span style="color:#ff0000"><strong>考試完畢時，所有試題卷、答案卷及草稿紙皆須交給監試人員，攜帶出場者，該科零分計算。</strong></span></span></li>
	<li><span style="font-size:20px">各科測驗<span style="color:#ff0000"><strong>只得以使用</strong></span><strong>「黑色」</strong><span style="color:#ff0000"><strong>或</strong></span><span style="color:#0000cd"><strong>「藍色」</strong></span><span style="color:#ff0000"><strong>原子筆作答</strong></span>，不可使用紅色原子筆和鉛筆。寫作測驗可使用修正帶。</span></li>
	<li><span style="font-size:20px">選擇題作答方式請以<strong>&nbsp;○ 圈選答案</strong>：</span></li>
</ol>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:109px">
			<ol>
				<li><span style="font-size:20px"><strong>А</strong></span></li>
			</ol>
			</td>
			<td style="width:109px">
			<ol>
				<li><span style="font-size:20px"><strong>Б</strong></span></li>
			</ol>
			</td>
			<td style="width:109px">
			<ol>
				<li><span style="font-size:20px"><strong>В</strong></span></li>
			</ol>
			</td>
			<td style="width:109px">
			<ol>
				<li><span style="font-size:20px"><strong>Г</strong></span></li>
			</ol>
			</td>
		</tr>
	</tbody>
</table>

<p><span style="font-size:20px">&nbsp;&nbsp;&nbsp;如要更換答案，則請在原本已圈選的答案處上畫X，再以○圈選其他答案。</span></p>

<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="width:109px">
			<ol>
				<li><span style="font-size:20px"><strong>А</strong></span></li>
			</ol>
			</td>
			<td style="width:109px">
			<ol>
				<li><span style="font-size:20px"><strong>Б</strong></span></li>
			</ol>
			</td>
			<td style="width:109px">
			<ol>
				<li><span style="font-size:20px"><strong>В</strong></span></li>
			</ol>
			</td>
			<td style="width:109px">
			<ol>
				<li><span style="font-size:20px"><strong>Г</strong></span></li>
			</ol>
			</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>
</div>

<div>&nbsp;</div>