<p>The goals of the University are to nurture talented and ambitions professionals, to realize educational ideals in private schooling and to create an environment of academic excellence.</p>

<p>The objectives of the College are to win at the starting point of the internationalization, to introduce holistic education in the era of globalization, and to nurture global citizens who are able to truly appreciate the value of our diversity and internalize what “Unity in diversity” really means.</p>

<p>In keeping with the goals of the University and the College, the mottos of the Department are to develop cultured specialists in Russian, to help students develop proper values and independent thinking, to encourage them to familiarize themselves with the society and to better their communication skills in international settings.</p>

<p>The courses emphasize both on trainings and practices. In addition to extending students’ basic foreign language skills in listening, speaking, reading, writing and translating/interpreting, the Department provides relevant information in Russian culture, history and political situation to meet the needs of the country’s development. &nbsp;</p>

<p>According to the above, the department’s education strategies are as follows:</p>

<ul>
	<li>Offer practical Russian courses, such as <em>Translation</em> and <em>Commercial Russian</em>, to meet the job market demands. Students can get familiar with commercial Russian and business conversations and be more competitive in the job market.</li>
	<li>A graduation requirement has since been added on and students must successfully pass the TORFL (Test of Russian as a Foreign Language) B1 to be eligible for graduation</li>
	<li>Create a multi-language e-learning platform aiming to promote online and long-distance learning and to encourage professors to digitalize the teaching materials in order to create a Russian learning environment without boundaries.</li>
	<li>Implement incremental class booking system in order to help measure students’ learning progress.</li>
	<li>Set up conversation classes based upon the level of the students so as to achieve the best learning result possible.</li>
	<li>Continue promoting the Junior Year Study Abroad Program in order to enhance students’ Russian and the communication skills in international and cross-cultural settings.</li>
	<li>Offer remedial classes to make up loss in teaching hours and disadvantage of big class.</li>
	<li>Continuously offer literature and cultural courses in order to increase students’ understanding of Russian literature and culture.</li>
	<li>Enhance the role of mentors. Mentors can share their life experiences in office hours with students so to guide them to develop proper values and independent thinking.</li>
</ul>

<p>&nbsp;</p>

<p><strong>◆</strong><strong>&nbsp;The Management Objectives of Tamkang University</strong></p>

<p>◎Mission:</p>

<p>To maintain Tamkang’s venerable heritage, create a positive influence on society, and nurture talented and ambitions professionals.</p>

<p>◎Vision:</p>

<p>1. To realize educational ideals in private schooling.</p>

<p>2. To create an environment of academic excellence.</p>

<p>◎Values:</p>

<p>To pursue the university motto of ‘Simplicity, Firmness, Perseverance, and Fulfillment’, while upholding academic freedom and institutional autonomy.</p>

<p>◎Strategies:</p>

<p>1. Wave-by-Wave Development and Four Distinct Campuses</p>

<p>2. The Three Circles and Five Disciplines of Education</p>

<p>3. Setting up the Sigmoid Curve</p>

<p>4. Promoting the Matthew Effect</p>

<p>5. Applying Blue Ocean Strategy</p>

<p>◎Governance:</p>

<p>1. TKU’s Leadership System</p>

<p>2. Four Management Models</p>

<p>3. Total Quality Management</p>

<p>4. Organization activation</p>

<p><strong>◆</strong><strong>&nbsp;The Management Objectives of the School of Foreign Languages and Literatures</strong></p>

<p>◎Mission:</p>

<p>To develop specialists in languages, literature and cultural studies</p>

<p>◎Vision</p>

<p>1. To win at the starting point of internationalization</p>

<p>2. To introduce holistic education in the era of globalization</p>

<p>◎Value</p>

<p>1. Triple Objectives of Education</p>

<p>2. One Person Speaking Multiple Languages</p>

<p>3. Literature and Cultural Studies</p>

<p>◎Strategies:</p>

<p>1. Providing intensive language trainings in order to develop and nurture students’ foreign language skills in listening, speaking, reading, writing and translating/interpreting.</p>

<p>2. Creating a multi-language e-learning platform to provide a multiple language learning environment.</p>

<p>3. Enhancing foreign languages teaching for special demands</p>

<p>4. Improving the quality and increasing the quantity of The Junior Year Study Abroad Program</p>

<p>5. Promoting foreign languages proficiency tests</p>