<p>Students enrolled for the 2014-2015 academic year are required to complete a total credit of 140 in order to graduate. This includes 105 credits from required courses offered by the University and the Department, and at least 21 credits from elective courses offered by the Department.</p>

<p>Students enrolled for the 2013-2014 academic year are required to complete a total credit of 140 in order to graduate. This includes 105 credits from required courses offered by the University and the Department, and at least 21 credits from elective courses offered by the Department.</p>

<p>Students enrolled for the 2012-2013 academic year are required to complete a total credit of 140 in order to graduate. This includes 105 credits from required courses offered by the University and the Department, and at least 21 credits from elective courses offered by the Department.</p>

<p>Students enrolled for the 2011-2012 academic year are required to complete a total credit of 140 in order to graduate. This includes 105 credits from required courses offered by the University and the Department, and at least 21 credits from elective courses offered by the Department.</p>

<p>Students enrolled for the 2010-2011 academic year are required to complete a total credit of 140 in order to graduate. This includes 119 credits from required courses offered by the University and the Department, and at least 21 credits from elective courses offered by the Department.</p>

<p>Students enrolled for the 2009-2010 academic year are required to complete a total credit of 140 in order to graduate. This includes 119 credits from required courses offered by the University and the Department, and at least 21 credits from elective courses offered by the Department.</p>

<p>Starting from the 2004-2005 academic year, students who fail <em>Russian for the first year</em> in the second semester cannot take <em>Russian for second year</em>. Students who fail <em>Russian for second year</em> cannot take <em>Russian for third year</em>. Students who fail <em>Russian Grammar (I)</em> in the second semester of the first year cannot take <em>Russian Grammar (II)</em> and can only take <em>Russian Grammar (II)</em> after passing <em>Russian Grammar (I).</em></p>

<p>&nbsp;</p>

<p>Those students whose total hours of absence with leave permission from a given course&rsquo;s class amount to one-third of the semester&rsquo;s class hours are banned from sitting at the examination held for the course; their grade in the course should be counted as zero. (Article 38, Item 2, Tamkang University Students Regulations,).</p>

<p>The following credits are required to obtain Minor in Russian.</p>

<p><em>Russian for first year</em> (4/4), <em>Russian Conversation (I)</em> (2/2)</p>

<p><em>Russian for second year</em> (4/4), <em>Russian Conversation (II)</em> (2/2)</p>

<p>Total: 24 credits</p>

<p>&nbsp;</p>

<p>The <em>Article 8 of the</em> <em>Tamkang University&rsquo;s Regulations for the Double Majors </em>stipulates the following<em>:</em> &ldquo;In addition to completing the full number of credits required for graduation as stipulated by the original department, students taking part in a double major program shall complete 40 credits and all required professional courses stipulated by the double major department&rdquo;. Moreover, since the year 2008-2009, students must pass the Test of Russian as a Foreign Language (TORFL) B1 to be eligible for graduation.</p>

<p>&nbsp;</p>

<p>For more information about the courses and study, please refer to Tamkang University Office of Academic Affairs.</p>

<p>Tamkang University Office of Academic Affairs <a href="http://www.acad.tku.edu.tw/main.php">http://www.acad.tku.edu.tw/main.php</a></p>

<p>Applications and procedures of Foreign Languages Interpretation and Foreign Literature Interdisciplinary Programs are available on the Chinese version website of College of Foreign languages and Literatures. <a href="http://www.tf.tku.edu.tw/admiss/recruit.php?class=101">http://www.tf.tku.edu.tw/admiss/recruit.php?class=101</a></p>