<p><font color="#000000"><span style="font-size:22px"><strong>110.10.22公告</strong></span></font></p>

<p><span style="font-size:22px"><span style="color:#ff0000"><strong>本校俄國語文能力測驗110年度冬季考試停辦一次，造成不便之處請見諒！</strong></span></span></p>

<p><span style="font-size:22px"><span style="color:#ff0000"><strong>如有俄語能力畢業門檻需求之考生，敬請逕行報名俄國相關授權單位之線上檢定，以免向隅。</strong></span></span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>