<h1 style="text-align:center"><span style="font-size:18px">淡江大學俄國語文學系(台灣新北市)</span></h1>

<h1 style="text-align:center"><span style="font-size:18px">遠東聯邦大學(俄羅斯海參崴)</span></h1>

<h1 style="text-align:center"><span style="font-size:18px">莫斯科國立大學俄語與文化學院(俄羅斯莫斯科)</span></h1>

<p style="text-align:center"><img alt="" src="https://www.tfux.tku.edu.tw/storage/app/media/Russian/%E6%9C%AA%E5%91%BD%E5%90%8D.png" style="height:160px; width:446px" /></p>

<p>__________________________________________________________________________________________________________________________________________________________________________________</p>

<p><span style="font-size:22px"><span style="color:#0000ff">各位俄語界的先進和專家：<br />
<br />
因為2020新型冠狀肺炎越形越烈，加上國際通航何時恢復等不確定因素，本次的研討會將延期至2021年11月(暫定)舉辦，確切日期待確定之後再另行通知。造成您的不便和影響，致上萬分之歉意。謹祝<br />
<br />
研安<br />
<br />
淡江大學俄文系 敬上</span></span></p>

<p><br />
<span style="font-size:22px"><span style="color:#0000cd">Уважаемые коллеги!<br />
<br />
С сожалением сообщаем, что в связи с неблагоприятной эпидемиологической обстановкой в 2020 г. (пандемия коронавируса) и сопутствующими организационными проблемами конференция переносится предположительно на ноябрь 2021 года. О точных датах проведения конференции будет сообщено дополнительно.<br />
<br />
Приносим свои извинения и надеемся на понимание. Берегите себя, будьте здоровы!<br />
<br />
<br />
<br />
С уважением,<br />
<br />
Оркомитет</span></span><br />
<br />
_________________________________________________________________________________________________________________________________________________________________________________</p>

<p style="text-align:center"><span style="font-size:24px"><strong>2020</strong><strong>年11月5-8日</strong></span></p>

<p style="text-align:center"><span style="font-size:24px"><strong>第六屆國際多邊學術研討會</strong></span></p>

<p style="text-align:center"><span style="font-size:24px"><strong>「2020俄國語言學暨文學」學術與應用研討會</strong></span></p>

<p style="text-align:center"><span style="font-size:24px"><strong>邀稿函</strong></span></p>

<p><span style="font-size:16px">為慶祝本校創立70週年，特舉辦第六屆國際多邊學術研討會「<strong>2020俄國語言學暨文學」學術與應用研討會</strong>，歡迎海內外對俄國語文學、俄語教學、俄國文化有興趣之專家學者共襄盛舉<strong>。</strong>此次研討會由淡江大學俄國語文學系與遠東大學、莫斯科大學俄語與文化學院共同主辦，會議將在淡江大學淡水校區舉辦，日期為2020年11月5-8日。會議語言為中文與俄文。本次大會將討論四個主題：</span></p>

<ol>
	<li><span style="font-size:16px">當代語言學的前瞻趨勢</span></li>
	<li><span style="font-size:16px">俄語教學、俄國文化教學的傳統與創新</span></li>
	<li><span style="font-size:16px">俄語與跨文化溝通</span></li>
	<li><span style="font-size:16px">世界文學的發展趨勢：傳統與現代</span></li>
</ol>

<p><span style="font-size:16px">除了兩天的研討會發表，還有兩場俄語教學工作坊，題目為：俄語教學與文學教學的新趨勢、當代語言學的迫切問題。會議結束之後將由本系和莫斯科大學俄國語言與文化學院頒發工作坊結業證書和參加研討會證明。</span></p>

<p><span style="font-size:16px">2020.11.04 學者來台、住宿</span></p>

<p><span style="font-size:16px">2020.11.05 俄語教學工作坊</span></p>

<p><span style="font-size:16px">2020.11.06 開幕式、專題演講、分組論文發表、晚宴</span></p>

<p><span style="font-size:16px">2020.11.07 分組論文發表、討論、閉幕式、音樂會</span></p>

<p><span style="font-size:16px">2020.11.08 台北一日遊</span></p>

<p><span style="font-size:16px">2020.11.09 學者離境</span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px"><strong>請上網填寫報名表、論文大綱和關鍵字，請點 <a href="https://enroll.tku.edu.tw/course.aspx?cid=TFUX20201105-1108">報名網址</a>。校外人員請於系統上方面板中選擇「Online Submission」和 「Off-Campus Registration」選項進行填寫，校內人員則請選「Online Submission」和 「On-Campus Registration」填寫。可填寫俄文。<span style="color:#ff0000">報名截止日期：2020年2月29日。</span></strong></span></p>

<p>&nbsp;</p>

<p><span style="font-size:16px">會議結束後將發行具審核制度的會議論文集&laquo;Лингвострановедческие, социокультурные и лингвистические аспекты в изучении и преподавании иностранного языка и литературы&raquo; №3。所有會議論文都會經過必要之內外兩次審查，審核通過後方會刊登於論文集內。論文書寫格式詳見附錄1，<strong>論文全文請於2020年10月25日以前寄到以下任ㄧ地址</strong>：</span></p>

<p><span style="font-size:16px">Найдина Татьяна Евгеньевна, e-mail: <a href="mailto:133212@mail.tku.edu.tw">133212@mail.tku.edu.tw</a></span></p>

<p><span style="font-size:16px">Су Марина Ивановна, e-mail: <a href="mailto:112556@mail.tku.edu.tw">112556@mail.tku.edu.tw</a></span></p>

<p><span style="font-size:16px">報名費：1500元 (50美金)，此費用包含論文審查費用、刊登費用、會議期間的飲食、機場接送機。淡水附近的旅館訊息詳附件2。</span></p>

<p><span style="font-size:16px">&nbsp;&nbsp;</span></p>

<p><span style="font-size:16px">大會主席、淡江大學俄文系主任</span></p>

<p><span style="font-size:16px">劉皇杏 敬邀</span></p>

<p><span style="font-size:16px">淡江大學俄文系官方網址: <a href="http://www.tfux.tku.edu.tw/main.php">http://www.tfux.tku.edu.tw/main.php</a></span></p>

<p><span style="font-size:16px">電話： +886-26215656 доб. 2711 (деканат)&nbsp;</span></p>

<p><span style="font-size:16px">E-mail: <a href="mailto:tfux@www2.tku.edu.tw">tfux@www2.tku.edu.tw</a></span></p>

<p><span style="font-size:16px">地址: 25137 新北市淡水區英專路151號25137&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>

<p style="text-align:center">&nbsp;</p>