<p><span style="font-size:14px">　　本系秉持本校「樸、實、剛、毅」之校訓與「國際化、資訊化、未來化」之三化教育理念，培養「立足淡江、放眼世界、掌握資訊、開創未來」，鍛鍊成為具心靈卓越的淡江人；並基於外國語文學院之教育目標：一、奠定專業知識之基礎，加強跨領域之學習能力，以符合時代潮流社會需求；二、培養獨立思考與實踐之能力，強化自我學習及團隊合作之精神；三、訓練聽、說、讀、寫、譯的能力；四、培育學生人文素養，以及五、培育學生國際觀及跨文化溝通能力；</span><span style="font-size:14px">呼應校與院之教育（宗旨）目標，本系教育目標為：</span></p>

<p><span style="font-size:14px"><strong>一、培養具有獨立分析能力之專業俄語人才。</strong></span></p>

<p><span style="font-size:14px"><strong>二、培養學生具備國際觀及跨文化溝通之能力。</strong></span></p>

<p><span style="font-size:14px"><strong>三、培養學生具備聽、說、讀、寫、譯五項基礎語言技能。</strong></span></p>

<p><span style="font-size:14px"><strong>四、培養學生掌握俄羅斯人文、歷史與政經情勢。</strong></span></p>

<p><span style="font-size:14px">　　</span></p>

<p><span style="font-size:14px">　　本系依據校院之教育理念與教育目標所訂定之使命、價值、願景和七項實施策略，三者之關聯明確合理，據以規劃和開授學生所需之課程及辦理支持性之教學活動，提供教師與學生良好的教學和學習環境，設置各類委員會，並投入適宜之師資與行政人力，確保本系發展系務之經營品質，為學生與教師提供良好的學習和教學環境，並依此制定本系TQM（全面品質管理）品質屋，確保本系辦學成效，充分運用法定會議，聽取學生、系友、專家學者和業界等代表之意見做為修正改進之參考，定期檢視學系自我定位（使命）、價值、願景和實施策略。　</span></p>

<div style="background:#eeeeee;border:1px solid #cccccc;padding:5px 10px;"><span style="font-size:16px"><strong><big>使命</big></strong></span></div>

<ul>
	<li><strong><span style="font-size:14px">貫徹淡江大學三化教育方針</span></strong></li>
	<li><strong><span style="font-size:14px">培育符合社會需求之俄語人才，善盡社會責任</span></strong></li>
</ul>

<div style="background:#eeeeee;border:1px solid #cccccc;padding:5px 10px;"><strong><span style="font-size:16px"><big>價值</big></span></strong></div>

<ul>
	<li><strong><span style="font-size:14px">國際視野</span></strong></li>
	<li><strong><span style="font-size:14px">跨文化溝通</span></strong></li>
</ul>

<div style="background:#eeeeee;border:1px solid #cccccc;padding:5px 10px;"><strong><span style="font-size:16px"><big>願景</big></span></strong></div>

<ul>
	<li><strong><span style="font-size:14px">善盡社會責任，永續經營發展</span></strong></li>
	<li><strong><span style="font-size:14px">培育AI時代&Pi;型人才</span></strong></li>
	<li><strong><span style="font-size:14px">具備聽說讀寫譯五項基本技能</span></strong></li>
	<li><strong><span style="font-size:14px">強化國際交流能力</span></strong></li>
</ul>

<div style="background:#eeeeee;border:1px solid #cccccc;padding:5px 10px;"><strong><span style="font-size:16px"><big>策略</big></span></strong></div>

<ul>
	<li><strong><span style="font-size:14px">大二異地學習</span></strong></li>
	<li><strong><span style="font-size:14px">大三出國留學</span></strong></li>
	<li><strong><span style="font-size:14px">國際同步遠距教學</span></strong></li>
	<li><strong><span style="font-size:14px">學生實習計畫</span></strong></li>
	<li><strong><span style="font-size:14px">俄語研究生交換教學</span></strong></li>
	<li><strong><span style="font-size:14px">發揮優勢回饋鄉里</span></strong></li>
	<li><strong><span style="font-size:14px">俄語檢定</span></strong></li>
</ul>

<p><span style="font-size:14px">　　</span></p>

<p><span style="font-size:14px">　　依據時代潮流變化、產業走向以及國家社會對人才培養的不同需求，培養本系學生具備全方位俄語發展能力；透過語言、文化和文學之教學，及各類支持性之教學活動，達成讓學生具備充足之俄語能力及對俄國有高度之認識，本系採以七大策略，分述如下：</span></p>

<ul>
	<li><span style="font-size:14px"><strong>大二異地學習</strong></span></li>
</ul>

<p><span style="font-size:14px">　　本系所推動之大二異地學習計畫是為創舉，透過本系與北京大學及上海外國語大學三校俄語系共同合作，每年由本系推薦4名大二學生，至北京大學俄語系和上海外國語大學俄羅斯東歐中亞學院修習學分1年，藉由菁英式同儕學習的激發，給予學生不同的學習體驗和文化交流，以提升學生學習成效，同時也擴展本系學生的學習視野。</span></p>

<ul>
	<li><span style="font-size:14px"><strong>大三出國留學</strong></span></li>
</ul>

<p><span style="font-size:14px">　　配合本校實踐國際化之教育理念，本系於1995年首推大三出國計畫，甄選20位大三學生赴本校國際姊妹校俄國莫斯科大學進修一年，並實地體驗俄國文化，擴展俄國與國際視野。大三學生出國計畫實施迄今，已逾600位同學在俄國修習學分。107至108學年間，本系共有63位大三學生分別赴俄羅斯遠東聯邦大學、烏拉爾聯邦大學、國立莫斯科大學、莫斯科市立師範大學和國立聖彼得堡交通大學等校留學一年修習學分；109學年因為COVID-19肺炎取消學生大三出國留學計畫。</span></p>

<ul>
	<li><span style="font-size:14px"><strong>國際同步遠距教學</strong></span></li>
</ul>

<p><span style="font-size:14px">　　自103學年開始，本系與遠東聯邦大學合作開設「俄語會話(三)」國際同步遠距課程，每學期進行至少9次遠距視訊連線，透過小組會議的方式，與俄國師生視訊對話習。105學年起，與西伯利亞理工大學、北極聯邦大學語言系合作增開「俄語會話(四)」國際同步遠距課程，營造更優質的俄語情境學習環境，強化學生與俄語人士溝通之聽說能力，有助於學生勇於表達，將俄語使用落實於生活當中。109學年共有3班國際同步遠距課程：「俄語會話(三)」1班和「俄語會話(四)」2班。</span></p>

<ul>
	<li><span style="font-size:14px"><strong>學生實習計畫：暑假海外實習、校外實習、海外華語教學實習</strong></span></li>
</ul>

<p><span style="font-size:14px">　　為落實實務教學與深化產學合作，本系自102學年開始推動學生暑假海外實習等計畫，配合「商用俄語(二)」和「俄語專業實務實習」等課程，甄選三年級學生於暑假期間赴俄羅斯實習，培養學生俄語能力和職場專業，成為業界所需之人才。除了前述的暑假海外實習計畫，本系亦積極爭取國內產學合作機會，自102學年度起，訂定校外實習、海外實習及暑假海外實習要點，甄選四年級學生至從事與俄羅斯經貿文化等相關業務之政府部門、非營利組織機構和民營企業等單位進行校外實習，累績學生俄語專業實務經驗，提升就業競爭力。因應全球華語學習熱潮，推動海外華語教學實習計畫，甄選具有華語教學能力之大四學生赴俄羅斯見習俄語教授華語和期末試教。學生於海外華語教學實習時，亦可同步修習姊妹校之俄語課程。</span></p>

<ul>
	<li><span style="font-size:14px"><strong>俄語研究生交換教學</strong></span></li>
</ul>

<p><span style="font-size:14px">　　承「海外華語教學實習」計畫，為深化與姊妹校的國際交流與互惠合作之原則，邀請姊妹校對外俄語教學之研究生至本系進行「外語教學台灣實習計畫」，見習對外俄語教學法，擔任實習實驗課程教學助理和指導Chat Corner俄語口語練習，增加本系學生與俄語人士口語和文化交流的機會。</span></p>

<ul>
	<li><span style="font-size:14px"><strong>發揮優勢回饋鄉里</strong></span></li>
</ul>

<p><span style="font-size:14px">　　為善盡社會責任，提升文化、服務社會、促進國家發展，大學生應參與在地連結，對在地區域發展能有更多貢獻，藉由對區域發展的認同感，展現實踐行動。本系因應高教深耕計畫之目的，在大淡水地區推動淡水古蹟俄語導覽，透過本系觀光俄語教材「話說淡水」、「陳澄波與淡水」進行對鄉里深入的導覽。此外，本系並獲得深耕計畫「發揮外語優勢回饋鄉里」補助，於107年9月3日舉辦淡水古蹟俄語導覽、108年3月7日邀請淡江中學高中部學生參加「外語好多節－俄國謝肉節」活動、110年4月9日赴八里區聖心女中辦理「俄羅斯文化饗宴－復活節」活動，讓高中生從遊戲中體驗俄國節慶文化、美食以及手作童玩，回饋大淡水區的學子。</span></p>

<ul>
	<li><span style="font-size:14px"><strong>俄語檢定</strong></span></li>
</ul>

<p><span style="font-size:14px">　　為確保本系學生學習成效與品質，本系學生修業期間除須修畢128學分之相關規範外，另須通過俄語檢定一級（B1）畢業門檻，始得發予畢業證書。本系自100年取得授權辦理「俄國語文能力測驗」，協助學生在國內參加、取得該項考試檢定證照。</span></p>

<p><span style="font-size:14px">　</span></p>

<p>&nbsp;</p>