<p>I. Russian for the junior year.</p>

<p>&nbsp;1. For the students enrolled before the 2008-2009 academic year, <em>Russian for the junior year</em> is replaced by <em>Commercial Russian (I),</em> 1 credit for each semester. For those concerned, it is a 3 credits required course. And for those enrolled after the academic year 2009-2010, it is a 2 credits required course.</p>

<p>II. Composition</p>

<ul>
	<li>For the students who enrolled before the academic year 2004-2005, <em>Russian Writing</em> is replaced by <em>Russian Composition.</em>
		<em>Russian Composition</em> is a required course for those enrolled in the years 2005-2006 and 2006-2007. It is however an elective course for the enrollees of the academic years 2007-2008 and 2008-2009.</li>
	<li>For the enrollees of the academic years 2007-2008 and 2008-2009, <em>Russian Composition for the fourth year</em> (required) is replaced by <em>Russian Composition (I)</em> (required) starting from the year 2011-2012.</li>
</ul>

<p>III. Oral Translation</p>

<ul>
	<li>For the enrollees of the academic years 2005-2006 and 2006-2007, <em>Practical Russian Oral Translation</em> (3/0) (required) is replaced by <em>Practical Russian Oral Translation</em> (3/0) (elective) starting from the academic year 2010-2011.</li>
	<li>For the students enrolled in the academic years 2005-2006 and 2006-2007,<em>&nbsp;Business and Economics</em>
		<em>Russian Oral Translation&nbsp;</em>(0/3) (required) is replaced by <em>Business and Trade Russian Oral Translation&nbsp;</em>(0/3) (elective) starting from the academic year 2010-2011.</li>
</ul>

<p>IV. Translation</p>

<ul>
	<li>For these students who enrolled before the academic year 2005-2006, <em>Russian Translation</em> (3/3) is replaced by <em>Practical Russian Translation</em> (3/0) and <em>Business and Trade Russian Translation&nbsp;</em>(0/3)<em>.</em></li>
	<li>And for those enrolled before the academic year 2006-2007, <em>Practical Russian Translation</em> (3/0) and <em>Business and Trade Russian Translation&nbsp;</em>(0/3) are replaced by <em>Russian Translation&nbsp;</em>(2/2). The short of credit can be made up by <em>Russian News (</em>2/2).&nbsp;</li>
</ul>

<p>VI. For the students enrolled in the academic years 2007-2008 and 2008-2009, <em>Russian Syntax,&nbsp;</em>a required course suspended since the academic year 2010-2011, is replaced by the elective course, <em>Selected Essays in Russian Literature</em> (2/2).</p>

<p>VII. For the students enrolled in the academic years 2007-2008 and 2008-2009, <em>Russian Morphology,&nbsp;</em>a required course suspended since the year 2010-2011, is replaced by the elective course, <em>Russian Novels and Films</em> (2/2).</p>

<p>Any conditions not mentioned here shall be addressed case by case in light of students’ individual situation.</p>