<h3><strong>Test time</strong></h3>

<p>
	<br>
</p>

<p><strong>Elementary (A1)&nbsp;</strong></p>

<p>Writing: 30 mins.</p>

<p>Speaking: 10 mins.( preparation)+ 15 mins. (Oral test)</p>

<p>Lexis. Grammar: 40 mins</p>

<p>Reading: 40 mins.</p>

<p>Listening: 30 mins.</p>

<p>
	<br>
</p>

<p><strong>Basic (A2)</strong></p>

<p>Writing: 50 mins.</p>

<p>Speaking: 10 mins.( preparation)+ 15 mins. (Oral test)</p>

<p>Lexis. Grammar: 50 mins.</p>

<p>Reading: 50 mins.</p>

<p>Listening: 50 mins.</p>

<p>
	<br>
</p>

<p>
	<br>
</p>

<p><strong>First Certificate Level (B1)</strong></p>

<p>Writing: 60 mins.</p>

<p>Speaking: 25 mins.( preparation)+ 35 mins. (Oral test)</p>

<p>Lexis. Grammar: 60 mins.</p>

<p>Reading: 50 mins.</p>

<p>Listening: 35 mins.</p>

<p>
	<br>
</p>

<p><strong>Second Certificate Level (B2)</strong></p>

<p>Writing: 55 mins.</p>

<p>Speaking: 45 mins.</p>

<p>Lexis. Grammar: 90 mins.</p>

<p>Reading: 60 mins.</p>

<p>Listening: 35 mins.</p>

<p>
	<br>
</p>

<p><strong>Third Certificate Level (C1)</strong></p>

<p>Writing: 75 mins.</p>

<p>Speaking: 45 mins.</p>

<p>Lexis. Grammar: 90 mins.</p>

<p>Reading: 60 mins.</p>

<p>Listening: 35 mins.</p>

<p>
	<br>
</p>