<p><span style="color:#ffffff"><span style="font-size:20px"><strong><span style="background-color:#0000ff">考試分發入學</span></strong></span></span></p>

<p><span style="font-size:20px"><strong>招生名額 12</strong></span></p>

<p><span style="font-size:20px"><strong>外加名額 2%</strong></span></p>

<p>&nbsp;</p>

<h3><span style="font-size:20px"><strong>指定考試採計科目及方法</strong></span></h3>

<ol>
	<li>國文 x 2.0</li>
	<li>英文 x 2.0</li>
	<li>歷史 x 1.0</li>
</ol>

<p><span style="font-size:20px"><strong>同分參酌順序</strong></span></p>

<ol>
	<li>英文</li>
	<li>國文</li>
	<li>歷史</li>
</ol>