<p><strong><span style="font-size:14px">依「淡江大學俄文系大二異地學習實施要點」辦理。</span></strong></p>

<p><span style="font-size:14px"><strong>異地學習學校：</strong>北京大學外國語學院俄語系、上海外國語大學俄羅斯東歐中亞學院</span></p>

<p><span style="font-size:14px"><strong>甄選作業流程：</strong></span></p>

<ol>
	<li>評比標準：<span style="font-size:14px">一年級學生上學期俄語主科之成績平均</span>。</li>
	<li>推薦名額：<span style="font-size:14px">北京大學&nbsp;2名、上海外國語大學 2名。</span></li>
	<li><span style="font-size:14px">甄選時間：</span>約每年3月中下旬，依公告時間辦理。</li>
	<li>公告名單：依審查會議結果公告正取生與備取生名單，並印發相關資料給正取生，請同學們利用春假與家長討論和提交文件。</li>
	<li>春假後(或4月中)一週內請正取生將<strong>報名表</strong>、<strong>家長同意書</strong>和<strong>保證金</strong>繳交系辦，始確定推薦資格；否，則視同放棄，由備取生依次遞補。</li>
</ol>

<p><span style="font-size:14px"><strong>行前準備：</strong></span></p>

<ol>
	<li>本計畫為自費交流，學生須自行負擔往返機票費、證件規費；另學費部分，須繳交本校四分之一學雜費和當地學校學分費、住宿費和規定之學雜費。</li>
	<li>本計畫無帶隊老師隨行赴陸。</li>
	<li>學生須自行申辦所有赴陸所需證件及文件。</li>
	<li>學生須依照本校及異地學習學校之相關規定完成報名註冊手續及相關程序作業。</li>
	<li>役男須辦理兵役緩徵才能出國，將由系上統一出具兵役公文至各縣市兵役課辦理。</li>
	<li>每年7月於學生出境前辦理異地學習說明會，由前一年參加計畫學長姊返校經驗分享和說明注意事項。</li>
	<li>每位學生須在出境前購買海外健康醫療險。</li>
</ol>

<p><span style="font-size:14px"><strong>異地學習期間：</strong></span></p>

<ol>
	<li>學生於異地學習期間必須選修與本系二年級開課之相同專業必、選修科目。</li>
	<li>每校推選1名學生代表，定期與系上聯繫；承辦人也定期以電子郵件、網路通訊平台或是即時通與同學們連絡，關心學生在國外之課業及生活狀況。</li>
	<li>如遇緊急事件，同學應立即通知當地學校系主任、老師或相關人員，請求給予協助，另立即與淡江大學系上取得聯繫報告事件之情形，以維護學生自身之權益。</li>
</ol>

<p><span style="font-size:14px"><strong>異地學習結束：</strong></span></p>

<ol>
	<li>役男應於規定期限內返國。</li>
	<li>修學分成績及格者可予以採認本系二年級開課表相對應之專業必修或選修學分；如有修習體育取得成績，亦可採認。</li>
	<li>學生返國後應提交異地學習心得，須包括前言、學習過程和學習成效等，並提供交流期間相片花絮。</li>
</ol>

<p><span style="font-size:14px"><strong>歷年交流人數：</strong></span></p>

<table border="1" cellpadding="1" cellspacing="1" style="width:500px">
	<tbody>
		<tr>
			<td style="text-align:center">學年度/人數</td>
			<td style="text-align:center">北京大學外國語學院俄語系</td>
			<td style="text-align:center">上海外國語大學俄羅斯東歐中亞學院</td>
		</tr>
		<tr>
			<td style="text-align:center">101</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">&nbsp;</td>
		</tr>
		<tr>
			<td style="text-align:center">102</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">2</td>
		</tr>
		<tr>
			<td style="text-align:center">103</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">2</td>
		</tr>
		<tr>
			<td style="text-align:center">104</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">2</td>
		</tr>
		<tr>
			<td style="text-align:center">105</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">2</td>
		</tr>
		<tr>
			<td style="text-align:center">106</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">2</td>
		</tr>
		<tr>
			<td style="text-align:center">107</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">2</td>
		</tr>
		<tr>
			<td style="text-align:center">累計人數</td>
			<td style="text-align:center">14</td>
			<td style="text-align:center">12</td>
		</tr>
		<tr>
			<td style="text-align:center">108預計人數</td>
			<td style="text-align:center">2</td>
			<td style="text-align:center">2</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>