<p><span style="font-size:20px"><span style="color:#ffffff"><strong><span style="background-color:#ff0000">個人申請入學</span></strong></span></span></p>

<p><span style="color:#008000"><span style="font-size:14px"><span style="background-color:#f0fff0">淡江大學俄國語文學系 110 學年度個人申請入學Q&amp;A 群組&nbsp;&nbsp;</span></span></span></p>

<p><img src="/storage/app/media/Russian/cropped-images/110qa-0-0-0-0-1616762651.jpg" /></p>

<p><span style="font-size:20px"><strong>招生名額 34</strong></span></p>

<p><span style="font-size:18px">預計甄試人數 102</span></p>

<p><span style="font-size:20px"><strong>原住民外加名額 2</strong></span></p>

<p>&nbsp;</p>

<p><span style="font-size:20px"><strong>甄選成績比例</strong></span></p>

<ul>
	<li><span style="font-size:18px">學測總成績：20%</span></li>
	<li><span style="font-size:18px">書面審查成績：40%</span></li>
	<li><span style="font-size:18px">面試成績：40%</span></li>
</ul>

<p><span style="font-size:20px"><strong>同級分(分數)超額篩選方式</strong></span></p>

<ol>
	<li><span style="font-size:18px">學測國文、英文之級分總和</span></li>
	<li><span style="font-size:18px">學測英文級分</span></li>
</ol>

<p><span style="font-size:20px"><strong>審查資料項目</strong></span></p>

<ul>
	<li><span style="font-size:18px">修課紀錄 ( B )</span></li>
	<li><span style="font-size:18px">多元表現 ( E、J )</span></li>
	<li><span style="font-size:18px">學習歷程自述 ( N、O )</span></li>
	<li><span style="font-size:18px">其他 ( Q.面試PPT簡報檔 )</span></li>
</ul>

<p>&nbsp;</p>

<p><a href="https://www.tfux.tku.edu.tw/russian/opinion/392/4519"><span style="color:#ff0000"><span style="font-size:20px"><span style="background-color:#fff0f5">淡江大學俄國語文學系110學年度大學甄選「個人申請入學」相關注意事項</span></span></span></a></p>

<p><a href="https://www.tfux.tku.edu.tw/storage/app/media/110%E5%AD%B8%E5%B9%B4%E5%BA%A6%E4%BF%84%E6%96%87%E7%B3%BB%E5%AF%A9%E6%9F%A5%E8%B3%87%E6%96%99%E6%BA%96%E5%82%99%E6%96%B9%E5%90%91%E8%AA%AA%E6%98%8E.jpg"><u><span style="color:#0000cd"><span style="font-size:20px"><span style="background-color:#ffff00">審查資料準備方向說明</span></span></span></u></a></p>