<h3><strong><span style="font-size:20px"><span style="color:#ffffff"><span style="background-color:#0000ff">日間學制寒假轉學生招生</span></span></span></strong></h3>

<p><a href="https://adms.tku.edu.tw/File/Userfiles/0000000095/files/%E6%B7%A1%E6%B1%9F%E5%A4%A7%E5%AD%B8109%E5%AD%B8%E5%B9%B4%E5%BA%A6%E6%97%A5%E9%96%93%E5%AD%B8%E5%88%B6%E5%AF%92%E5%81%87%E8%BD%89%E5%AD%B8%E7%94%9F%E6%8B%9B%E7%94%9F%E7%B0%A1%E7%AB%A0(2).pdf"><strong><span style="font-size:18px">簡章</span></strong></a></p>

<p><span style="font-size:18px"><strong>1. 109學年度招生重要日程</strong><br />
※ 報名日期：109年12月10日10:00至12月30日下午4:00。<br />
※ 考試日期：110年01月18日。<br />
&nbsp;※ 放榜日期：110年01月27日</span></p>

<p><span style="font-size:18px"><strong>招生系別：</strong></span></p>

<p><span style="font-size:18px">俄文系三年級</span></p>

<p><span style="font-size:18px"><strong>招生名額：</strong></span></p>

<p><span style="font-size:18px">一般生 暫定招 生名額&nbsp; <strong>4名</strong>、退伍軍人外加招生名額&nbsp;&nbsp;<strong>1名</strong></span></p>

<p><strong><span style="font-size:18px">考試科目(比重)：</span></strong></p>

<p><span style="font-size:18px">俄語翻譯(*1)、俄語語法(*1)</span></p>

<p><span style="font-size:18px"><strong>同分參酌：</strong></span></p>

<p><span style="font-size:18px">1. 俄語翻譯、 2. 俄語語法</span></p>

<p><span style="font-size:18px"><strong>備註：</strong></span></p>

<p><span style="font-size:18px">除須通過本校英語 能力檢定畢業門檻 外，另亦須通過 「俄語檢定 TORFL」第一級， 始得畢業。</span></p>

<div style="page-break-after: always"><span style="display:none">&nbsp;</span></div>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size:20px"><strong><span style="color:#ffffff"><span style="background-color:#ff0000">日間學制轉學生招生</span></span></strong></span></p>

<p><span style="font-size:18px">簡章 (110學年度簡章5/20公告)</span></p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size:18px">資料來源參考<a href="https://adms.tku.edu.tw/Main.aspx">淡江大學招生策略中心</a></span></p>