<h3 style="font-style: italic;"><span style="font-size:18px"><strong><big><font color="#000000" face="monospace">2017 俄語夏令營</font></big></strong></span></h3>

<h2 style="font-style:italic"><a href="http://youtu.be/tp_QhDO2IpQ">http://youtu.be/tp_QhDO2IpQ</a>&nbsp;</h2>

<p>&nbsp;</p>

<h3><span style="font-size:18px"><big><em><strong>2016 俄語夏令營</strong></em></big></span></h3>

<h2 style="font-style:italic"><a href="http://youtu.be/kPXrm2RFP1A">http://youtu.be/kPXrm2RFP1A</a></h2>

<p>&nbsp;</p>

<h3><strong><span style="font-size:18px"><em><big>2015 俄語夏令營</big></em></span></strong></h3>

<h2 style="font-style:italic"><a href="http://youtu.be/4uhsU5wEGqg">http://youtu.be/4uhsU5wEGqg</a></h2>