<table border="1" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td style="height:17px; width:118px">
			<p style="text-align: center;">&nbsp;Year</p>
			</td>
			<td style="height:17px; width:576px">
			<p style="text-align: center;">History</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>1993.10&nbsp; &nbsp;</p>
			</td>
			<td style="height:17px; width:576px">
			<p>The Department of Russian in Tamkang University is established. Professor Wan-Chin Tai heads the Department as the first dean. All full-time faculty members are Russian except for the Dean.</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>1994.08</p>
			</td>
			<td style="height:17px; width:576px">
			<p>Professor Chi Yang succeeds Wan-Chin Tai as the second dean.</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>1995.09&nbsp; &nbsp;</p>
			</td>
			<td style="height:17px; width:576px">
			<p>&ldquo;The Junior Year Study Abroad Program&rdquo; begins.</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>1996.08</p>
			</td>
			<td style="height:17px; width:576px">
			<p>Professor М.В. Крюков succeeds Professor Chi Yang as the third dean.</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>1997.08</p>
			</td>
			<td style="height:17px; width:576px">
			<p>Professor А.А.Писарев succeeds Professor М.В. Крюков the fourth dean.</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>1997.09&nbsp;</p>
			</td>
			<td style="height:17px; width:576px">
			<p>The Government-funded Exchange Students Program with Moscow Language University takes place.</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>2000.09&nbsp;</p>
			</td>
			<td style="height:17px; width:576px">
			<p>&ldquo;Russian Government Scholarship Program&rdquo; sponsors students of the department to study in Russia for a year.</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>2001.08&nbsp; &nbsp; &nbsp;</p>
			</td>
			<td style="height:17px; width:576px">
			<p>Two Taiwanese professors were hired as full-time faculty members for the first time.</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>2002.08&nbsp;</p>
			</td>
			<td style="height:17px; width:576px">
			<p>The first alumna of the Department, Ms. Liu Hwang-Shing, is hired as full-time professor.</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>2003.08&nbsp; &nbsp;</p>
			</td>
			<td style="height:17px; width:576px">
			<p>Professor Vladimir Maliavin succeeds Professor А.А.Писарев as the fifth dean.</p>

			<p>It is the 10th anniversary of the Department.</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>2006.12&nbsp; &nbsp;</p>
			</td>
			<td style="height:17px; width:576px">
			<p>The fourth alumna Ms. Chao Shih-Hsuan passes the Special Examination for Consular and Diplomatic Personnel of this year.</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>2007.08&nbsp; &nbsp; &nbsp;</p>
			</td>
			<td style="height:17px; width:576px">
			<p>Associate Professor Chang Ching-Gwo succeeds Professor Vladimir Maliavin as the sixth dean.</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>2008.12&nbsp; &nbsp;</p>
			</td>
			<td style="height:17px; width:576px">
			<p>The fourth alumna Ms. Shiu Kuan-Huai passes the Special Examination for Consular and Diplomatic Personnel of this year.</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>2009.04</p>
			</td>
			<td style="height:17px; width:576px">
			<p>The Department is accredited by Higher Education Evaluation and Accreditation Council of Taiwan (HEEACT)</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>2011.08&nbsp;</p>
			</td>
			<td style="height:17px; width:576px">
			<p>Associate Professor Chang Ching-Gwo succeeds himself as the seventh dean.</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>2011.12&nbsp;</p>
			</td>
			<td style="height:17px; width:576px">
			<p>&nbsp;&ldquo;2011 Tamkang University&rsquo;s first Test of Russian as a Foreign Language&rdquo; is held.</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>2012.06&nbsp; &nbsp;</p>
			</td>
			<td style="height:17px; width:576px">
			<p>&ldquo;2012 Tamkang University&rsquo;s second Test of Russian as a Foreign Language&rdquo; is held.</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>2013.08&nbsp;</p>
			</td>
			<td style="height:17px; width:576px">
			<p>Associate Professor Su Shwu-Yann succeeds Associate Professor Chang Ching-Gwo succeeds as the 8<sup>th</sup> dean.</p>

			<p>It is the 20th anniversary of the Department.</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>2015.08&nbsp;</p>
			</td>
			<td style="height:17px; width:576px">
			<p>Associate Professor Su Shwu-Yann succeeds Associate Professor Chang Ching-Gwo succeeds as the 9<sup>th</sup> dean.</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>2017.08&nbsp;</p>
			</td>
			<td style="height:17px; width:576px">
			<p>Associate Professor Liu Huang Xing &nbsp;succeeds Associate Professor Su Shwu-Yann succeeds as the 11<sup>th</sup> dean.</p>
			</td>
		</tr>
		<tr>
			<td style="height:17px; width:118px">
			<p>2018.11&nbsp; &nbsp;</p>
			</td>
			<td style="height:17px; width:576px">
			<p>It is the 25th anniversary of the Department.</p>
			</td>
		</tr>
	</tbody>
</table>