<p>Порядок подачи заявлений на стипендии от Министерства образования Тайваня для талантливых студентов на годичные стажировки в зарубежных ВУЗах</p>

<p data-empty="true">
	<br>
</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;Критерии отбора:</p>

<ol>
	<li>Общая программа стипендий: оценки за последний семестр должны быть в числе 25% самых успеваемых студентов группы.</li>
	<li>Программа стипендий для студентов из малоимущих семей: квоты не ограничены, однако необходимо предъявление справки о семейных доходах. Оценки за предыдущий семестр одлжны быть в числе 40% самых успеваемых студентов группы.</li>
	<li>Начиная с 2012 года учащиеся нашего факультета, подающие заявление на стипендии, должны обладать сертификатом базового уровня Теста по русскому языку как иностранному.</li>
</ol>

<p data-empty="true">
	<br>
</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;Квоты, рекомендуемые для факультетов:</p>

<ol>
	<li>Если количество студентов факультета, проходящих обучение за рубежом, не превышает 35 человек, рекомендуемая квота составляет 5 человек.</li>
	<li>Если количество студентов факультета, проходящих обучение за рубежом, превышает 35 человек, то рекомендуемая квота составляет 10 человек.</li>
</ol>

<p data-empty="true">
	<br>
</p>

<p>&nbsp; &nbsp; &nbsp; &nbsp;Документы для оформления стипендии:</p>

<ol>
	<li>Годовая ведомость успеваемости на китайском языке.</li>
	<li>Сертификат, подтверждающий знание иностранного языка, либо ведомость успеваемости (уровень выше ibt45 для англоязычных стран, для других стран требования определяет факультет).</li>
	<li>Автобиография на китайском языке</li>
	<li>План учёбы на китайском и английском языках</li>
	<li>Анкета-заявление персональными данными и цветной фотографией 5*5 см (2 дюйма).</li>
</ol>

<p data-empty="true">
	<br>
</p>

<p>Выбор учебного заведения</p>

<p>На основе рекомендаций факультета выбираются наиболее известные и престижные зарубежные университеты, согласно мировому рейтингу лучших университетов Academic Ranking of World Universities. Кроме того, учебное заведение должно соответствовать базовым критериям, определяемым Министерством образования. Подробная информация по данному вопросу содержится в официальных документах этого ведомства.</p>