<h2 itemprop="headline">Language Testing Centre</h2>
<div itemprop="articleBody">

	<p>
		<br>
	</p>

	<p>The Language Testing Centre at St Petersburg University was established on 22 August 1997. The centre organises and conducts state testing of foreign citizens in the Russian language as a foreign language (TORFL). For more than 20 years, St Petersburg University has been one of the leaders in the field of language testing foreign citizens.</p>

	<p>By&nbsp;the Order of&nbsp;the Ministry of&nbsp;Education and Science of&nbsp;the Russian Federation of&nbsp;22&nbsp;February 2018&nbsp;No 130, St&nbsp;Petersburg University was included in&nbsp;the list of&nbsp;educational organisations that have the right&nbsp;to: conduct testing in&nbsp;Russian as&nbsp;a&nbsp;foreign language; and issue a&nbsp;state-approved certificate. This certificate is&nbsp;the only official document certifying the level of&nbsp;proficiency in&nbsp;Russian as&nbsp;a&nbsp;foreign language in&nbsp;accordance with the Common European Language Competences (CEFR). The certificate is&nbsp;required for admission to&nbsp;Russian universities. It&nbsp;is&nbsp;also included in&nbsp;the package of&nbsp;documents required for being naturalised in&nbsp;the Russian Federation.</p>

	<p>Besides conducting state testing in Russian as a foreign language, St Petersburg University was authorised by the Order of the Ministry of Education and Science of the Russian Federation of 29 August 2017 No 856 to conduct a comprehensive examination of: the Russian language; the history of Russia; and the fundamentals of the legislation of the Russian Federation (comprehensive examination). The certificate of ‘proficiency in Russian, and knowledge of the history of Russia and the fundamentals of the legislation of the Russian Federation’ issued by St Petersburg University is a necessary document when obtaining a work permit (or patent), a temporary residence permit, and a residence permit.</p>

	<p>
		<br>
	</p>

	<p>The Russian state system of certification levels for proficiency in Russian as a foreign language (TORFL) includes the following tests:</p>

	<table style="margin-right: calc(42%); width: 58%;">
		<tbody>
			<tr>
				<td>ET</td>
				<td>Elementary (A1)</td>
			</tr>
			<tr>
				<td>PT</td>
				<td>Basic (A2)</td>
			</tr>
			<tr>
				<td>TORFL-1</td>
				<td>First Certificate Level (B1)</td>
			</tr>
			<tr>
				<td>TORFL-2</td>
				<td>Second Certificate Level (B2)</td>
			</tr>
			<tr>
				<td>TORFL-3</td>
				<td>Third Certificate Level (C1)</td>
			</tr>
			<tr>
				<td>TORFL-4</td>
				<td>Fourth Certificate Level (C2)</td>
			</tr>
		</tbody>
	</table>
</div>

<p>
	<br>
</p>

<p><em>The TORFL comprises 5 parts examining language competences in different fields of language use: Writing, Lexis/ Grammar, Reading, Listening, and Speaking. </em></p>

<p><em>Elementary Level (TEL/A1).</em> Successful performance at the Test at Elementary Level represents a standard of initial competence in Russian which demonstrates a candidate can satisfy their elementary communicative needs in a limited number of everyday situations. The certificate of Elementary Level proves the competences of candidate for further language learning and achievement of Basic Level of Russian language proficiency.&nbsp;</p>

<p>
	<br>
</p>

<p><em>Basic Level (TBL/A2). </em>Successful performance at the Test at Basic Level represents a standard competence in Russian which demonstrates a candidate can satisfy their basic communicative needs in a limited number of situations in everyday and cultural spheres. This level stands for the minimum level required to obtain Russian citizenship. At the same time this level is not sufficient for studying in the Russian educational institutions, except for preparatory faculties (programs or courses) for foreigners.&nbsp;</p>

<p><em>1st Level Certificate (TORFL-I/B1).</em> Successful performance at the First Level Certificate indicates an intermediate level of language competence, which demonstrates a candidate can satisfy their main communicative needs in everyday, cultural, educational and professional spheres in line with the State Standard of Competence in Russian as a Foreign Language. In addition, the First Level Certificate authorizes its holder to apply to a Russian university.&nbsp;</p>

<p>
	<br>
</p>

<p><em>The 2nd Level Certificate (TORFL-II /В2).</em> Successful performance at the Second Level Certificate indicates a high level of competence in Russian which demonstrates a candidate can satisfy their communicative needs in a wide range of situations in cultural, educational and professional spheres. It allows its holder to receive bachelor's, master's and PhD degrees from Russian universities, excluding certain philology-related subjects. This level also allows one to carry out professional activities in the Russian language in the related subject areas: humanitarian sciences (except for philology), engineering, natural sciences, etc.&nbsp;</p>

<p>
	<br>
</p>

<p><em>The 3rd Level Certificate (TORFL-III /C1). </em>Successful performance at the Third Level Certificate indicates that the candidate has a high level of language command in all communicative contexts, which allows them to conduct professional activity in Russian in areas such as Linguistics, Translation, Editing, Journalism, International Relations and Management.&nbsp;</p>

<p>
	<br>
</p>

<p><em>The 4th Level Certificate (TORFL-IV/C2).</em> Successful performance at the Fourth Level Certificate indicates Proficiency in Russian and the candidate's language competence close to a native Russianspeaker. It also enables its holder to receive a Master of Arts degree in philology, undertake all forms of work in Russian philology.&nbsp;</p>

<p>
	<br>
</p>

<p><strong>A score of at least 66% in each subtest is required to pass the exam. </strong></p>