<p>◎<a class="fr-file" href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/104%E5%AD%B8%E5%B9%B4%E4%BF%84%E6%96%87%E7%B3%BB%E5%B0%88%E6%A5%AD%E5%BF%85%E4%BF%AE%E9%81%B8%E4%BF%AE%E9%96%8B%E8%AA%B2%E7%A7%91%E7%9B%AE%E8%A1%A8.pdf">104學年俄文系專業必修選修開課科目表</a></p>

<p>◎<a class="fr-file" href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/105%E5%AD%B8%E5%B9%B4%E4%BF%84%E6%96%87%E7%B3%BB%E5%B0%88%E6%A5%AD%E5%BF%85%E4%BF%AE%E9%81%B8%E4%BF%AE%E9%96%8B%E8%AA%B2%E7%A7%91%E7%9B%AE%E8%A1%A8.pdf">105學年俄文系專業必修選修開課科目表</a></p>

<p>◎<a class="fr-file" href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/106%E5%AD%B8%E5%B9%B4%E4%BF%84%E6%96%87%E7%B3%BB%E5%B0%88%E6%A5%AD%E5%BF%85%E4%BF%AE%E9%81%B8%E4%BF%AE%E9%96%8B%E8%AA%B2%E7%A7%91%E7%9B%AE%E8%A1%A8.pdf">106學年俄文系專業必修選修開課科目表</a></p>

<p>◎<a class="fr-file" href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/107%E5%AD%B8%E5%B9%B4%E4%BF%84%E6%96%87%E7%B3%BB%E5%B0%88%E6%A5%AD%E5%BF%85%E4%BF%AE%E9%81%B8%E4%BF%AE%E9%96%8B%E8%AA%B2%E7%A7%91%E7%9B%AE%E8%A1%A8.pdf">107學年俄文系專業必修選修開課科目表</a></p>

<p>◎<a class="fr-file" href="https://www.tfux.tku.edu.tw/storage/app/media/Russian/a6-106.pdf">&nbsp;俄文系課程地圖 (106)</a></p>