description = "學院標頭幻燈"
==
<div class="owl-carousel owl-theme" id="index_slider">
    {% for key,slider in sliders%}
    <div class="item">
        <img src='{{slider.path}}' alt="{{slider.title}}">
        <!-- <div class="slider_title">
            <h3>{{slider.title}}</h3>
            <p>{{slider.description}}</p>
            <a href="{{slider.picture_url}}" class="slider_more">了解更多</a>
        </div> -->
        <div class="slider_title">
            <div class="container">
                <div class="row">
                    <a href="{{slider.picture_url}}" title="{{slider.description}}">{{slider.title}}</a>
                    <div class="count_list">{{ key + 1 }} of {{ sliders.count() }}</div>
                </div>
            </div>    
        </div>
    </div>
    {% endfor %}
</div>